Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

[BACKPORT 1.11.latest] Bump click dependency via #12378 (#12431)
  .changes/unreleased/Dependencies-20260121-171712.yaml
  core/pyproject.toml
  tests/functional/cli/test_click_flags.py
Due: isort, black, flake8

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260203-000746.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260203-003415.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260203-005909.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Fully test and polish fixes to jinja rendering.
  core/dbt/parser/schema_renderer.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260203-015547.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Fix typing for unparsed DERIVED dimensions.
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Clean up commented code
  tests/functional/semantic_models/fixtures.py
Due: isort, black, flake8

Fix unparsed dimension definition (#12433)
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_renderer.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert "Fix unparsed dimension definition (#12433)"
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_renderer.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260203-022330.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Add more tests for v2 YAML serialized metrics
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

Fix unparsed dimension definition
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

update doc + dimension parsing logic
  core/dbt/parser/schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260203-024410.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260203-032901.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260203-033734.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260203-034614.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260203-053459.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Add more tests for v2 YAML serialized metrics (#12441)
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

Fix jinja assertion in `test_top_level_metric_with_doc_jinja_parsing`
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

Patricky/fix bugs try2 (#12439)
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_renderer.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: Update changelog
  .changes/unreleased/Fixes-20260124-212300.yaml
Due: none

Make a test case multiline to better reflect possible useage patterns
  tests/functional/semantic_models/fixtures.py
Due: isort, black, flake8

Fix bug in dimension rendering in on-model metrics' filters
  core/dbt/parser/schema_renderer.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix changie entry
  .changes/unreleased/Fixes-20260124-212300.yaml
Due: none

Tighten up renderer if-branch
  core/dbt/parser/schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Make a test case multiline to better reflect possible useage patterns (#12449)
  core/dbt/parser/schema_renderer.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix #12353: Add @requires.catalogs decorator to compile command (#12388)
  .changes/unreleased/Fixes-20260124-212300.yaml
  core/dbt/cli/main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

unit test normalize_file_contents
  tests/unit/parser/test_read_files.py
Due: isort, black, flake8

Clean up print statement
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

Clean up print statement (#12450)
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

dont fire config problem if loaded_at_query is defined for non metadata supporting adapter
  .changes/unreleased/Fixes-20260204-211128.yaml
  core/dbt/parser/sources.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

use event catcher in ut
  tests/unit/parser/test_parser.py
Due: isort, black, flake8

Add test asserting python model under the hood configs don't raise deprecations
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8

Stop raising deprecation warnings for internal python model configs
  .changes/unreleased/Fixes-20260204-184553.yaml
  core/dbt/jsonschemas/jsonschemas.py
  core/dbt/parser/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Handle `meta_keys_defaults` and `meta_keys_used` in prep for #12453
  core/dbt/jsonschemas/jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
