Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Update test and dbt-protos version
  core/pyproject.toml
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8

move setup_db.sh to scripts, remove test dir
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
  CONTRIBUTING.md
  core/hatch.toml
  scripts/setup_db.sh
  test/__init__.py
  test/interop/log_parsing/Cargo.lock
  test/interop/log_parsing/Cargo.toml
  test/interop/log_parsing/src/main.rs
Due: isort, black, flake8

missed a spot
  .github/workflows/main.yml
Due: none

cleanup stale test migration docs
  ARCHITECTURE.md
  tests/CONVERTING.md
Due: none

missed another spot
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
Due: none

fix symlink for windows setup_db.sh
  .flake8
  .github/actions/setup-postgres-windows/setup_db.sh
Due: none

more cleanup
  ARCHITECTURE.md
Due: none

improve error message clarity when detecting nodes with spaces in name (#12272)
  .changes/unreleased/Fixes-20251210-143935.yaml
  core/dbt/parser/manifest.py
  tests/functional/manifest_validations/test_check_for_spaces_in_model_names.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

safer access of empty flag
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

remove snowplow telemetry schemas for < 0.11.0 versions
  events/README.md
  events/schemas/com.fishtownanalytics/invocation_env_context.json
  events/schemas/com.fishtownanalytics/invocation_event.json
  events/schemas/com.fishtownanalytics/platform_context.json
  events/schemas/com.fishtownanalytics/run_model_context.json
Due: none

first pass: postgres testing
  .github/dbt-postgres-testing.yml
Due: none

run on push to branch
  .github/dbt-postgres-testing.yml
Due: none

mirror postgres testing with dbt-adapters repo
  .github/dbt-postgres-testing.yml
Due: none

add more branch triggers
  .github/dbt-postgres-testing.yml
Due: none

comment out integration tests for now
  .github/dbt-postgres-testing.yml
Due: none

delete deprecated create_adapter_plugins script
  core/scripts/create_adapter_plugins.py
Due: isort, black, flake8

Fix: Remove FreshnessStatus.Skip which doesnt exist
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

uncomment dbt-postgres-testing
  .github/dbt-postgres-testing.yml
Due: none

fix test_config_with_meta_key
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8

bump minimum dbt-common version
  core/pyproject.toml
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8

changelog entry
  .changes/unreleased/Under the Hood-20251215-155046.yaml
Due: none

update to use EMPTY_SEED_SIZE approach
  core/dbt/constants.py
  core/dbt/context/providers.py
  tests/functional/test_empty.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Features-20251215-174308.yaml
Due: none

improve test
  tests/functional/test_empty.py
Due: isort, black, flake8

Bumping version to 1.10.16 and generate changelog
  .bumpversion.cfg
  .changes/1.10.16.md
  .changes/unreleased/Features-20250925-171652.yaml
  .changes/unreleased/Fixes-20251117-185025.yaml
  .changes/unreleased/Fixes-20251124-155756.yaml
  .changes/unreleased/Fixes-20251125-122020.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

handle exceptions when firing NodeFinished event
  core/dbt/task/runnable.py
  tests/functional/dbt_runner/test_dbt_runner.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20251216-120727.yaml
Due: none

improve assertion
  tests/functional/dbt_runner/test_dbt_runner.py
Due: isort, black, flake8

Propagate exceptions for NodeFinished callbacks in dbtRunner (#12286)
  .changes/unreleased/Fixes-20251216-120727.yaml
  core/dbt/task/runnable.py
  tests/functional/dbt_runner/test_dbt_runner.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add missing return statement to RuntimeConfigObject.meta_require method
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry
  .changes/unreleased/Fixes-20251217-002813.yaml
Due: none

Correct expected error statement from meta_require test
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8

add -v (#12269)
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

support extending jsonschemas with aliases
  core/dbt/jsonschemas/jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20251217-105918.yaml
Due: none

add -v (#12269) (#12290)
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

ensure coverage when validating configs + unit test
  core/dbt/jsonschemas/jsonschemas.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

rename
  core/dbt/jsonschemas/jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
