Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Type TestRunner.execute and after_execute
  core/dbt/task/test.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix mypy errors in build.py and function.py surfaced by all-files check
  core/dbt/task/build.py
  core/dbt/task/function.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Type remaining runners: CloneRunner, NoOpRunner, ShowRunner
  core/dbt/runners/no_op_runner.py
  core/dbt/task/clone.py
  core/dbt/task/show.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Type FreshnessRunner as BaseRunner[FreshnessNodeResult]
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Type runnable.py: broaden call_runner and _handle_result to NodeResult
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix MockRunner in test_base.py: implement abstract methods
  tests/unit/task/test_base.py
Due: isort, black, flake8

Fix run.py: cast call_runner result to RunResult in batch_results.append
  core/dbt/task/run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie doc
  .changes/unreleased/Under the Hood-20260408-172031.yaml
Due: none

[TIDY-FIRST] Add typing to BaseRunner and subclasses (Part 1) (#12803)
  .changes/unreleased/Under the Hood-20260408-172031.yaml
  core/dbt/runners/no_op_runner.py
  core/dbt/task/base.py
  core/dbt/task/build.py
  core/dbt/task/clone.py
  core/dbt/task/compile.py
  core/dbt/task/freshness.py
  core/dbt/task/function.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
  core/dbt/task/show.py
  core/dbt/task/sql.py
  core/dbt/task/test.py
  tests/unit/task/test_base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add NodeT TypeVar to BaseRunner for per-subclass node type specialization
  core/dbt/task/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Specialize CompileRunner hierarchy with NodeT, removing union-attr/override ignores
  core/dbt/task/compile.py
  core/dbt/task/function.py
  core/dbt/task/run.py
  core/dbt/task/show.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Specialize FreshnessRunner[SourceDefinition], improve TestRunner node typing
  core/dbt/task/freshness.py
  core/dbt/task/test.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Specialize CloneRunner and NoOpRunner as BaseRunner[ResultNode, RunResult]
  core/dbt/runners/no_op_runner.py
  core/dbt/task/clone.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix freshness.py local var ignores; fix build.py RUNNER_MAP return-value
  core/dbt/task/build.py
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

[TIDY-FIRST] Type the runners - Part 2 (#12810)
  core/dbt/runners/no_op_runner.py
  core/dbt/task/base.py
  core/dbt/task/build.py
  core/dbt/task/clone.py
  core/dbt/task/compile.py
  core/dbt/task/freshness.py
  core/dbt/task/function.py
  core/dbt/task/run.py
  core/dbt/task/show.py
  core/dbt/task/test.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Decouple GenericSqlRunner from BaseRunner hierarchy
  core/dbt/task/sql.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie doc
  .changes/unreleased/Under the Hood-20260409-144221.yaml
Due: none

[TIDY-FIRST] Type the runners - Part 3 (#12811)
  .changes/unreleased/Under the Hood-20260409-144221.yaml
  core/dbt/task/sql.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feat: support merging vars_<target>.yml with vars.yml
  core/dbt/config/project.py
  core/dbt/config/runtime.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feat: support test-specific vars.yml and vars per target in tests/
  core/dbt/task/test.py
  core/dbt/task/test_vars_loader.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixed lint
  core/dbt/task/test_vars_loader.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Disable fsync on testing postgres instances for faster test runs
  .github/workflows/main.yml
  docker-compose.yml
Due: none

Disable fsync on macOS and Windows testing postgres instances
  .github/actions/setup-postgres-windows/action.yml
  scripts/setup_db.sh
Due: none

Update test durations for pytest-split
  core/.test_durations
Due: none

Update test durations for pytest-split (#12817)
  core/.test_durations
Due: none

Fix: Improve error messaging for snapshot unique-key violations (#10864)
  .changes/unreleased/10864.yaml
  core/dbt/task/snapshot.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: remove exact version pin for libpq-dev in Dockerfile
  docker/Dockerfile
Due: none

fix: add model name and file path to semantic manifest validation error
  core/dbt/contracts/graph/semantic_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie changelog entry for #12808
  .changes/unreleased/Fixes-20260412-215000.yaml
Due: none

Add changie changelog entry for #12722
  .changes/unreleased/Fixes-20260412-220000.yaml
Due: none

chore: add changie changelog entry for #12808
  .changes/unreleased/Fixes-20260412-215100.yaml
Due: none

fix: improve error message when snapshot unique_key has duplicates
  .changes/unreleased/Fixes-20260412-225900.yaml
  core/dbt/task/snapshot.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: handle_exception must return str, not raise
  core/dbt/task/snapshot.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changie changelog entry for #11070
  .changes/unreleased/Fixes-20260412-234400.yaml
Due: none

added support for JS UDFs
  core/dbt/artifacts/resources/types.py
  core/dbt/artifacts/resources/v1/macro.py
  core/dbt/clients/jinja.py
  core/dbt/parser/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add --inline flag to dbt run-operation for ad-hoc database statements
  core/dbt/cli/flags.py
  core/dbt/cli/main.py
  core/dbt/task/run_operation.py
  tests/functional/run_operations/test_run_operations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry for run-operation --inline
  .changes/unreleased/Features-20260413-120000.yaml
Due: none

allow rendering tests in versioned models
  .changes/unreleased/Fixes-20260413-134208.yaml
  core/dbt/parser/schema_renderer.py
  tests/unit/parser/test_schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: apply +schema from dbt_project.yml for YAML snapshots without config block
  .changes/unreleased/Fixes-20260413-120000.yaml
  core/dbt/parser/schemas.py
  tests/unit/parser/test_snapshots.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
