Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

added support to execute debug command after dbt init;
  core/dbt/task/debug.py
  core/dbt/task/init.py
  core/hatch.toml
  tests/functional/init/test_init.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

moved project creation success message after dbt debug message and added conditional failure at the end to inform users about failure of dbt debug
  core/dbt/task/init.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Added support to `--skip-debug` in `dbt init`
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/task/init.py
  core/hatch.toml
  tests/functional/init/test_init.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

small fixes
  core/dbt/cli/params.py
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added changelog
  .changes/unreleased/Features-20260219-133321.yaml
Due: none

added support for vars.yml in project root
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/constants.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Added unit tests and integration tests
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/tests/fixtures/project.py
  tests/functional/configs/test
  tests/functional/configs/test_vars_file.py
  tests/unit/config/test_vars_file.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

ensuring partial parsing is skipped when changing variables in vars.yml
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/parser/manifest.py
  tests/functional/partial_parsing/test_pp_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added changelog
  .changes/unreleased/Features-20260212-232728.yaml
Due: none

removed unnecessary file
  tests/functional/configs/test
Due: none

fixed breaking unit tests
  tests/unit/utils/project.py
Due: isort, black, flake8

removed unnecessary parameter from `validate_vars_not_in_both`
  core/dbt/config/project.py
  tests/unit/config/test_vars_file.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added more tests
  tests/functional/configs/test_vars_file.py
Due: isort, black, flake8

fixed formatting issue in runtime.py
  core/dbt/config/runtime.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Set expr on column-based dimensions and entities when name differs from column (#12512)
  .changes/unreleased/Fixes-20260219-170000.yaml
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  tests/unit/parser/test_v2_column_semantic_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

skip raising CustomKeyInConfigDeprecation for job_execution_timeout_seconds key in bigquery adapter
  .changes/unreleased/Fixes-20260219-175701.yaml
  core/dbt/jsonschemas/jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix #12379: Fixed Column Type Validation Logic and added tests for the same
  .changes/unreleased/Fixes-20260125-113244.yaml
  core/dbt/context/providers.py
  tests/functional/seeds/test_seed_column_type_validation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

#12379: Refactor seed column type validation
  .changes/unreleased/Fixes-20260125-113244.yaml
  core/dbt/context/providers.py
  tests/functional/seeds/test_seed_column_type_validation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix: set expr on column-based dimensions/entities when name differs from column (#12513)
  .changes/unreleased/Fixes-20260219-170000.yaml
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  tests/unit/parser/test_v2_column_semantic_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add comment
  core/dbt/jsonschemas/jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Map metric YAML hidden field to is_private and add test
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie file.
  .changes/unreleased/Fixes-20260219-131833.yaml
Due: none

Fix `static_analysis: off` interpreted as boolean false (#12015)
  .changes/unreleased/Fixes-20260219-120000.yaml
  core/dbt/artifacts/resources/v1/config.py
  core/dbt/artifacts/resources/v1/source_definition.py
  core/dbt/artifacts/resources/v1/unit_test_definition.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/unit_testing/test_ut_list.py
  tests/unit/contracts/graph/test_nodes_parsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

small changes for cleaner code
  core/dbt/task/init.py
  tests/functional/init/test_init.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix build check
  core/hatch.toml
Due: none

fix build check (#12519)
  core/hatch.toml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260220-170741.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Fix/Feature: Map metric YAML hidden field to is_private and add test (#12518)
  .changes/unreleased/Fixes-20260219-131833.yaml
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#12520)
  .changes/unreleased/Under the Hood-20260220-170741.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Add directory change instruction after dbt init
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry
  .changes/unreleased/Features-9041.yaml
Due: none

Address review feedback: show absolute project path in dbt init output
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix silent crash in dbt debug when profile has duplicate keys
  core/dbt/task/debug.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add on error property ( temporarily add it to latest.json as well for testing )
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/jsonschemas/resources/latest.json
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

made on_error optional and fixed failing ft
  core/dbt/artifacts/resources/v1/model.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added continue logic with ut and ft
  .changes/unreleased/Features-20260212-141041.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/jsonschemas/resources/latest.json
  core/dbt/task/runnable.py
  tests/functional/run_on_error/test_model_on_error.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added cross project ref tests
  tests/functional/run_on_error/fixtures.py
  tests/functional/run_on_error/test_model_on_error.py
  tests/functional/run_on_error/test_model_on_error_cross_project.py
Due: isort, black, flake8

added versioned models ft and nit fixes
  core/dbt/contracts/project.py
  core/dbt/parser/read_files.py
  core/dbt/parser/search.py
  tests/functional/compile/test_jinja_extensions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

move flag get to getattr to avoid erroring ut
  core/dbt/parser/read_files.py
  core/dbt/parser/search.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added install mode deepcopy
  core/dbt/contracts/project.py
  core/dbt/deps/local.py
  core/dbt/task/deps.py
  tests/functional/dependencies/test_local_dependency.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
