Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

fix uts
  tests/unit/graph/test_selector_methods.py
Due: isort, black, flake8

Installing skills using `dbt deps`
  core/dbt/config/project.py
  core/dbt/deps/skills.py
  core/dbt/task/deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Changelog entry
  .changes/unreleased/Features-20260423-125106.yaml
Due: none

Remove unused imports
  core/dbt/task/deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

drop dbt-semantic-interfaces, migrate to metricflow-semantic-interfaces
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/artifacts/resources/v1/metric.py
  core/dbt/artifacts/resources/v1/saved_query.py
  core/dbt/artifacts/resources/v1/semantic_layer_components.py
  core/dbt/artifacts/resources/v1/semantic_model.py
  core/dbt/constants.py
  core/dbt/contracts/graph/metrics.py
  core/dbt/contracts/graph/semantic_manifest.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/common.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schema_yaml_readers.py
  core/pyproject.toml
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Drop usage of deprecated `warn_or_error` handler method (#12872)
  .changes/unreleased/Under the Hood-20260423-130357.yaml
  core/dbt/config/runtime.py
  core/dbt/context/exceptions_jinja.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/deprecations.py
  core/dbt/deps/git.py
  core/dbt/deps/tarball.py
  core/dbt/graph/selector.py
  core/dbt/internal_deprecations.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schemas.py
  core/dbt/parser/sources.py
  core/dbt/task/list.py
  core/dbt/task/runnable.py
  tests/unit/graph/test_selector_methods.py
  tests/unit/test_functions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

revert dbt-common pin
  core/hatch.toml
  core/pyproject.toml
Due: none

update test imports from dbt_semantic_interfaces to metricflow_semantic_interfaces
  tests/functional/metrics/test_metrics.py
  tests/functional/saved_queries/test_configs.py
  tests/functional/saved_queries/test_saved_query_parsing.py
  tests/functional/semantic_models/test_semantic_model_parsing.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  tests/functional/time_spines/test_time_spines.py
  tests/unit/contracts/graph/test_manifest.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/contracts/graph/test_semantic_manifest.py
  tests/unit/contracts/graph/test_unparsed.py
  tests/unit/graph/test_nodes.py
  tests/unit/parser/test_v2_column_semantic_parsing.py
  tests/unit/test_semantic_layer_nodes_satisfy_protocols.py
  tests/unit/utils/manifest.py
Due: isort, black, flake8

Regenerate manifest v12 JSON schema
  .changes/unreleased/Under the Hood-20260424-073530.yaml
  schemas/dbt/manifest/v12.json
Due: none

Add automated changelog yaml from template for bot PR
  .changes/unreleased/Dependencies-20260424-004259.yaml
Due: none

Add automated changelog yaml from template for bot PR
  .changes/unreleased/Dependencies-20260424-004309.yaml
Due: none

remove direct refs allow hatch config
  core/pyproject.toml
Due: none

bump dbt common lowerbound
  core/pyproject.toml
Due: none

Add changelog entry for catalogs v2 spec
  .changes/unreleased/Features-20260424-120546.yaml
Due: none

Fix table_format casing in bridge: uppercase for snowflake, lowercase otherwise
  core/dbt/config/catalogs.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update test durations for pytest-split
  core/.test_durations
Due: none

Update test durations for pytest-split (#12881)
  core/.test_durations
Due: none

Rename _validate_u32_range to _validate_int_range, fix enum error message casing
  core/dbt/config/catalogs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add AI summary to docs issue workflow via AWS Bedrock
  .github/workflows/docs-issue.yml
Due: none

Switch AI summary to fetch + Bearer token, matching internal Bedrock pattern
  .github/workflows/docs-issue.yml
Due: none

Simplify env var naming: use AWS_BEDROCK_TOKEN consistently
  .github/workflows/docs-issue.yml
Due: none

Fix CodeQL code injection warnings in AI summary step
  .github/workflows/docs-issue.yml
Due: none

Refactor v2 catalog validation to typed dataclasses, fix unity file_format bug
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/catalog.py
  core/dbt/config/catalogs.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Refactor platform config validation to dbtClassMixin dataclasses
  core/dbt/artifacts/resources/v1/catalog.py
  core/dbt/config/catalogs.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove legacy allows_writes from stub catalog integrations in tests
  tests/functional/catalogs/test_catalogs_v2_parsing.py
Due: isort, black, flake8

Apply suggestion: drop 'one of:' prefix from table_format error message
  core/dbt/config/catalogs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

bring in latest jsonschema updates, add macros config test to happy path project (#12670)
  .changes/unreleased/Under the Hood-20260318-120715.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
  tests/functional/fixtures/happy_path_project/models/macros.yml
Due: none

change flag name
  core/dbt/cli/requires.py
  core/dbt/contracts/project.py
  tests/functional/warn_error/test_enable_grouped_warn_error_parser_logs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

bring in latest jsonschema updates, add macros config test to happy path project (#12670) (#12884)
  .changes/unreleased/Under the Hood-20260318-120715.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
  tests/functional/fixtures/happy_path_project/models/macros.yml
Due: none

Allow event deferral for warn / error events in parsing phase (#12687)
  .changes/unreleased/Features-20260422-021614.yaml
  core/dbt/cli/requires.py
  core/dbt/config/runtime.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/project.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schemas.py
  core/dbt/parser/sources.py
  core/pyproject.toml
  tests/functional/warn_error/test_enable_grouped_warn_error_parser_logs.py
  tests/unit/graph/test_selector_methods.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changed changelog to a breaking change
  .changes/unreleased/Breaking Changes-20260428-085419.yaml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260428-033558.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion (#12887)
  .changes/unreleased/Under the Hood-20260428-033558.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Address PR review feedback for overloaded UDFs
  core/dbt/artifacts/resources/v1/function.py
  core/dbt/artifacts/schemas/overload_results.py
  core/dbt/artifacts/schemas/run/v5/run.py
  core/dbt/compilation.py
  core/dbt/contracts/graph/manifest.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/parser/partial.py
  core/dbt/parser/schemas.py
  core/dbt/task/function.py
  core/dbt/task/retry.py
  core/dbt/task/run.py
  tests/functional/functions/test_overloaded_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update artifact schemas for overload_results + FunctionOverload
  schemas/dbt/manifest/v12.json
  schemas/dbt/run-results/v6.json
  tests/functional/artifacts/expected_run_results.py
Due: isort, black, flake8

Flip old behaviour flags (#12848)
  .changes/unreleased/Breaking Changes-20260428-085419.yaml
  core/dbt/contracts/project.py
  core/dbt/parser/macros.py
  core/dbt/parser/schemas.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/configs/test_configs_in_schema_files.py
  tests/functional/defer_state/test_modified_state.py
  tests/functional/macros/test_macro_annotations.py
  tests/functional/metrics/fixtures.py
  tests/functional/metrics/test_metric_configs.py
  tests/functional/metrics/test_metrics.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Rename --inline to --sql; log execution status
  .changes/unreleased/Features-20260413-120000.yaml
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/task/run_operation.py
  tests/functional/run_operations/test_run_operations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Move v2 platform configs to adapter packages; use registry for validation
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/catalog.py
  core/dbt/config/catalogs.py
  tests/functional/catalogs/test_catalogs_v2_parsing.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Use adapter-class CATALOG_V2_CONFIGS for v2 schema lookup
  core/dbt/config/catalogs.py
  tests/functional/catalogs/test_catalogs_v2_parsing.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Address review comments
  core/dbt/cli/params.py
  core/dbt/clients/jinja_static.py
  core/dbt/task/run_operation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
