Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

added "quote_args" property to functions snowflake config
  core/dbt/artifacts/resources/v1/function.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260413-144017.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

added changelog
  .changes/unreleased/Features-20260413-201835.yaml
Due: none

added more tests
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8

chore: sync JSON schemas from dbt-fusion (#12826)
  .changes/unreleased/Under the Hood-20260413-144017.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

resolve issues for 3.14 compat and adds 3.14 to test matrix
  .github/workflows/main.yml
  core/dbt/artifacts/resources/v1/components.py
  core/pyproject.toml
  tests/unit/utils/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changie and temporarily pin dbt sl to 3.14 compat branch
  .changes/unreleased/Under the Hood-20260413-205436.yaml
  core/pyproject.toml
Due: none

temporarily allow direct references
  core/pyproject.toml
Due: none

fix F541 flake8
  tests/unit/utils/manifest.py
Due: isort, black, flake8

feat(context): warn when load_result returns None during parse (#11070)
  .changes/unreleased/Features-20260411-184500.yaml
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260414-024006.yaml
  core/dbt/jsonschemas/project/latest.json
Due: none

Fix comment
  core/dbt/parser/schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Better changelog
  .changes/unreleased/Fixes-20260413-134208.yaml
Due: none

Support overloaded UDFs with shared aliases (#12250)
  .changes/unreleased/Features-20260414-073900.yaml
  core/dbt/contracts/graph/manifest.py
  core/dbt/parser/manifest.py
  tests/functional/functions/test_overloaded_udfs.py
  tests/unit/contracts/graph/test_function_lookup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix changelog wording: database function name, not alias
  .changes/unreleased/Features-20260414-073900.yaml
Due: none

[Fix] allow rendering tests in versioned models (#12824)
  .changes/unreleased/Fixes-20260413-134208.yaml
  core/dbt/parser/schema_renderer.py
  tests/unit/parser/test_schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feat: display adapter response message in test result output
  core/dbt/task/test.py
  tests/unit/task/test_test.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for test adapter response display
  .changes/unreleased/Features-20260414-132700.yaml
Due: none

feat: display bytes processed inside green brackets for tests
  core/dbt/events/types.py
  core/dbt/task/test.py
  tests/unit/task/test_test.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added changelog entry
  .changes/unreleased/Fixes-20260317-133144.yaml
Due: none

Add test for hub package missing version
  tests/functional/dependencies/test_simple_dependency.py
Due: isort, black, flake8

Fix validation check for package version
  core/dbt/contracts/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260414-193521.yaml
  core/dbt/jsonschemas/project/latest.json
Due: none

add node version serialization hack
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260414-231814.yaml
  core/dbt/jsonschemas/project/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260415-005304.yaml
  core/dbt/jsonschemas/project/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260415-011929.yaml
  core/dbt/jsonschemas/project/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260415-030144.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260415-041405.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion (#12841)
  .changes/unreleased/Under the Hood-20260415-041405.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

added tests
  tests/functional/test_empty.py
Due: isort, black, flake8

fixed issues in tests
  tests/functional/test_empty.py
Due: isort, black, flake8

added warnings on using unknown flags
  core/dbt/config/project.py
  core/dbt/deprecations.py
  tests/functional/basic/test_project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added changelog
  .changes/unreleased/Features-20260415-182840.yaml
Due: none

revert NodeVersion type changes and change same match fn instead
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/contracts/graph/nodes.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added checks during parsing for JS function <> adapter compatibility
  core/dbt/parser/manifest.py
  tests/functional/functions/test_udfs.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: state:modified does not detect .yml property changes for resource_type:function (#12548)
  .changes/unreleased/Fixes-20260304-140229.yaml
  core/dbt/contracts/graph/nodes.py
  tests/unit/contracts/graph/test_nodes.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

try removing the changes for type coercion
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

make float take precedence over int
  core/dbt/artifacts/resources/v1/components.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: state:modified does not detect .yml property changes for resource_type:function (#12548) (#12843)
  .changes/unreleased/Fixes-20260304-140229.yaml
  core/dbt/contracts/graph/nodes.py
  tests/unit/contracts/graph/test_nodes.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
