Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

add file links
  docs/arch/4.1_Task_Framework.md
  docs/arch/4.2_Graph_Compilation.md
  docs/arch/4.3_Node_Selection.md
  docs/arch/4.4_Node_Compilation.md
  docs/arch/6.4_dbt_seed.md
Due: none

add clarification
  docs/arch/4.3_Node_Selection.md
  docs/arch/4.5_Node_Materialization.md
Due: none

add commit signing to contributing notes
  CONTRIBUTING.md
Due: none

Add docs/arch! (#12356)
  CONTRIBUTING.md
  core/dbt/cli/README.md
  docs/arch/1_Overview.md
  docs/arch/2_CLI.md
  docs/arch/3.1_Partial_Parsing.md
  docs/arch/3.2_Deferral.md
  docs/arch/3_Parsing.md
  docs/arch/4.1_Task_Framework.md
  docs/arch/4.2_Graph_Compilation.md
  docs/arch/4.3_Node_Selection.md
  docs/arch/4.4_Node_Compilation.md
  docs/arch/4.5_Node_Materialization.md
  docs/arch/4_Execution.md
  docs/arch/5_Adapter.md
  docs/arch/6.10_dbt_compile.md
  docs/arch/6.11_dbt_source.md
  docs/arch/6.12_dbt_run-operation.md
  docs/arch/6.13_dbt_init.md
  docs/arch/6.14_dbt_list.md
  docs/arch/6.15_dbt_retry.md
  docs/arch/6.16_dbt_clone.md
  docs/arch/6.17_dbt_debug.md
  docs/arch/6.18_dbt_clean.md
  docs/arch/6.1_dbt_parse.md
  docs/arch/6.2_dbt_run.md
  docs/arch/6.3_dbt_build.md
  docs/arch/6.4_dbt_seed.md
  docs/arch/6.5_dbt_snapshot.md
  docs/arch/6.6_dbt_test.md
  docs/arch/6.7_dbt_show.md
  docs/arch/6.8_dbt_deps.md
  docs/arch/6.9_dbt_docs.md
  docs/arch/6_Commands.md
  docs/arch/7_Artifacts.md
  docs/arch/8_Versioning_Branching_Strategy.md
Due: none

Add dimension value to manifest tests to fix test runs.
  tests/functional/artifacts/expected_manifest.py
  tests/functional/docs/test_good_docs_blocks.py
Due: isort, black, flake8

Parse dimensions defined on dbt columns into a semantic model (#12386)
  .changes/unreleased/Features-20260123-173805.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/common.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/docs/test_good_docs_blocks.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

All black formatting passed
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8

Fix BigQuery source alias deprecation warning (#12327)
  core/dbt/jsonschemas/jsonschemas.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry for #12327
  .changes/unreleased/Fixes-20260126-160659.yaml
Due: none

Add new-syle YAML unparsed metric
  .changes/unreleased/Features-20251111-103504.yaml
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add warning and tests for missing seed column_types
  .changes/unreleased/Fixes-20260125-022647.yaml
  core/dbt/context/providers.py
  tests/unit/context/test_providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Handle unreadable/empty seed headers during column_types validation
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260128-062310.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

feat: Use database column comments for source documentation when YAML is unavailable
  IMPLEMENTATION_SUMMARY.md
  core/dbt/task/docs/generate.py
  tests/functional/docs/test_generate.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix BigQuery source alias deprecation warning (#12327) (#12337)
  .changes/unreleased/Fixes-20260126-160659.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Change changie issue number
  .changes/unreleased/Features-20251111-103504.yaml
Due: none

Add Semantic entities to columns for new YAML
  .changes/unreleased/Features-20260126-164458.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/common.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/docs/test_good_docs_blocks.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add new-syle YAML (Parsed) Metric
  .changes/unreleased/Features-20260127-114149.yaml
  core/dbt/artifacts/resources/v1/metric.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Change changie issue number
  .changes/unreleased/Features-20260126-164458.yaml
Due: none

Fix lint.
  core/dbt/contracts/graph/nodes.py
  core/dbt/parser/schemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Parse metrics on models
  .changes/unreleased/Features-20260127-214617.yaml
  core/dbt/artifacts/resources/v1/metric.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Change changie issue number
  .changes/unreleased/Features-20260127-114149.yaml
Due: none

Add derived_semantics.entities to models
  .changes/unreleased/Features-20260128-125727.yaml
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Change changie issue number
  .changes/unreleased/Features-20260127-214617.yaml
Due: none

Add Semantic entities to columns for new YAML (#12395)
  .changes/unreleased/Features-20260126-164458.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/common.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/docs/test_good_docs_blocks.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add derived_semantics.entities to models (#12401)
  .changes/unreleased/Features-20260128-125727.yaml
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert "Add derived_semantics.entities to models (#12401)"
  .changes/unreleased/Features-20260128-125727.yaml
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add new-syle YAML unparsed metric (#12157)
  .changes/unreleased/Features-20251111-103504.yaml
  .changes/unreleased/Features-20260126-164458.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/common.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/docs/test_good_docs_blocks.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add Parsed class for new-style YAML Metric (#12161)
  .changes/unreleased/Features-20260127-114149.yaml
  core/dbt/artifacts/resources/v1/metric.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Parse metrics on models (#12397)
  .changes/unreleased/Features-20260127-214617.yaml
  .changes/unreleased/Features-20260128-125727.yaml
  core/dbt/artifacts/resources/v1/metric.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add derived dimensions for SL v2 YAML
  .changes/unreleased/Features-20260128-172052.yaml
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260129-073554.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
