Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

removed unnecessary test
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8

fix(freshness): preserve sources in sources.json when warn-error raises during after_execute
  core/dbt/artifacts/schemas/freshness/v3/freshness.py
  core/dbt/task/runnable.py
  tests/unit/task/test_freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for #12812 freshness fix
  .changes/unreleased/Fixes-20260415-120000.yaml
Due: none

Support overloaded UDFs via overrides block (#12250)
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/function.py
  core/dbt/contracts/graph/manifest.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/jsonschemas/resources/latest.json
  core/dbt/parser/partial.py
  core/dbt/parser/schemas.py
  core/dbt/task/function.py
  tests/functional/functions/test_overloaded_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Error on --args with --inline; skip compile for Jinja-free inline SQL
  core/dbt/task/run_operation.py
  tests/functional/run_operations/test_run_operations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added validation for sources and semantic model names
  core/dbt/contracts/project.py
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added tests
  tests/functional/manifest_validations/test_check_for_spaces_in_source_and_semantic_model_names.py
Due: isort, black, flake8

added changelog
  .changes/unreleased/Fixes-20260416-124251.yaml
Due: none

small fixes to the tests
  tests/functional/manifest_validations/test_check_for_spaces_in_source_and_semantic_model_names.py
Due: isort, black, flake8

added behavior flag which turns the warning into error
  core/dbt/config/project.py
  core/dbt/contracts/project.py
  tests/functional/basic/test_project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

undo NodeVersion change
  core/dbt/artifacts/resources/v1/components.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

using get_flags() instead of args
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

switched all flags from 1.10 and 1.9 to true
  core/dbt/contracts/project.py
  core/dbt/parser/macros.py
  core/dbt/parser/schemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

pin adapters for ci for testing
  core/hatch.toml
Due: none

fixed all tests that failed because of the flip
  tests/functional/artifacts/expected_manifest.py
  tests/functional/configs/test_configs_in_schema_files.py
  tests/functional/defer_state/test_modified_state.py
  tests/functional/macros/test_macro_annotations.py
  tests/functional/metrics/fixtures.py
  tests/functional/metrics/test_metric_configs.py
  tests/functional/metrics/test_metrics.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8

try NodeVersion change
  core/dbt/artifacts/resources/v1/components.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added todo
  core/dbt/artifacts/resources/v1/components.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix(retry): resolve unique_id hash mismatch in retry task
  core/dbt/task/retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog for retry unique_id fix
  .changes/fix-retry-unique-id-mismatch.md
Due: none

added changelog
  .changes/unreleased/Under the Hood-20260417-164705.yaml
Due: none

undid change in resolve_limit to use self.config.args since some tests depend on it
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

temporarily pin adapters to commit for final test
  core/pyproject.toml
Due: none

conditionally disabled tests that depend on mashumaro boolean coercion
  tests/functional/configs/test_disabled_model.py
  tests/functional/exposures/test_exposure_configs.py
  tests/functional/invalid_model_tests/test_invalid_models.py
  tests/functional/metrics/test_metric_configs.py
  tests/functional/sources/test_source_configs.py
Due: isort, black, flake8

pin other adapters packages as well to the commit to avoid code quality step failure
  core/hatch.toml
Due: none

revert skipped tests and pin dbt common for testing
  core/hatch.toml
  core/pyproject.toml
  tests/functional/configs/test_disabled_model.py
  tests/functional/exposures/test_exposure_configs.py
  tests/functional/invalid_model_tests/test_invalid_models.py
  tests/functional/metrics/test_metric_configs.py
  tests/functional/sources/test_source_configs.py
Due: isort, black, flake8

mashmaro 3.17 works - remove fallbacks
  core/dbt/artifacts/resources/v1/components.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

mashmaro 3.17 works - remove fallbacks
  core/dbt/artifacts/resources/v1/components.py
  tests/functional/invalid_model_tests/test_invalid_models.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: initialize summary_message when profiles.yml is unreadable in _choose_profile_names
  core/dbt/task/debug.py
  tests/unit/task/test_debug.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for fix #9436
  .changes/unreleased/Fixes-20260417-creazyfrog-9436.yaml
Due: none

fix: cache jsonschema validator to prevent anyOf hang with many deprecated generic tests
  core/dbt/jsonschemas/jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog: add entry for #12852
  .changes/unreleased/Fixes-20260418-004656.yaml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260418-034321.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix: resolve source() references in UDF functions
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: update process_sources comment and add test for UDF source depends_on
  core/dbt/parser/manifest.py
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update test durations for pytest-split
  core/.test_durations
Due: none

Update test durations for pytest-split (#12856)
  core/.test_durations
Due: none

--empty support for dbt seed (#12716)
  .changes/unreleased/Features-20260326-185034.yaml
  core/dbt/cli/main.py
  core/dbt/context/providers.py
  tests/functional/test_empty.py
  third-party-stubs/agate/__init__.pyi
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

reading flag from get_flags() instead of using args
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

switch commits to branches
  core/hatch.toml
  core/pyproject.toml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260419-184827.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
