Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Fix: Remove FreshnessStatus.Skip which doesnt exist
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add Unit tests for task_end_messages covering all scenarios
  tests/unit/task/test_freshness.py
Due: isort, black, flake8

Refactor: Use EndOfRunSummary and StatsLine events in task_end_messages and Add changelog entry for freshness summary output
  .changes/unreleased/Fixes-20260303-105833.yaml
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove duplicate changelog entry
  .changes/unreleased/Features-20251127-232956.yaml
Due: none

Strengthen tests to assert events actually fire in task_end_messages
  tests/unit/task/test_freshness.py
Due: isort, black, flake8

Add inline comment clarifying FreshnessStatus vs RunStatus
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix black formatting in debug.py
  core/dbt/task/debug.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix silent crash in dbt debug when profile has duplicate keys
  core/dbt/task/debug.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for #12502 fix
  .changes/unreleased/Fixes-20260228-102039.yaml
Due: none

test: add functional test for debug surfacing profile error on duplicate keys
  tests/functional/cli/test_debug_error_handling.py
Due: isort, black, flake8

Add categorization of open issues from 2020-2022
  ISSUE_CATEGORIZATION_2020_2022.md
Due: none

Add categorization of open issues from 2023-2024
  ISSUE_CATEGORIZATION_2023_2024.md
Due: none

testing fixes
  .github/workflows/release.yml
  core/hatch.toml
Due: none

Fix: remove duplicate task_end_messages and leftover print_run_result_error call
  core/dbt/task/freshness.py
  tests/unit/task/test_freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

allow integer keys in meta for partial_parse.msgpack
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changelog entry for #12578
  .changes/unreleased/Fixes-20260303-120000.yaml
Due: none

first pass for implementation of selector selector method
  core/dbt/graph/selector.py
  core/dbt/graph/selector_methods.py
  core/dbt/task/build.py
  core/dbt/task/clone.py
  core/dbt/task/compile.py
  core/dbt/task/docs/generate.py
  core/dbt/task/list.py
  core/dbt/task/run.py
  core/dbt/task/seed.py
  core/dbt/task/snapshot.py
  core/dbt/task/test.py
  tests/functional/selectors/test_selector_selector_method.py
  tests/unit/graph/test_selector_methods.py
  tests/unit/graph/test_selector_spec.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changie
  .changes/unreleased/Features-20260303-214328.yaml
Due: none

Test that engine env vars for old env vars get picked up by click
  tests/functional/cli/test_requires.py
Due: isort, black, flake8

Ensure all click params with an env var have a `DBT_ENGINE` prefixed env var
  core/dbt/cli/params.py
  core/dbt/env_vars.py
  tests/unit/cli/test_main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update old deprecated CLI params with env vars to engine prefixed env vars
  core/dbt/cli/flags.py
  tests/functional/cli/test_env_var_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

restructure to --sqlparse option
  .changes/unreleased/Under the Hood-20260302-101022.yaml
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/compilation.py
  tests/functional/compile/test_compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor to SqlParseOptionsType
  core/dbt/cli/option_types.py
  core/dbt/cli/params.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie doc
  .changes/unreleased/Fixes-20260303-114528.yaml
Due: none

pin (#12580)
  .changes/unreleased/Dependencies-20260302-130425.yaml
  core/setup.py
Due: isort, black, flake8

switch build to hatch command (#12573)
  .github/workflows/main.yml
  .github/workflows/release.yml
  core/hatch.toml
  scripts/build-dist.sh
Due: none

refactor to SqlParseOptionsType
  tests/unit/test_env_vars.py
Due: isort, black, flake8

fix pr testing code
  .github/workflows/release.yml
Due: none

Add tests that explicitly tests the final allow list
  tests/functional/cli/test_requires.py
Due: isort, black, flake8

revert testing logic
  .github/workflows/release.yml
Due: none

bumped dbt-adapters to 1.22.7
  core/pyproject.toml
Due: none

fix pr testing code (#12588)
  .github/workflows/release.yml
Due: none

Bumping version to 1.10.20 and generate changelog
  .bumpversion.cfg
  .changes/1.10.20.md
  .changes/unreleased/Dependencies-20260302-130425.yaml
  .changes/unreleased/Fixes-20260223-161820.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

[backport] switch build to hatch command (#12573) (#12587)
  .github/workflows/main.yml
  .github/workflows/release.yml
  core/hatch.toml
  scripts/build-dist.sh
Due: none

Add test proving semantic manifest is unaffected by cache config
  tests/functional/saved_queries/test_configs.py
Due: isort, black, flake8

Assert manifest cache config actually changed as sanity check
  tests/functional/saved_queries/test_configs.py
Due: isort, black, flake8

fix: ensure `DBT_ENGINE` env var aliases for existing CLI params are picked up by CLI (#12586)
  .changes/unreleased/Fixes-20260303-114528.yaml
  core/dbt/cli/flags.py
  core/dbt/cli/params.py
  core/dbt/env_vars.py
  tests/functional/cli/test_env_var_deprecations.py
  tests/functional/cli/test_requires.py
  tests/unit/cli/test_main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update project.py
  core/dbt/tests/fixtures/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add js udf support
  core/dbt/parser/read_files.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
