Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

Re-name v2-parser-command to v2-parser
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/contracts/project.py
  core/dbt/parser/fusion.py
  tests/functional/cli/test_requires.py
  tests/functional/fusion_parser/test_fusion_parser_branch.py
  tests/functional/v2_parser_parity/README.md
  tests/functional/v2_parser_parity/v2_self_parser.py
  tests/unit/cli/test_flags.py
  tests/unit/cli/test_setup_manifest.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Sort params alphabetically
  core/dbt/cli/params.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog for v2 parser
  .changes/unreleased/Features-20260526-225012.yaml
Due: none

Improve docstring
  core/dbt/parser/fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Clean up unused get_adapter call
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

ci: add workflow to fast-forward 1.latest from main (#13021)
  .github/workflows/sync-1-latest.yml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260527-084225.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

refactoring
  core/dbt/auth/__init__.py
  core/dbt/auth/chain.py
  core/dbt/auth/errors.py
  core/dbt/auth/oauth/__init__.py
  core/dbt/auth/oauth/callback_server.py
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/oauth/runcache.py
  core/dbt/auth/oauth/utils.py
  core/dbt/auth/resolvers.py
  core/dbt/auth/session_cache.py
  core/dbt/config/user_settings.py
  core/dbt/exceptions.py
  tests/unit/auth/test_chain.py
  tests/unit/auth/test_errors.py
  tests/unit/auth/test_resolvers.py
  tests/unit/auth/test_session_cache.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

simplify reading
  core/dbt/config/user_settings.py
  tests/unit/config/test_user_settings.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changelog
  .changes/unreleased/Features-20260527-154416.yaml
Due: none

applied changes from PR:#11177
  .changes/unreleased/Features-20230307-134838.yaml
  core/dbt/artifacts/resources/base.py
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/constants.py
  core/dbt/contracts/files.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/project.py
  core/dbt/events/types.py
  core/dbt/flags.py
  core/dbt/parser/read_files.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/defer_state/test_modified_state.py
  tests/unit/artifacts/test_file_hash.py
  tests/unit/graph/test_selector_methods.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add User Settings Support (#13025)
  .changes/unreleased/Features-20260527-154416.yaml
  core/dbt/cli/flags.py
  core/dbt/cli/resolvers.py
  core/dbt/config/user_settings.py
  core/dbt/constants.py
  core/dbt/contracts/user_settings.py
  tests/functional/cli/test_user_settings_flags.py
  tests/unit/cli/test_flags.py
  tests/unit/config/test_user_settings.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix the configured but not enabled case
  core/dbt/task/login.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix tests in Windows
  tests/functional/fusion_parser/test_fusion_parser_branch.py
Due: isort, black, flake8

Fix parser command parsing on Windows
  core/dbt/parser/fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update enrich_manifest_with_plugin_artifacts docstring
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

cleaned up the flow
  core/dbt/auth/__init__.py
  core/dbt/auth/credentials.py
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/oauth/runcache.py
  core/dbt/auth/resolvers.py
  core/dbt/task/login.py
  tests/functional/cli/test_requires.py
  tests/unit/auth/test_credentials.py
  tests/unit/auth/test_resolvers.py
  tests/unit/auth/test_session_cache.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260527-165013.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

remove slop tests
  core/dbt/cli/flags.py
  core/dbt/cli/types.py
  tests/unit/auth/test_chain.py
  tests/unit/auth/test_credentials.py
  tests/unit/auth/test_errors.py
  tests/unit/auth/test_session_cache.py
  tests/unit/cli/test_flags.py
  tests/unit/task/test_retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changelog
  .changes/unreleased/Features-20260527-222711.yaml
Due: none

Bundle dbt-state as an install dependency of dbt-core (opt-in via --manage-state / DBT_ENGINE_MANAGE_STATE / manage_state) (#13014)
  .changes/unreleased/Features-20260525-214500.yaml
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/contracts/project.py
  core/dbt/plugins/manager.py
  core/pyproject.toml
  tests/functional/cli/test_requires.py
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Default v2 parser to bundled dbt-core-experimental-parser
  core/dbt/cli/params.py
  core/dbt/parser/fusion.py
  core/pyproject.toml
  tests/unit/cli/test_flags.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260527-194611.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

add login flow test and move OAUTH_CLIENT_ID to resolvers.py
  core/dbt/auth/__init__.py
  core/dbt/auth/chain.py
  core/dbt/auth/resolvers.py
  tests/unit/auth/test_login_flow.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixed copilot comments
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/oauth/runcache.py
  core/dbt/auth/resolvers.py
  core/dbt/auth/session_cache.py
  core/dbt/cli/main.py
  core/dbt/cli/params.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260527-215214.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

address write protection and remove unnecesary flags
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/session_cache.py
  core/dbt/auth/utils.py
  core/dbt/cli/main.py
  tests/unit/auth/test_utils.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix naming for exceptions, move skip-browser-auth to flags
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/resolvers.py
  core/dbt/auth/session_cache.py
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/exceptions.py
  tests/functional/cli/test_requires.py
  tests/unit/auth/test_chain.py
  tests/unit/auth/test_resolvers.py
  tests/unit/auth/test_session_cache.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#13038)
  .changes/unreleased/Under the Hood-20260527-215214.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Pin CLI-flag-alone-enables-plugin behavior with end-to-end tests
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8

Pin project-flag-alone-enables-plugin behavior + precedence with CLI
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8

Pin --no-manage-state overrides DBT_ENGINE_MANAGE_STATE=true precedence
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8

Add end-to-end tests pinning manage_state opt-in surfaces + precedence
  .changes/unreleased/Under the Hood-20260527-233000.yaml
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8

Cover the symmetric CLI > env precedence case
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8

Fix: propagate Click-resolved manage_state to the plugin's own env-var check
  core/dbt/plugins/manager.py
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Reclassify changelog: Fixes (not Under the Hood) and update body
  .changes/unreleased/Fixes-20260527-233000.yaml
  .changes/unreleased/Under the Hood-20260527-233000.yaml
Due: none

Address Copilot + CodeScene feedback
  core/dbt/plugins/manager.py
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Potential fix for pull request finding
  .changes/unreleased/Features-20260526-225012.yaml
Due: none

Forward invocation_id and set DBT_INVOCATION_ENV for v2 parser
  .changes/unreleased/Under the Hood-20260527-142247.yaml
  core/dbt/parser/fusion.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
