Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260324-204609.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

simplify defaulting
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Couple catalog loading into manifest loading
  core/dbt/cli/main.py
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

ensure flags is in ctx prior to loading
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Under the Hood-20260324-172925.yaml
Due: none

fix: handle null value in YAML to prevent TypeError during iteration (#12704)
  .changes/unreleased/Fixes-20260324-142516.yaml
  core/dbt/config/project.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/dependencies/test_add_package_edge_cases.py
  tests/functional/exposures/fixtures.py
  tests/functional/exposures/test_exposure_configs.py
  tests/functional/sources/fixtures.py
  tests/functional/sources/test_source_configs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added support to enable/disable analyses in dbt_project.yml
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/context/context_config.py
  tests/functional/analysis/test_analysis_configs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

gated feature behind flag require_corrected_analysis_fqns
  core/dbt/context/context_config.py
  core/dbt/contracts/project.py
  core/dbt/parser/analysis.py
  tests/functional/analysis/test_analysis_configs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

docstring
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixed issues in tests
  core/dbt/context/context_config.py
  core/dbt/parser/analysis.py
  tests/functional/analysis/test_analysis_configs.py
  tests/unit/config/test_project.py
  tests/unit/utils/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added CHANGELOG
  .changes/unreleased/Fixes-20260325-193413.yaml
Due: none

fix: populate model constraints regardless of contract enforcement
  core/dbt/parser/schemas.py
  tests/functional/configs/test_constraints_unenforced.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

run changie
  .changes/unreleased/Fixes-20260304-140229.yaml
Due: none

fix state modified function yml properties
  core/dbt/contracts/graph/nodes.py
  tests/unit/contracts/graph/test_nodes.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix isort
  tests/unit/contracts/graph/test_nodes.py
Due: isort, black, flake8

added support for .env files
  core/dbt/cli/main.py
  core/dbt/include/starter_project/.gitignore
  core/pyproject.toml
  tests/functional/cli/test_dotenv.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added test to ensure .env is loaded from CWD
  tests/functional/cli/test_dotenv.py
Due: isort, black, flake8

added CHANGELOG
  .changes/unreleased/Features-20260325-211608.yaml
Due: none

Couple catalog loading into manifest loading (#12705)
  .changes/unreleased/Under the Hood-20260324-172925.yaml
  core/dbt/cli/main.py
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: state:modified does not detect .yml property changes for resource_type:function (#12548)
  .changes/unreleased/Fixes-20260304-140229.yaml
  core/dbt/contracts/graph/nodes.py
  tests/unit/contracts/graph/test_nodes.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

random change in README to test some weird Github issue
  README.md
Due: none

test: verify GPG signing works
  core/dbt/task/compile.py
  core/dbt/task/show.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test: add regression tests for substring bug in selection_arg filtering
  tests/functional/show/fixtures.py
  tests/functional/show/test_show.py
Due: isort, black, flake8

Support for .env files (#12711)
  .changes/unreleased/Features-20260325-211608.yaml
  core/dbt/cli/main.py
  core/dbt/include/starter_project/.gitignore
  core/pyproject.toml
  tests/functional/cli/test_dotenv.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Feature - Analyses Project Level Config (#12709)
  .changes/unreleased/Fixes-20260325-193413.yaml
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/context/context_config.py
  core/dbt/contracts/project.py
  core/dbt/parser/analysis.py
  tests/functional/analysis/test_analysis_configs.py
  tests/unit/config/test_project.py
  tests/unit/utils/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add type annotation to _get_env_var return type
  core/dbt/context/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: preserve case-insensitive env var lookup on Windows (#10422) (#12681)
  .changes/unreleased/Fixes-20260320-102034.yaml
  core/dbt/context/base.py
  core/dbt/context/configured.py
  core/dbt/context/providers.py
  core/dbt/context/secret.py
  tests/functional/context_methods/test_env_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260326-055726.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

updated pathspec version
  core/pyproject.toml
Due: none

test: address reviewer feedback on substring regression tests
  tests/functional/show/test_show.py
Due: isort, black, flake8

fix: handle versioned model names in selection_arg filtering
  core/dbt/task/compile.py
  core/dbt/task/show.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

specify models to compile in config file
  .changes/unreleased/Fixes-20260309-184158.yaml
Due: none

Create License.md
  License.md
Due: none

added failing tests for --empty in dbt seed
  tests/functional/test_empty.py
Due: isort, black, flake8

Update README.md
  README.md
Due: none

added support for --empty in dbt seed
  core/dbt/cli/main.py
  core/dbt/context/providers.py
  third-party-stubs/agate/__init__.pyi
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added CHANGELOG
  .changes/unreleased/Features-20260326-185034.yaml
Due: none

undone unnecessary changes
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260326-145301.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fixed bug in dotenv loading when executed as dbt cli
  core/dbt/cli/main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
