Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

bump integration test timeout to 60 minutes (#12757)
  .github/workflows/main.yml
Due: none

catch InvalidFieldValue and raise ParsingError during context config generation (#12758)
  .changes/unreleased/Fixes-20260331-224946.yaml
  core/dbt/context/context_config.py
  tests/functional/exposures/test_exposure_configs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: use git tag --no-column to prevent dbt deps breakage with columnar git output
  core/dbt/clients/git.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for #12728
  .changes/unreleased/Fixes-20260330-152706-git_tag_no_column.yaml
Due: none

fix: handle permission errors gracefully when writing package-lock.yml
  core/dbt/task/deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for #12729
  .changes/unreleased/Fixes-20260329-142231-10381.yaml
  .changes/unreleased/Fixes-20260330-152706-deps_lock_write_permission_error.yaml
Due: none

fix: include exception message in run_results.json for run-operation failures
  core/dbt/task/run_operation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: normalize line endings in FileHash to prevent false state:modified results
  core/dbt/artifacts/resources/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for #12730
  .changes/unreleased/Fixes-20260330-152708-run_operation_error_message_in_results.yaml
Due: none

chore: add changelog entry for #12731
  .changes/unreleased/Fixes-20260330-152706-normalize_line_endings_state_comparison.yaml
Due: none

fix: suppress store_failures table message when test status is Error
  .changes/unreleased/Fixes-20260329-170000.yaml
  core/dbt/task/printer.py
  tests/unit/task/test_printer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for #12738
  .changes/unreleased/Fixes-20260330-152707-store_failures_db_error_log.yaml
Due: none

chore: add changelog entry for #12741
  .changes/unreleased/Fixes-20260330-152707-snowplow_quick_connection_timeout.yaml
Due: none

fix: reduce snowplow telemetry timeout from 5s to 1s
  .changes/unreleased/Fixes-20260329-190000.yaml
  core/dbt/tracking.py
  tests/unit/test_tracking.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix partial parsing duplicate for v2 inline semantic models (DI-3697)
  core/dbt/parser/partial.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add regression tests for v2 semantic model YAML parsing errors
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

Add changie file.
  .changes/unreleased/Fixes-20260401-143934.yaml
Due: none

Apply black formatting
  core/dbt/parser/partial.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: include exception message in run_results.json for run-operation failures (#12730)
  .changes/unreleased/Fixes-20260330-152708-run_operation_error_message_in_results.yaml
  core/dbt/task/run_operation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add semantic model parsing architecture doc and surface docs/arch/ in AGENTS.md
  AGENTS.md
  docs/arch/3.3_Semantic_Models.md
Due: none

Improve error message for unknown fields in semantic_model config
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
  tests/unit/utils/__init__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Added changie file
  .changes/unreleased/Under the Hood-20260401-154117.yaml
  core/dbt/contracts/graph/unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add semantic layer parse failure troubleshooting doc
  docs/arch/3.3_Semantic_Models.md
  docs/troubleshooting/semantic_layer_parse_failures.md
Due: none

Small manual fixes and reordering.
  AGENTS.md
  docs/troubleshooting/semantic_layer_parse_failures.md
Due: none

Improve error message for unknown fields in semantic_model config (#12766)
  .changes/unreleased/Under the Hood-20260401-154117.yaml
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
  tests/unit/utils/__init__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix partial parsing duplicate for v2 inline semantic models (#12763)
  .changes/unreleased/Fixes-20260401-143934.yaml
  core/dbt/parser/partial.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: remove stray conflict marker and duplicate changelog entry
  .changes/unreleased/Fixes-20260330-152707-snowplow_quick_connection_timeout.yaml
  tests/unit/test_tracking.py
Due: isort, black, flake8

feat: support config.tags and +tags for metrics
  .changes/unreleased/Features-20260306-152125.yaml
  core/dbt/artifacts/resources/v1/metric.py
  core/dbt/parser/common.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/metrics/fixtures.py
  tests/functional/metrics/test_metric_configs.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_configs.py
  tests/unit/parser/test_normalize_tags.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Specified which yaml format is preferred.
  docs/arch/3.3_Semantic_Models.md
Due: none

Add .github/copilot-instructions.md for automated PR review
  .github/copilot-instructions.md
Due: none

Fix validation check for package version
  core/dbt/contracts/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add test for hub package missing version
  tests/functional/dependencies/test_simple_dependency.py
Due: isort, black, flake8

added changelog entry
  .changes/unreleased/Fixes-20260317-133144.yaml
Due: none

Add semantic model parsing architecture doc (docs/arch/3.3_Semantic_Models.md) (#12765)
  AGENTS.md
  docs/arch/3.3_Semantic_Models.md
  docs/troubleshooting/semantic_layer_parse_failures.md
Due: none

Fix partial parse cache drop when meta contains integer keys
  .changes/unreleased/Fixes-20260403-151724.yaml
  core/dbt/events/types.py
  core/dbt/parser/manifest.py
  tests/functional/partial_parsing/test_pp_integer_meta_keys.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feat: warn when SQL function parameter shadows a column in a referenced model (#12707)
  .changes/unreleased/Features-20260403-215850.yaml
  core/dbt/events/types.py
  core/dbt/task/function.py
  tests/functional/functions/test_udfs.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feat: schedule DAG-ready models by config priority within topological ties (#10632)
  core/dbt/artifacts/resources/v1/config.py
  core/dbt/graph/queue.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/graph/test_queue.py
  tests/unit/test_compilation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

create new changie entry
  .changes/unreleased/Features-20260404-213633.yaml
Due: none

Update test durations for pytest-split
  core/.test_durations
Due: none

Update test durations for pytest-split (#12725)
  core/.test_durations
Due: none
