Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

cli: add dbt.cli.__main__ so `python -m dbt.cli` works (#11013)
  core/dbt/cli/__main__.py
  tests/unit/cli/test_main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

contracts: remove dead duplicate seed branch in ParsedNode._deserialize (#11040)
  core/dbt/contracts/graph/nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog: add changie entry for #11040
  .changes/unreleased/Under-the-Hood-20260509-150002.yaml
Due: none

changelog: add changie entry for #5886
  .changes/unreleased/Under-the-Hood-20260509-150003.yaml
Due: none

profiler: drop dead `enable` parameter (#5886)
  core/dbt/cli/requires.py
  core/dbt/profiler.py
  tests/unit/test_profiler.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog: add changie entry for #10471
  .changes/unreleased/Under-the-Hood-20260509-150004.yaml
Due: none

utils: remove dead add_ephemeral_model_prefix helper (#10471)
  core/dbt/utils/utils.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

deps: surface descriptive error when Hub package omits version (#12649)
  core/dbt/contracts/project.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog: add changie entry for #12649
  .changes/unreleased/Fixes-20260509-150005.yaml
Due: none

exceptions: stop hardcoding "model" in ambiguous-relation error (#12629)
  core/dbt/exceptions.py
  tests/unit/test_exceptions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog: add changie entry for #12629
  .changes/unreleased/Fixes-20260509-150006.yaml
Due: none

events: emit debug event when run_query is called during parse (#11070)
  core/dbt/context/providers.py
  tests/unit/context/test_context.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog: add changie entry for #11070
  .changes/unreleased/Under-the-Hood-20260509-150007.yaml
Due: none

changelog: add changie entry for #11346
  .changes/unreleased/Fixes-20260509-150008.yaml
Due: none

clean: honor --target-path / DBT_TARGET_PATH (#11346)
  core/dbt/task/clean.py
  tests/functional/clean/test_clean.py
  tests/unit/task/test_clean.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog: add changie entry for #11904
  .changes/unreleased/Fixes-20260509-150009.yaml
Due: none

docker: install dbt-postgres from PyPI in dbt-postgres image target (#11904)
  docker/Dockerfile
Due: none

changelog: add changie entry for #11210
  .changes/unreleased/Features-20260509-150010.yaml
Due: none

context: add `indent` kwarg to tojson and toyaml (#11210)
  .changes/unreleased/Features-20260509-120000.yaml
  core/dbt/context/base.py
  tests/unit/context/test_base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update test durations for pytest-split
  core/.test_durations
Due: none

Update test durations for pytest-split (#12929)
  core/.test_durations
Due: none

Add catalogs.yml v2 with adapter-owned bridge architecture
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/catalog.py
  core/dbt/cli/requires.py
  core/dbt/config/catalogs.py
  core/dbt/contracts/project.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#12917)
  .changes/unreleased/Under the Hood-20260508-224552.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Import CatalogV2 and V2TableFormat from dbt-adapters
  core/dbt/artifacts/resources/v1/catalog.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove type: ignore now that Capability.CatalogsV2 is defined
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry for catalogs v2
  .changes/unreleased/Features-20260511-102556.yaml
Due: none

Define CatalogV2/V2TableFormat in dbt-core (YAML parsing types belong here)
  core/dbt/artifacts/resources/v1/catalog.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add type: ignore for Capability.CatalogsV2 until dbt-adapters PR lands
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add functional tests for catalogs.yml v2; fix load order in setup_manifest
  core/dbt/cli/requires.py
  tests/functional/catalogs/test_catalogs_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix functional tests and capability check for pre-release dbt-adapters
  core/dbt/cli/requires.py
  tests/functional/catalogs/test_catalogs_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Use capabilities() method mock pattern matching dbt-adapters tests
  tests/functional/catalogs/test_catalogs_v2_parsing.py
Due: isort, black, flake8

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260511-155325.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Add per-overload start/result log events for overloaded UDFs (#12915)
  .changes/unreleased/Features-20260508-161204.yaml
  core/dbt/events/types.py
  core/dbt/task/function.py
  core/pyproject.toml
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260511-184712.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Add optional CodeScene `cs delta` pre-commit hook
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/pre-commit-hooks/codescene_delta.py
Due: isort, black, flake8

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260511-210548.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Add optional CodeScene `cs delta` pre-commit hook (#12933)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/pre-commit-hooks/codescene_delta.py
Due: isort, black, flake8

refactor: move metric processing cluster to metric_processor.py
  core/dbt/parser/manifest.py
  core/dbt/parser/metric_processor.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove the token from this error message
  core/dbt/deps/private_package.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

update metricflow pin
  core/pyproject.toml
Due: none
