Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260811-002517.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion (#15874)
  .changes/unreleased/Under the Hood-20260811-002517.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Bump dbt-core-experimental-parser lowerbound to 2.0.0b1
  .changes/unreleased/Dependencies-20260811-120000.yaml
  core/pyproject.toml
Due: none

Use empty Issue value in changelog entry
  .changes/unreleased/Dependencies-20260811-120000.yaml
Due: none

Bump dbt-core-experimental-parser lowerbound to 2.0.0b1 (#15875)
  .changes/unreleased/Dependencies-20260811-120000.yaml
  core/pyproject.toml
Due: none

Bump dbt-core-experimental-parser lowerbound to 2.0.0b1 (#15875) (#15879)
  .changes/unreleased/Dependencies-20260811-120000.yaml
  core/pyproject.toml
Due: none

ci: add workflow running fmt, clippy, and the test suite
  .github/actions/setup-rust-linux/action.yml
  .github/workflows/ci.yml
Due: none

fix: include file path in missing env var error message (#10803)
  core/dbt/context/providers.py
  core/dbt/exceptions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Extend ClickHouse functionality: new settings and a few missing methods
  crates/dbt-adapter/src/relation/relation_object.rs
  crates/dbt-loader/src/dbt_macro_assets/dbt-clickhouse/macros/materializations/materialized_view.sql
  crates/dbt-schemas/src/schemas/project/configs/common.rs
  crates/dbt-schemas/src/schemas/project/configs/data_test_config.rs
  crates/dbt-schemas/src/schemas/project/configs/model_config.rs
  crates/dbt-schemas/src/schemas/project/configs/seed_config.rs
  crates/dbt-schemas/src/schemas/project/configs/snapshot_config.rs
  crates/dbt-schemas/src/schemas/project/configs/source_config.rs
  crates/dbt-schemas/src/schemas/project/configs/unit_test_config.rs
  crates/dbt-schemas/src/schemas/relations/base.rs
Due: none

changelog
  .changes/unreleased/Features-20260710-172244.yaml
Due: none

Use uv as the Hatch installer for default and ci envs
  core/hatch.toml
Due: none

Add changelog entry
  .changes/unreleased/Under the Hood-20260811-141649.yaml
Due: none

Fix multi-line mv by using `modules.re.DOTALL` as a positional value
  crates/dbt-loader/src/dbt_macro_assets/dbt-clickhouse/macros/materializations/materialized_view.sql
Due: none

add databricks adapter macro for array_construct
  crates/dbt-loader/src/dbt_macro_assets/dbt-databricks/macros/utils/array_construct.sql
Due: none

add CHANGELOG entry
  .changes/unreleased/Fixes-20260811-101832.yaml
Due: none

Use consistent formatting across array_construct macros
  crates/dbt-loader/src/dbt_macro_assets/dbt-databricks/macros/utils/array_construct.sql
Due: none

refactor(duckdb): express attach-default suppression as a filter
  crates/dbt-adapter/src/engine/duckdb_attach.rs
Due: none

[ClickHouse] add get catalog macros to unblock `compile --write-catalog`
  .changes/unreleased/Features-20260811-202858.yaml
  crates/dbt-adapter/src/metadata/clickhouse/mod.rs
  crates/dbt-loader/src/dbt_macro_assets/dbt-clickhouse/macros/catalog.sql
Due: none

Add tests
  crates/dbt-adapter/src/metadata/clickhouse/mod.rs
Due: none

fix: correct store_raw_result type annotations and validate_any tuple support
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add mechanism for version deprecation warning ( backportable till 1.10 as is )
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/deprecated_version.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  tests/functional/cli/test_deprecated_version.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260811-210230.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260811-215531.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion (#15899)
  .changes/unreleased/Under the Hood-20260811-215531.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

addressed review comments
  core/dbt/deprecated_version.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add mechanism for version deprecation warning (#15897)
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/deprecated_version.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  tests/functional/cli/test_deprecated_version.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

ci: use literal runner labels so CI runs on fork pull requests
  .github/workflows/ci.yml
Due: none

Bumping version to 1.12.1 and generate changelog
  .changes/1.12.1.md
  .changes/unreleased/Dependencies-20260811-120000.yaml
  .changes/unreleased/Features-20260708-120000.yaml
  .changes/unreleased/Fixes-20260720-120000.yaml
  .changes/unreleased/Fixes-20260721-140000.yaml
  .changes/unreleased/Fixes-20260722-130412.yaml
  .changes/unreleased/Fixes-20260806-120000.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: bump pinned ca-certificates version in Dockerfile
  docker/Dockerfile
Due: none

fix: bump pinned ca-certificates version in Dockerfile (#15907)
  docker/Dockerfile
Due: none

Recognize Databricks adapter config keys in jsonschema validation (#15305)
  .changes/unreleased/Fixes-20260623-120000.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix the test failures
  tests/functional/deprecations/test_deprecations.py
  tests/functional/test_project.py
Due: isort, black, flake8

Recognize Databricks adapter config keys in jsonschema validation (#15305) (#15908)
  .changes/unreleased/Fixes-20260623-120000.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
