Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

added changelog
  .changes/unreleased/Fixes-20260520-142206.yaml
Due: none

deps: restore dbt-adapters upper bound to <2.0 for 1.10.x line (#12987)
  .changes/unreleased/Dependencies-20260519-214655.yaml
  core/setup.py
Due: isort, black, flake8

deps: restore dbt-adapters upper bound to <2.0 for 1.11.x line (#12988)
  .changes/unreleased/Dependencies-20260519-214743.yaml
  core/pyproject.toml
Due: none

fix ut and ft
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
  tests/unit/config/test_project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.10.22 and generate changelog
  .bumpversion.cfg
  .changes/1.10.22.md
  .changes/unreleased/Dependencies-20260519-214655.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Skip jsonschema_validation when adapter_type is empty (#12993)
  .changes/unreleased/Fixes-20260520-142206.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
  tests/unit/config/test_project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260520-103059.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Bumping version to 1.11.11 and generate changelog
  .changes/1.11.11.md
  .changes/unreleased/Dependencies-20260519-214743.yaml
  .changes/unreleased/Under the Hood-20260518-160000.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260520-111559.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

docs: add JSONL seed design document for issue #2365
  JSONL-SEEDS.md
Due: none

feat: add JSONL/NDJSON seed file support
  core/dbt/context/providers.py
  core/dbt/parser/read_files.py
  core/dbt/task/seed_readers.py
  tests/functional/seeds/test_jsonl_seeds.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog: add changie entry for JSONL seed support
  .changes/unreleased/Features-20260520-103000.yaml
Due: none

Fix config-level loaded_at_field handling in freshness runtime
  core/dbt/task/freshness.py
  tests/functional/sources/test_source_loaded_at_field.py
  tests/unit/parser/test_parser.py
  tests/unit/task/test_freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260520-162840.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260520-210252.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260520-221912.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

address utf 8 read
  core/dbt/artifacts/resources/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

hatch unwanted change
  core/hatch.toml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260521-100411.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Allow-list DBT_ENGINE_STATE_EMIT_REUSED_STATUS and DBT_ENGINE_STATE_OAUTH_CLIENT_ID
  .changes/unreleased/Under the Hood-20260521-120000.yaml
  core/dbt/env_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update issue reference in unreleased changes
  .changes/unreleased/Under the Hood-20260521-120000.yaml
Due: none

Allow-list DBT_ENGINE_STATE_AUTH_URL, TOKEN_URL, and API_URL
  .changes/unreleased/Under the Hood-20260521-120000.yaml
  core/dbt/env_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Potential fix for pull request finding
  .changes/unreleased/Under the Hood-20260521-120000.yaml
Due: none

Update test_allow_list_is_correct to include new DBT_ENGINE_STATE_* vars
  tests/functional/cli/test_requires.py
Due: isort, black, flake8

cut-release-branch workflow now reads version from core/dbt/__version__.py instead of pyproject.toml
  .github/workflows/cut-release-branch.yml
Due: none

cut-release-branch workflow now reads version from core/dbt/__version__.py instead of pyproject.toml (#13005)
  .github/workflows/cut-release-branch.yml
Due: none

fixed more bugs in cut-release-branch workflow
  .github/workflows/cut-release-branch.yml
Due: none

Fix/cut release branch hatch failure (#13006)
  .github/workflows/cut-release-branch.yml
Due: none

Bumping version to 1.13.0a1
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Code quality cleanup
  CHANGELOG.md
Due: none

added 1.11 changelog to previous releases
  CHANGELOG.md
Due: none

added 1.11 changelog to previous releases (#13008)
  CHANGELOG.md
Due: none

Revert "added 1.11 changelog to previous releases (#13008)"
  CHANGELOG.md
Due: none

fix: partial parsing no longer duplicates non-simple v2 inline metrics
  core/dbt/parser/partial.py
  tests/functional/partial_parsing/test_pp_semantic_models.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: remove exact version pin for libpq-dev in Dockerfile (#12808)
  .changes/unreleased/Under the Hood-20260522-120000.yaml
  docker/Dockerfile
Due: none

changelog: add entry for #13004 fix
  .changes/1.12.0/Fixes-20260522-120000.yaml
Due: none

changelog: move entry to unreleased for #13004
  .changes/unreleased/Fixes-20260522-120000.yaml
Due: none

fix:correct FileHash.compare to compare FileHash objects instead of filehash and string
  core/dbt/artifacts/resources/base.py
  tests/unit/artifacts/test_base_resource.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
