Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Add unit tests to the Jinja `graph` object (#12033)
  .changes/unreleased/Features-20260129-110711.yaml
  core/dbt/contracts/graph/manifest.py
  tests/unit/contracts/graph/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Support target_ref. fix unit-tests and dependency chart issues
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/clients/jinja_static.py
  core/dbt/context/providers.py
  core/dbt/contracts/graph/manifest.py
  core/dbt/parser/models.py
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add derived dimensions for SL v2 YAML (#12404)
  .changes/unreleased/Features-20260128-172052.yaml
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update comment about metric label optionality in v1 vs v2
  core/dbt/contracts/graph/unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Implement and test agg_time_dimension for v2 semantic YAML
  .changes/unreleased/Features-20260129-114832.yaml
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update comment about metric label optionality in v1 vs v2 (#12409)
  core/dbt/contracts/graph/unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Implement and test agg_time_dimension for v2 semantic YAML (#12410)
  .changes/unreleased/Features-20260129-114832.yaml
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Metric-based Filter in Lineage from SL
  .changes/unreleased/Features-20260129-174421.yaml
  core/dbt/contracts/graph/manifest.py
  core/dbt/parser/manifest.py
  tests/functional/metrics/test_metrics.py
  tests/functional/saved_queries/test_saved_query_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Adde support and test for reading from
  core/dbt/config/renderer.py
  tests/functional/context_methods/test_secret_env_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix failing tests in sync
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

Fix failing tests in sync (#12418)
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

Added some in-code comments
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Change changie issue number
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Implement object form of semantic model config for V2 YAML
  .changes/unreleased/Features-20260129-175432.yaml
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Implement object form of semantic model config for V2 YAML (#12413)
  .changes/unreleased/Features-20260129-175432.yaml
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add 'primary_entity' field for semantic YAML v2
  .changes/unreleased/Features-20260129-185659.yaml
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add 'primary_entity' field for semantic YAML v2 (#12414)
  .changes/unreleased/Features-20260129-185659.yaml
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260130-213750.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Fix failling primary entity tests
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260130-224141.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260130-233714.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260131-001428.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260131-010824.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260131-012959.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260131-022140.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260131-202758.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Add changelog entry for source column descriptions feature
  .changes/unreleased/Features-20260128-163000.yaml
Due: none

Return resolved nearest project dir before chainging current dir
  .changes/unreleased/Fixes-20260202-123453.yaml
  core/dbt/task/base.py
  tests/functional/clean/test_clean.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

normalize file contents in artifact testing
  tests/functional/artifacts/expected_manifest.py
Due: isort, black, flake8

avoid normalizing seed file contents
  core/dbt/parser/read_files.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix failling primary entity tests (#12420)
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

Add more tests for v2 YAML serialized metrics
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

Add testing of click flag resolution
  tests/functional/cli/test_click_flags.py
Due: isort, black, flake8

Bump minimum `click` version to 8.3.0
  .changes/unreleased/Dependencies-20260121-171712.yaml
  core/pyproject.toml
Due: none

avoid normalizing seed file contents in test
  tests/functional/artifacts/expected_manifest.py
Due: isort, black, flake8

changelog entry
  .changes/unreleased/Fixes-20260202-153835.yaml
Due: none

improve testing & comment
  core/dbt/parser/read_files.py
  tests/functional/partial_parsing/fixtures.py
  tests/functional/partial_parsing/test_partial_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix unparsed dimension definition
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

update doc + dimension parsing logic
  core/dbt/parser/schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260202-231920.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none
