Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

chore: sync JSON schemas from dbt-fusion (#12857)
  .changes/unreleased/Under the Hood-20260419-184827.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Fix `static_analysis: off` interpreted as boolean false (#12015) (#12515)
  .changes/unreleased/Fixes-20260219-120000.yaml
  core/dbt/artifacts/resources/v1/config.py
  core/dbt/artifacts/resources/v1/source_definition.py
  core/dbt/artifacts/resources/v1/unit_test_definition.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/unit_testing/test_ut_list.py
  tests/unit/contracts/graph/test_nodes_parsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

behavior flag
  core/dbt/contracts/project.py
  core/dbt/parser/schemas.py
  tests/functional/configs/test_constraints_unenforced.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

warn or error for source & semantic model name with spaces (#12844)
  .changes/unreleased/Fixes-20260416-124251.yaml
  core/dbt/contracts/project.py
  core/dbt/parser/manifest.py
  tests/functional/manifest_validations/test_check_for_spaces_in_source_and_semantic_model_names.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix union types for proper discrimination
  core/dbt/artifacts/resources/v1/config.py
  core/dbt/artifacts/resources/v1/saved_query.py
  core/dbt/artifacts/resources/v1/source_definition.py
  core/dbt/artifacts/schemas/freshness/v3/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Javascript UDFs (#12827)
  .changes/unreleased/Features-20260413-201835.yaml
  core/dbt/artifacts/resources/types.py
  core/dbt/artifacts/resources/v1/function.py
  core/dbt/artifacts/resources/v1/macro.py
  core/dbt/clients/jinja.py
  core/dbt/parser/base.py
  core/dbt/parser/manifest.py
  core/dbt/parser/read_files.py
  core/dbt/tests/fixtures/project.py
  tests/functional/functions/test_udfs.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixed test by adding time spine to metricflow
  tests/functional/manifest_validations/test_check_for_spaces_in_source_and_semantic_model_names.py
Due: isort, black, flake8

Remove python 3.11 pin from default env
  core/hatch.toml
Due: none

unpin ci python version for ci envs
  core/hatch.toml
Due: none

try detaching ci env
  core/hatch.toml
Due: none

add back HATCH_PYTHON and swap distutil with shutil
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
  tests/functional/fixtures/happy_path_fixture.py
Due: isort, black, flake8

remove detached=true
  core/hatch.toml
Due: none

remove pin from default env
  core/hatch.toml
Due: none

set HATCH_PYTHON for code-quality as well
  .github/workflows/main.yml
Due: none

address review comments
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
  core/hatch.toml
Due: none

bump ddtrace and pytest
  core/hatch.toml
Due: none

allow event deferral for parsing events
  .changes/unreleased/Features-20260422-021614.yaml
  core/dbt/cli/requires.py
  core/dbt/config/runtime.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/project.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schemas.py
  core/dbt/parser/sources.py
  tests/functional/warn_error/test_allow_events_deferral.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

temporarily pin dbt-common to dev branch for testing
  core/dbt/cli/requires.py
  core/dbt/config/runtime.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/project.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schemas.py
  core/dbt/parser/sources.py
  core/hatch.toml
  core/pyproject.toml
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Rename override to overload and improve error for duplicate defined_in
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/function.py
  core/dbt/contracts/graph/manifest.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/jsonschemas/resources/latest.json
  core/dbt/parser/partial.py
  core/dbt/parser/schemas.py
  core/dbt/task/function.py
  tests/functional/functions/test_overloaded_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixed test by adding time spine to metricflow (#12860)
  tests/functional/manifest_validations/test_check_for_spaces_in_source_and_semantic_model_names.py
Due: isort, black, flake8

converted warning to a deprecation warning
  .changes/unreleased/Features-20260415-182840.yaml
  core/dbt/config/project.py
  core/dbt/deprecations.py
  core/dbt/events/types.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add back the removed descriptions render condition
  core/dbt/parser/schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changelog
  .changes/unreleased/Fixes-20260422-190910.yaml
Due: none

add back the removed descriptions render condition (#12865)
  .changes/unreleased/Fixes-20260422-190910.yaml
  core/dbt/parser/schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

unpin ci python version for ci envs (#12861)
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
  core/hatch.toml
  tests/functional/fixtures/happy_path_fixture.py
Due: isort, black, flake8

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260422-222026.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260423-001549.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260423-031032.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion (#12870)
  .changes/unreleased/Under the Hood-20260423-031032.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

refactored tests
  tests/functional/context_methods/test_jinja_context.py
Due: isort, black, flake8

change order of SourceFreshnessRuntimeError:error for consistency
  core/dbt/artifacts/schemas/freshness/v3/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add catalogs.yml v2 spec support gated behind use_catalogs_v2 flag
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/catalog.py
  core/dbt/cli/requires.py
  core/dbt/config/catalogs.py
  core/dbt/contracts/project.py
  tests/functional/catalogs/test_catalogs_v2_parsing.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add self-reference validation for function overloads
  core/dbt/parser/schemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry for overloaded UDFs
  .changes/unreleased/Features-20260423-160000.yaml
Due: none

use fire_or_defer_events
  core/dbt/config/runtime.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schemas.py
  core/dbt/parser/sources.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Tests for installing skills using `dbt deps`
  tests/functional/dependencies/test_skill_dependencies.py
  tests/unit/config/test_project.py
Due: isort, black, flake8

drop usage of deprecated warn_or_error handler method
  core/dbt/config/runtime.py
  core/dbt/context/exceptions_jinja.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/deprecations.py
  core/dbt/deps/git.py
  core/dbt/deps/tarball.py
  core/dbt/graph/selector.py
  core/dbt/internal_deprecations.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schemas.py
  core/dbt/parser/sources.py
  core/dbt/task/list.py
  core/dbt/task/runnable.py
  tests/unit/graph/test_selector_methods.py
  tests/unit/test_functions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie doc
  .changes/unreleased/Under the Hood-20260423-130357.yaml
Due: none
