Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

feat: add --write-json-indent flag to pretty-print JSON artifacts
  .changes/unreleased/Features-20260330-000000.yaml
  core/dbt/artifacts/schemas/base.py
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/flags.py
  tests/unit/artifacts/test_writable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: honour name in config() blocks for singular data tests
  .changes/unreleased/Fixes-20260330-000001.yaml
  core/dbt/parser/base.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: avoid new proto fields in UnsupportedConstraintMaterialization
  core/dbt/events/types.py
  core/dbt/parser/schemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: use JSONEncoder in indented write path for type safety
  core/dbt/artifacts/schemas/base.py
  tests/unit/artifacts/test_writable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test: add unit tests for ephemeral model unit test format validation
  tests/unit/parser/test_unit_tests.py
Due: isort, black, flake8

Ensure that alias in dbt_project.yml check are checked with plus prefix
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changie
  .changes/unreleased/Fixes-20260330-173438.yaml
Due: none

add tracking for catalog count
  core/dbt/cli/main.py
  core/dbt/cli/requires.py
  core/dbt/compilation.py
  core/dbt/task/base.py
  core/dbt/task/build.py
  core/dbt/task/freshness.py
  core/dbt/task/list.py
  core/dbt/task/retry.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
  core/dbt/tracking.py
  tests/unit/test_tracking.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Ensure plus prefixed check for aliases in jsonschema validation (#12746)
  .changes/unreleased/Fixes-20260330-173438.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add catalog_type tracking
  core/dbt/task/run.py
  core/dbt/tracking.py
  tests/unit/test_tracking.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changie
  .changes/unreleased/Features-20260330-195959.yaml
Due: none

fix failing ut
  tests/unit/task/test_freshness.py
Due: isort, black, flake8

fix: raise correct deprecation when config key is top-level in generic test (#12572) (#12618)
  .changes/unreleased/Fixes-20260308-163014.yaml
  core/dbt/parser/generic_test_builders.py
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: suppress stacktrace when snapshot validation fails (#12700)
  .changes/unreleased/Fixes-20260323-220600.yaml
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix type hints
  core/dbt/task/base.py
  core/dbt/task/build.py
  core/dbt/task/list.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: raise correct deprecation when config key is top-level in generic test (#12572) (#12618) (#12748)
  .changes/unreleased/Fixes-20260308-163014.yaml
  core/dbt/parser/generic_test_builders.py
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Features-20260330-175839.yaml
Due: none

feat: add --output verbose mode to dbt list
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/task/list.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: exclude test_name not inherited when using selector method
  core/dbt/graph/selector.py
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

linting
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8

linting
  core/dbt/deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Part 1: Replace Python Exceptions with DbtException subclasses (#12686)
  .changes/unreleased/Under the Hood-20260323-162313.yaml
  core/dbt/artifacts/schemas/base.py
  core/dbt/cli/flags.py
  core/dbt/clients/git.py
  core/dbt/contracts/files.py
  core/dbt/deprecations.py
  core/dbt/graph/graph.py
  core/dbt/parser/partial.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/retry/test_retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: handle null config in generic test builder
  core/dbt/parser/generic_test_builders.py
  tests/functional/schema_tests/test_custom_test_config.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add community issue labeling with triage label
  .github/workflows/community-label.yml
Due: none

changelog entry
  .changes/unreleased/Fixes-20260331-135946.yaml
Due: none

fix: exclude test_name not inherited when using selector method (#12751)
  .changes/unreleased/Fixes-20260331-135946.yaml
  core/dbt/graph/selector.py
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20260331-145500.yaml
Due: none

bump integration test timeout to 60 minutes
  .github/workflows/main.yml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260331-202559.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

first pass: catch InvalidFieldValue and raise ParsingError during context config generation
  core/dbt/context/context_config.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

linting
  core/dbt/context/context_config.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#12759)
  .changes/unreleased/Under the Hood-20260331-202559.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Add catalogs tracking (#12747)
  .changes/unreleased/Features-20260330-195959.yaml
  core/dbt/cli/main.py
  core/dbt/cli/requires.py
  core/dbt/compilation.py
  core/dbt/task/base.py
  core/dbt/task/build.py
  core/dbt/task/freshness.py
  core/dbt/task/list.py
  core/dbt/task/retry.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
  core/dbt/tracking.py
  tests/unit/task/test_freshness.py
  tests/unit/test_tracking.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix artifact upload
  core/dbt/utils/artifact_upload.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

bump integration test timeout to 75 minutes
  .github/workflows/main.yml
Due: none

fix TestNullExposureTags
  tests/functional/exposures/test_exposure_configs.py
Due: isort, black, flake8

changelog entry
  .changes/unreleased/Fixes-20260331-224946.yaml
Due: none

Pass IT_TEAM_MEMBERSHIP explicitly instead of secrets: inherit
  .github/workflows/community-label.yml
Due: none

Add extended config keys functionality
  .changes/unreleased/Fixes-20260401-185955.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
