Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

addressed review comments and cleaned up tests
  core/dbt/config/renderer.py
  tests/functional/deps/test_deps_with_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Introduce DBT_SELECTOR as environment variable for --selector
  .changes/unreleased/Features-20251124-002455.yaml
  core/dbt/cli/params.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

use a standard version file
  core/dbt/__version__.py
  core/dbt/version.py
  core/hatch.toml
  core/pyproject.toml
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

remove odd license logic
  LICENSE
  core/hatch.toml
  core/pyproject.toml
  scripts/build-dist.sh
Due: none

add tests for deprecations
  .changes/unreleased/Fixes-20251118-171106.yaml
  tests/functional/duplicates/test_duplicate_resource_names.py
Due: isort, black, flake8

add testing across packages
  tests/functional/duplicates/test_duplicate_resource_names.py
Due: isort, black, flake8

update deprecation copy
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix bumpversion
  .bumpversion.cfg
Due: none

restore DuplicateResourceNameError exception within a package (#12183)
  .changes/unreleased/Fixes-20251118-171106.yaml
  core/dbt/contracts/project.py
  core/dbt/deprecations.py
  core/dbt/events/types.py
  core/dbt/parser/manifest.py
  core/pyproject.toml
  tests/functional/duplicates/test_duplicate_resource_names.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix bug `function` wasn't specifiable with `--exlcude-resource-type` flag (#12187)
  .changes/unreleased/Fixes-20251119-195034.yaml
  core/dbt/cli/params.py
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add test to check that functions with not default schemas get their schemas created
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8

Ensure schemas of function nodes are created when in DAG during `build` command
  core/dbt/task/build.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie doc for function schema bug fix
  .changes/unreleased/Fixes-20251124-155629.yaml
Due: none

respect deferral during foreign key ref compilation
  core/dbt/compilation.py
  tests/functional/constraints/fixtures.py
  tests/functional/constraints/test_foreign_key_constraints.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20251124-170855.yaml
Due: none

Ensure schemas of function nodes are created when in DAG during `build` command (#12198)
  .changes/unreleased/Fixes-20251124-155629.yaml
  core/dbt/task/build.py
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Partial Parsing support for function nodes (#12074)
  .changes/unreleased/Features-20251006-140352.yaml
  core/dbt/contracts/files.py
  core/dbt/contracts/graph/manifest.py
  core/dbt/parser/functions.py
  core/dbt/parser/manifest.py
  core/dbt/parser/partial.py
  tests/functional/partial_parsing/fixtures.py
  tests/functional/partial_parsing/test_pp_functions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add test using repro from issue
  tests/functional/defer_state/test_removed_test_state.py
Due: isort, black, flake8

error on none
  core/dbt/graph/selector_methods.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog
  .changes/unreleased/Fixes-20251125-120246.yaml
Due: none

use correct fixture pattern
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_removed_test_state.py
Due: isort, black, flake8

point to branch:
  .github/workflows/release.yml
Due: none

Update .changes/unreleased/Fixes-20251124-170855.yaml
  .changes/unreleased/Fixes-20251124-170855.yaml
Due: none

linting
  .changes/unreleased/Fixes-20251124-170855.yaml
Due: none

remove sha input
  .github/workflows/release.yml
Due: none

more cleanup
  .github/workflows/release.yml
Due: none

use new hatch release for testing
  .github/workflows/release.yml
Due: none

fix legacy build path
  .github/workflows/release.yml
Due: none

Add test checking that `NoNodesForSelectionCriteria` is only fired once per invocation
  tests/functional/graph_selection/test_tag_selection.py
Due: isort, black, flake8

Stop emitting `NoNodesForSelectionCriteria` three times during `build` command
  .changes/unreleased/Fixes-20251125-122020.yaml
  core/dbt/graph/selector.py
  core/dbt/task/build.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

remove unused code paths
  .github/workflows/release.yml
Due: none

define version for pyproject.toml
  core/pyproject.toml
Due: none

Correctly reference foreign key references when deferring (#12199)
  .changes/unreleased/Fixes-20251124-170855.yaml
  core/dbt/compilation.py
  tests/functional/constraints/fixtures.py
  tests/functional/constraints/test_foreign_key_constraints.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add hatch dir
  .github/workflows/release.yml
Due: none

update changelog
  .changes/unreleased/Fixes-20251125-122020.yaml
Due: none

Add exception when using --state and referring to a removed test (#12203)
  .changes/unreleased/Fixes-20251125-120246.yaml
  core/dbt/graph/selector_methods.py
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_removed_test_state.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Stop emitting `NoNodesForSelectionCriteria` three times during `build` command (#12204)
  .changes/unreleased/Fixes-20251125-122020.yaml
  core/dbt/graph/selector.py
  core/dbt/task/build.py
  tests/functional/graph_selection/test_tag_selection.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
