Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Update CHANGELOG.md
  CHANGELOG.md
Due: none

mirror jsonschemas from fs
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Support default arguments for udfs (#12175)
  .changes/unreleased/Features-20251117-141053.yaml
  core/dbt/artifacts/resources/v1/function.py
  core/dbt/parser/manifest.py
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix 10157: macro composition in unit tests (#12168)
  .changes/unreleased/Fixes-20251117-140649.yaml
  core/dbt/context/providers.py
  core/dbt/parser/unit_tests.py
  tests/functional/unit_testing/test_ut_macros.py
  tests/functional/unit_testing/test_ut_variables.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.0rc1 and generate changelog
  .bumpversion.cfg
  .changes/1.11.0-rc1.md
  .changes/1.11.0/Dependencies-20251027-162502.yaml
  .changes/1.11.0/Features-20251117-141053.yaml
  .changes/1.11.0/Fixes-20251103-134034.yaml
  .changes/1.11.0/Fixes-20251106-163514.yaml
  .changes/1.11.0/Fixes-20251107-160515.yaml
  .changes/1.11.0/Fixes-20251117-140649.yaml
  .changes/1.11.0/Under the Hood-20251028-163413.yaml
  .changes/1.11.0/Under the Hood-20251029-133450.yaml
  .changes/1.11.0/Under the Hood-20251103-005311.yaml
  .changes/1.11.0/Under the Hood-20251105-165014.yaml
  CHANGELOG.md
  core/pyproject.toml
Due: none

special-case type_params for v1
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/fixtures/happy_path_project/models/m.yml
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix patch path
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8

restore DuplicateResourceNameError exception within a package
  core/dbt/contracts/project.py
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20251118-171106.yaml
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

reintroduce 'group' config for analyses
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

removed event catcher from utils
  .changes/unreleased/Dependencies-20251118-155354.yaml
  tests/functional/artifacts/test_artifacts.py
  tests/functional/cli/test_requires.py
  tests/functional/configs/test_warn_error_options.py
  tests/functional/deprecations/test_deprecations.py
  tests/functional/list/test_commands.py
  tests/functional/macros/test_macro_annotations.py
  tests/functional/manifest_validations/test_check_for_spaces_in_model_names.py
  tests/functional/microbatch/test_microbatch.py
  tests/functional/sample_mode/test_sample_mode.py
  tests/functional/test_project.py
  tests/unit/config/test_project.py
  tests/unit/config/test_runtime.py
  tests/unit/events/test_logging.py
  tests/unit/parser/test_manifest.py
  tests/unit/parser/test_unit_tests.py
  tests/unit/task/test_run.py
  tests/unit/test_deprecations.py
  tests/unit/test_env_vars.py
  tests/unit/test_jsonschemas.py
  tests/utils.py
Due: isort, black, flake8

Fix: Use strict var validation by default, lenient only for dbt deps to show helpful errors
  core/dbt/cli/requires.py
  core/dbt/config/renderer.py
  core/dbt/config/runtime.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fixed Integration tests
  core/dbt/config/runtime.py
  tests/functional/deps/test_deps_with_vars.py
  tests/unit/config/test_renderer_with_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove empty utils.py after EventCatcher migration to dbt-common
  tests/utils.py
Due: isort, black, flake8

changelog entry
  .changes/unreleased/Under the Hood-20251119-110110.yaml
Due: none

fixed nit review comments
  core/dbt/context/base.py
  tests/functional/deps/test_deps_with_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

more happy path test coverage
  tests/functional/fixtures/happy_path_project/models/sm.yml
Due: none

update defer_state/data with happy_path_project changes
  tests/functional/defer_state/data/manifest.json
Due: none

fix list test with new happy path project data
  tests/functional/list/test_list.py
Due: isort, black, flake8

update jsonschemas (#12180)
  .changes/unreleased/Under the Hood-20251119-110110.yaml
  core/dbt/jsonschemas/jsonschemas.py
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
  tests/functional/defer_state/data/manifest.json
  tests/functional/fixtures/happy_path_project/models/m.yml
  tests/functional/fixtures/happy_path_project/models/sm.yml
  tests/functional/list/test_list.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test_duplicate_names
  tests/functional/duplicates/test_duplicate_names.py
Due: isort, black, flake8

rename flag to require_unique_project_resource_names
  core/dbt/contracts/project.py
  core/dbt/parser/manifest.py
  tests/functional/duplicates/test_duplicate_resource_names.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix bug `function` wasn't specifiable with `--exlcude-resource-type` flag
  .changes/unreleased/Fixes-20251119-195034.yaml
  core/dbt/cli/params.py
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

addressed review comments and cleaned up tests
  core/dbt/cli/requires.py
  core/dbt/config/renderer.py
  tests/functional/deps/test_deps_with_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

bump dbt-protos
  core/pyproject.toml
Due: none

Add directory change instruction after dbt init
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Move test_pp_functions to use `EventCatcher` from dbt-common
  tests/functional/partial_parsing/test_pp_functions.py
Due: isort, black, flake8

perf: replace 'in dict.keys()' with 'in dict' for better performance
  core/dbt/context/base.py
  core/dbt/contracts/graph/manifest.py
  core/dbt/task/init.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for dictionary membership optimization
  .changes/unreleased/Under the Hood-20251120-175805.yaml
Due: none

replacing makefile
  .github/workflows/main.yml
  .github/workflows/test-repeater.yml
  CONTRIBUTING.md
  Makefile
  core/hatch.toml
  core/pyproject.toml
  scripts/build-dist.sh
Due: none

initial hatch implmentation
  .gitignore
  core/hatch.toml
  core/pyproject.toml
  scripts/compare-wheels.sh
Due: none

cleanup docs
  CONTRIBUTING.md
  core/MANIFEST.in
  core/setup.py
Due: isort, black, flake8

bump dbt-protos + test with different aliases
  core/dbt/deprecations.py
  core/dbt/events/types.py
  core/dbt/parser/manifest.py
  core/pyproject.toml
  tests/functional/duplicates/test_duplicate_resource_names.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove from `functions` instead of `nodes` during partial parsing function deletion
  core/dbt/parser/partial.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

cleanup hatch commands to match adapters
  .github/workflows/cut-release-branch.yml
  .github/workflows/main.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
  CONTRIBUTING.md
  Makefile
  core/hatch.toml
  core/pyproject.toml
  scripts/env-setup.sh
Due: none

changelog
  .changes/unreleased/Under the Hood-20251121-140515.yaml
Due: none

CI fix
  core/hatch.toml
Due: none

fix for env
  .github/workflows/main.yml
Due: none

Fix the partial parsing scheduling of function sql and yaml files
  core/dbt/parser/partial.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Test that changing the alias of a function doesn't require reparsing of the downstream nodes that reference it
  tests/functional/partial_parsing/fixtures.py
  tests/functional/partial_parsing/test_pp_functions.py
Due: isort, black, flake8
