Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

Stop emitting `NoNodesForSelectionCriteria` three times during `build` command (#12204)
  .changes/unreleased/Fixes-20251125-122020.yaml
  core/dbt/graph/selector.py
  core/dbt/task/build.py
  tests/functional/graph_selection/test_tag_selection.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

make release backwards compatible
  .github/workflows/release.yml
Due: none

use correct types
  .github/workflows/release.yml
Due: none

Fix generation of deprecations summary
  .changes/unreleased/Fixes-20251124-155756.yaml
  core/dbt/deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix generation of deprecations summary (#12202)
  .changes/unreleased/Fixes-20251124-155756.yaml
  core/dbt/deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add test for error message
  tests/unit/task/test_runnable.py
Due: isort, black, flake8

build path for message
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog
  .changes/unreleased/Fixes-20251126-093859.yaml
Due: none

Fix generation of deprecations summary (#12202) (#12210)
  .changes/unreleased/Fixes-20251124-155756.yaml
  core/dbt/deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix generation of deprecations summary (#12202) (#12211)
  .changes/unreleased/Fixes-20251124-155756.yaml
  core/dbt/deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add test
  tests/functional/unit_testing/test_ut_overrides.py
Due: isort, black, flake8

add tests
  tests/functional/configs/fixtures.py
  tests/functional/configs/test_sql_header_refs.py
Due: isort, black, flake8

first pass solution. uses regex :(
  core/dbt/context/providers.py
  core/dbt/parser/base.py
  core/dbt/task/run.py
  docs/guides/parsing-vs-compilation-vs-runtime.md
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

first pass - not working yet
  core/dbt/parser/base.py
  core/dbt/parser/common.py
  core/dbt/parser/schema_generic_tests.py
  core/dbt/parser/schemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

consider cost prior to retrieving batch metadata on a per-adapter basis
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

update adapter requirements
  core/pyproject.toml
  dev-requirements.txt
Due: none

add TestUnitTestInputWithAlias
  tests/functional/unit_testing/test_ut_aliases.py
Due: isort, black, flake8

linting
  tests/functional/unit_testing/test_ut_aliases.py
Due: isort, black, flake8

Use Jinja AST instead of a regex
  core/dbt/clients/jinja_static.py
  core/dbt/parser/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add comparison operators, test
  core/dbt/clients/jinja_static.py
  tests/functional/configs/fixtures.py
  tests/functional/configs/test_sql_header_refs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

better handling + documentation of edge cases
  core/dbt/clients/jinja_static.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add test, fix exception hierarchy
  core/dbt/exceptions.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog
  .changes/unreleased/Fixes-20251127-141308.yaml
Due: none

add failing test
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_modified_state.py
Due: isort, black, flake8

deal with precision
  core/dbt/contracts/graph/nodes.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog
  .changes/unreleased/Fixes-20251127-145929.yaml
Due: none

accoutn for case sensitivity
  core/dbt/contracts/graph/nodes.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

better testing
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_modified_state.py
Due: isort, black, flake8

first pass - update unique_id and implement cte_name for UnitTestSourceDefinition
  core/dbt/compilation.py
  core/dbt/context/providers.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/parser/unit_tests.py
  tests/functional/unit_testing/test_ut_sources.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix: bug in partial parsing when updating a model with a schema file that is referenced by a singular test
  core/dbt/parser/partial.py
  tests/functional/partial_parsing/fixtures.py
  tests/functional/partial_parsing/test_partial_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

clean up
  tests/functional/unit_testing/test_ut_sources.py
Due: isort, black, flake8

changelog entry
  .changes/unreleased/Fixes-20251127-170124.yaml
Due: none

Allow dbt deps to run when vars lack defaults in dbt_project.yml (#12171)
  .changes/unreleased/Fixes-20251117-185025.yaml
  core/dbt/cli/requires.py
  core/dbt/config/renderer.py
  core/dbt/config/runtime.py
  core/dbt/context/base.py
  core/dbt/context/configured.py
  core/dbt/context/target.py
  tests/functional/deps/test_deps_with_vars.py
  tests/unit/config/test_renderer_with_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add summary output for dbt source freshness command Fixes #6248Add summary output for dbt source freshness command Fixes #6248
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog
  .changes/unreleased/Fixes-20251128-102129.yaml
Due: none

Apply emoji to changelogs
  .changes/unreleased/Fixes-20251127-170124.yaml
Due: none

Fix: Data type size/precision/scale changes incorrectly flagged as breaking for versioned models (#12219)
  .changes/unreleased/Fixes-20251127-145929.yaml
  core/dbt/contracts/graph/nodes.py
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_modified_state.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
