Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

revert dbt-protos to 1.0.491
  core/pyproject.toml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260512-082923.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix: resolve --select via selector API in show/compile task_end_messages
  .changes/unreleased/Fixes-20260512-035505.yaml
  core/dbt/task/compile.py
  core/dbt/task/show.py
  tests/functional/compile/test_compile.py
  tests/functional/show/test_show.py
  tests/unit/task/test_compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#12936)
  .changes/unreleased/Under the Hood-20260512-082923.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix typing and document intersection-token limitation
  core/dbt/task/compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: resolve --select via selector API in show/compile task_end_messages (#12937)
  .changes/unreleased/Fixes-20260512-035505.yaml
  core/dbt/task/compile.py
  core/dbt/task/show.py
  tests/functional/compile/test_compile.py
  tests/functional/show/test_show.py
  tests/unit/task/test_compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

removed allow-prereleases
  .github/workflows/main.yml
Due: none

Semantically correct argument string
  tests/unit/utils/manifest.py
Due: isort, black, flake8

[Feature] Python 3.14 support (#12828)
  .changes/unreleased/Features-20260507-190705.yaml
  .github/workflows/main.yml
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/artifacts/resources/v1/config.py
  core/dbt/artifacts/resources/v1/saved_query.py
  core/dbt/artifacts/resources/v1/source_definition.py
  core/dbt/artifacts/schemas/freshness/v3/freshness.py
  core/dbt/utils/artifact_upload.py
  core/hatch.toml
  core/pyproject.toml
  tests/unit/utils/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor: extract _process_simple_metric from _process_metric_node
  core/dbt/parser/metric_processor.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor: extract _process_cumulative_metric from _process_metric_node
  core/dbt/parser/metric_processor.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor: extract _process_conversion_metric from _process_metric_node
  core/dbt/parser/metric_processor.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor: extract _process_derived_or_ratio_metric from _process_metric_node
  core/dbt/parser/metric_processor.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor: remove dead _process_multiple_metric_inputs
  core/dbt/parser/metric_processor.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie doc
  .changes/unreleased/Under the Hood-20260511-170809.yaml
Due: none

doc_processor: consolidate node/source duplication; remove dead code
  core/dbt/parser/doc_processor.py
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

extract docs processing cluster to doc_processor.py
  core/dbt/parser/doc_processor.py
  core/dbt/parser/manifest.py
  tests/unit/parser/test_get_doc_blocks.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

doc_processor: fix CodeScene violations in _get_doc_blocks and _process_docs_for_semantic_model
  core/dbt/parser/doc_processor.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie doc
  .changes/unreleased/Under the Hood-20260512-120105.yaml
Due: none

refactor: extract _resolve_and_process_input_metric to eliminate duplication
  core/dbt/parser/metric_processor.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: address Copilot review comments in metric_processor
  core/dbt/parser/metric_processor.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix(DI-4133): make column-level entity name optional in V2 semantic spec
  .changes/unreleased/Fixes-20260512-150000.yaml
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/common.py
  tests/unit/parser/test_v2_column_semantic_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

remove redundant name override from UnparsedDerivedEntityV2
  core/dbt/contracts/graph/unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add functional test for entity without name in V2 semantic spec
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

fix isort ordering and mypy type error for optional entity name
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix(DI-4133): make column-level entity name optional in V2 semantic spec (#12941)
  .changes/unreleased/Fixes-20260512-150000.yaml
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/common.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  tests/unit/parser/test_v2_column_semantic_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

remove git long paths ci step
  .github/workflows/main.yml
Due: none

remove git long paths ci step (#12942)
  .github/workflows/main.yml
Due: none

Use generic AST traversal
  core/dbt/parser/models.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

format tests
  tests/unit/parser/test_parser.py
Due: isort, black, flake8

changelog
  .changes/unreleased/Fixes-20260512-235427.yaml
Due: none

fix: preserve failure count in passing data test results
  .changes/unreleased/Fixes-20250508-134002.yaml
  core/dbt/task/test.py
  tests/unit/task/test_test.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: remove unused pytest-logbook and logbook test deps
  .changes/unreleased/Dependencies-20260513-120000.yaml
  core/hatch.toml
Due: none

downgrade ddtrace to <3.17
  core/hatch.toml
Due: none

chore: remove unused pytest-logbook and logbook test deps (#12946)
  .changes/unreleased/Dependencies-20260513-120000.yaml
  core/hatch.toml
Due: none

test: update functional tests for preserved failure count
  tests/functional/schema_tests/test_schema_v2_tests.py
Due: isort, black, flake8

fix(#12947): handle float NodeVersion in version_to_str
  .changes/unreleased/Fixes-20260513-120000.yaml
  core/dbt/parser/manifest.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

address PR feedback: use Optional[NodeVersion], restore regression comment
  core/dbt/parser/manifest.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor: reduce test_failures_always_preserved argument count
  tests/unit/task/test_test.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
