Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260326-171812.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fixed bug in dotenv loading when executed as dbt cli (#12717)
  core/dbt/cli/main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add test and source freshness
  core/dbt/task/freshness.py
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20260326-141103.yaml
Due: none

Pass selectors to source freshness (#12718)
  .changes/unreleased/Fixes-20260326-141103.yaml
  core/dbt/task/freshness.py
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

ensures that tests hit selector selector method
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8

ensures that tests hit selector selector method (#12720)
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8

improve snapshot error message for unique-key violations
  core/dbt/task/snapshot.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changelog entry
  .changes/unreleased/Fixes-20260327-120000.yaml
Due: none

updated pathspec version (#12714)
  core/pyproject.toml
Due: none

feat: warn on unknown flags in dbt_project.yml
  core/dbt/config/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: add missing InvalidOptionYAML import, remove unused logging import
  core/dbt/config/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changie entry for strict flags feature
  .changes/unreleased/Features-20260321-225400.yaml
Due: none

fix: address review comments - move import, add issue number to changelog, add unit test
  .changes/unreleased/Features-20260321-225400.yaml
  core/dbt/config/project.py
  tests/unit/config/test_project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: address review feedback - move imports, fix changelog YAML structure
  .changes/unreleased/Features-20260321-225400.yaml
  core/dbt/config/project.py
  tests/unit/config/test_project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: import order and changelog format
  .changes/unreleased/Fixes-20260323-220600.yaml
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: black formatting (missing blank line between methods, leading blank line in test file)
  core/dbt/exceptions.py
  tests/unit/test_ambiguous_catalog_exception.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

first pass: support deprecation alias with + prefix
  core/dbt/jsonschemas/jsonschemas.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: include macro filename in compilation error messages
  core/dbt/parser/macros.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update test durations for pytest-split
  core/.test_durations
Due: none

fix: include node context in env var missing error messages
  core/dbt/context/providers.py
  core/dbt/exceptions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: include model name and file path in unsupported constraint warning
  core/dbt/events/types.py
  core/dbt/parser/schemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: use git tag --no-column to prevent dbt deps breakage with columnar git output
  core/dbt/clients/git.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: handle permission errors gracefully when writing package-lock.yml
  core/dbt/task/deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: include exception message in run_results.json for run-operation failures
  core/dbt/task/run_operation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: normalize line endings in FileHash to prevent false state:modified results
  core/dbt/artifacts/resources/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for #11752
  .changes/unreleased/Fixes-20260329-142222-11752.yaml
Due: none

chore: add changelog entry for #11392
  .changes/unreleased/Fixes-20260329-142225-11392.yaml
Due: none

chore: add changelog entry for #10803
  .changes/unreleased/Fixes-20260329-142234-10803.yaml
Due: none

fix: include node context in config validation error messages
  .changes/unreleased/Fixes-20260329-104500-8276.yaml
  core/dbt/context/context_config.py
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: show clear error when unit test uses dict/csv format for ephemeral model inputs
  .changes/unreleased/Fixes-20260329-110000-11618.yaml
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: warn users when run_query or introspective queries are called without {% if execute %}
  .changes/unreleased/Fixes-20260329-150000.yaml
  core/dbt/context/providers.py
  tests/unit/context/test_providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: skip implicit model/column_name args in validate_macro_args for generic tests
  .changes/unreleased/Fixes-20260329-160000.yaml
  core/dbt/parser/schemas.py
  tests/functional/macros/test_macro_annotations.py
  tests/unit/parser/test_validate_macro_args.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

docs: add TESTING.md guide for contributors (resolves #9351)
  .changes/unreleased/docs-add-testing-guide.yaml
  CONTRIBUTING.md
  TESTING.md
Due: none

fix: raise clear error for unaccompanied graph operators in selectors
  .changes/unreleased/Fixes-20260329-180000.yaml
  core/dbt/graph/selector_spec.py
  tests/unit/graph/test_selector_spec.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: include macro name and file path in Jinja compilation errors
  .changes/unreleased/Fixes-20260329-200000.yaml
  core/dbt/parser/macros.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: emit per-model log lines for dbt clone
  .changes/unreleased/Fixes-20260329-210000.yaml
  core/dbt/task/clone.py
  tests/unit/task/test_clone.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
