Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

use -nauto
  .github/workflows/update-test-durations.yml
  core/hatch.toml
Due: none

centralize splitting logic
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/update-test-durations.yml
  core/hatch.toml
Due: none

revert testing workflow
  .github/workflows/test-repeater.yml
Due: none

Update test durations for pytest-split
  core/.test_durations
Due: none

fix: ensure `DBT_ENGINE` env var aliases for existing CLI params are picked up by CLI (#12586)
  .changes/unreleased/Fixes-20260303-114528.yaml
  core/dbt/cli/flags.py
  core/dbt/cli/params.py
  core/dbt/env_vars.py
  tests/functional/cli/test_env_var_deprecations.py
  tests/functional/cli/test_requires.py
  tests/unit/cli/test_main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

bumped dbt-adapters to 1.22.8
  core/pyproject.toml
Due: none

Fix duplicate CTE race condition in ephemeral model compilation
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/compilation.py
  core/dbt/contracts/graph/nodes.py
  tests/unit/test_compilation_threading.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add pickle support for per-node threading.Lock
  core/dbt/artifacts/resources/v1/components.py
  tests/unit/test_compilation_threading.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add deferral capability for udfs
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/function.py
  core/dbt/context/providers.py
  core/dbt/contracts/graph/manifest.py
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_defer_state.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changelog
  .changes/unreleased/Fixes-20260306-034008.yaml
Due: none

add changelog
  .changes/unreleased/Fixes-20260305-133929.yaml
Due: none

support sql_header config for data tests (#12545)
  .changes/unreleased/Fixes-20260225-203131.yaml
  core/dbt/artifacts/resources/v1/config.py
  core/dbt/contracts/project.py
  core/dbt/flags.py
  core/dbt/parser/generic_test_builders.py
  core/pyproject.toml
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/schema_tests/test_sql_header_config.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feat: add tags support to semantic models
  core/dbt/artifacts/resources/v1/semantic_model.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_configs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: apply +tags from dbt_project.yml to metrics
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/metrics/fixtures.py
  tests/functional/metrics/test_metric_configs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add a small clarification comment
  core/dbt/contracts/graph/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixed issue where proper context wasnt availabe to transitive dependencies
  core/dbt/cli/main.py
  core/dbt/cli/requires.py
  core/dbt/deps/resolver.py
  core/dbt/task/deps.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add a changelog
  .changes/unreleased/Features-20260306-152125.yaml
Due: none

Add a changelog
  .changes/unreleased/Features-20260306-151929.yaml
Due: none

Allow resolving full name for udfs in function runner
  .changes/unreleased/Fixes-20260306-192013.yaml
  core/dbt/task/function.py
  tests/unit/contracts/graph/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update URL and name of behavior change flag for `require_ref_searches_node_package_before_root`
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Changelog entry
  .changes/unreleased/Fixes-20260306-071359.yaml
Due: none

chore: sync JSON schemas from dbt-fusion (#12538)
  .changes/unreleased/Under the Hood-20260225-092728.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fixed issue in transitive dependency resolution by tracking used vars/env_var/target
  core/dbt/config/project.py
  core/dbt/config/renderer.py
  core/dbt/constants.py
  core/dbt/task/deps.py
  tests/functional/deps/test_deps_conditional.py
  tests/functional/deps/test_deps_relock.py
  tests/unit/deps/test_rendering_context.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update URL and name of behavior change flag for `require_ref_searches_node_package_before_root` (#12610)
  .changes/unreleased/Fixes-20260306-071359.yaml
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260306-182611.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

add test durations for functional tests (#12552)
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/update-test-durations.yml
  core/.test_durations
  core/hatch.toml
Due: none

update artifact schemas for v1.12.0a
  schemas/dbt/catalog/v1.json
  schemas/dbt/manifest/v12.json
  schemas/dbt/run-results/v6.json
  schemas/dbt/sources/v3.json
Due: none

chore: sync JSON schemas from dbt-fusion (#12611)
  .changes/unreleased/Under the Hood-20260306-182611.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

move get_node_repr to CompileRunner
  core/dbt/task/compile.py
  core/dbt/task/function.py
  core/dbt/task/run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add deferral capability for udfs (#12603)
  .changes/unreleased/Fixes-20260306-034008.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/function.py
  core/dbt/context/providers.py
  core/dbt/contracts/graph/manifest.py
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_defer_state.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

update artifact schemas for v1.12.0a (#12612)
  schemas/dbt/catalog/v1.json
  schemas/dbt/manifest/v12.json
  schemas/dbt/run-results/v6.json
  schemas/dbt/sources/v3.json
Due: none

Allow resolving full name for udfs in function runner (#12609)
  .changes/unreleased/Fixes-20260306-192013.yaml
  core/dbt/task/compile.py
  core/dbt/task/function.py
  core/dbt/task/run.py
  tests/unit/contracts/graph/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

remove level locking
  core/dbt/contracts/graph/nodes.py
  tests/unit/test_compilation_threading.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

update manifest schema
  schemas/dbt/manifest/v12.json
Due: none

try resetting flags for TestRequireAllWarningsHandledByWarnErrorBehaviorFlag
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

Move _lock from CompiledResource to CompiledNode per review
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/compilation.py
  core/dbt/contracts/graph/nodes.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Avoid deadlock: narrow lock scope and recurse outside lock
  core/dbt/compilation.py
  tests/unit/test_compilation_threading.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
