Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

chore: add author to invocation ID changelog
  .changes/unreleased/Fixes-20260802-databricks-invocation-id-query-comment.yaml
Due: none

fix(databricks): preserve streaming table configuration on rerun
  .changes/unreleased/Fixes-20260730-databricks-streaming-table-rerun.yaml
  crates/dbt-adapter/src/column/types.rs
  crates/dbt-adapter/src/relation/config_v2.rs
  crates/dbt-adapter/src/relation/databricks/config/components/relation_comment.rs
  crates/dbt-adapter/src/relation/databricks/config/components/tbl_properties.rs
  crates/dbt-adapter/src/relation/databricks/config/relation_types/streaming_table.rs
  crates/dbt-loader/tests/materializations/mod.rs
  crates/dbt-loader/tests/materializations/streaming_table.rs
  crates/dbt-schemas/src/schemas/manifest/manifest_nodes.rs
  crates/dbt-schemas/src/schemas/project/configs/model_config.rs
Due: none

chore: set materialized view tags changelog author
  .changes/unreleased/Fixes-20260729-databricks-materialized-view-tags.yaml
Due: none

feat(databricks): add query tags support
  .changes/unreleased/Features-20260728-databricks-query-tags.yaml
  crates/adbc-record-replay/src/record.rs
  crates/dbt-adapter/src/engine/adapter_engine.rs
  crates/dbt-adapter/src/query_ctx.rs
  crates/dbt-adbc/src/connection.rs
  crates/dbt-adbc/src/database.rs
  crates/dbt-adbc/src/databricks.rs
  crates/dbt-auth/src/databricks/mod.rs
  crates/dbt-auth/src/databricks/query_tags.rs
  crates/dbt-auth/src/lib.rs
  crates/dbt-init/src/adapter_config/databricks_config.rs
  crates/dbt-profile/src/resolve.rs
  crates/dbt-profile/tests/resolve_test.rs
  crates/dbt-schemas/src/schemas/nodes.rs
  crates/dbt-schemas/src/schemas/profiles.rs
  crates/dbt-schemas/src/schemas/project/configs/common.rs
  crates/dbt-schemas/src/schemas/project/configs/data_test_config.rs
  crates/dbt-schemas/src/schemas/project/configs/model_config.rs
  crates/dbt-schemas/src/schemas/project/configs/seed_config.rs
  crates/dbt-schemas/src/schemas/project/configs/snapshot_config.rs
  crates/dbt-schemas/src/schemas/project/configs/source_config.rs
  crates/dbt-schemas/src/schemas/project/configs/unit_test_config.rs
Due: none

refactor: tighten Databricks Python job config boundary
  crates/dbt-adapter/src/adapter/adapter_impl.rs
  crates/dbt-adapter/src/adapter/mod.rs
  crates/dbt-adapter/src/adapter/tests.rs
  crates/dbt-adapter/src/python/databricks/api_client.rs
  crates/dbt-adapter/src/python/databricks/mod.rs
Due: none

chore: link materialized view tags changelog issue
  .changes/unreleased/Fixes-20260729-databricks-materialized-view-tags.yaml
Due: none

chore: link query tags changelog issue
  .changes/unreleased/Features-20260728-databricks-query-tags.yaml
Due: none

chore: correct delete insert changelog project
  .changes/unreleased/Fixes-20260730-databricks-delete-insert.yaml
Due: none

chore: set relation cache changelog author
  .changes/unreleased/Fixes-20260802-071629.yaml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260805-070217.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix: propagate v2 metric fill_nulls_with into type_params
  .changes/unreleased/Fixes-20260805-000000.yaml
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260805-113956.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix(dbt-deps): guard git repo URLs against option injection
  .changes/unreleased/Fixes-20260805-000000.yaml
  crates/dbt-deps/src/git_client/generic.rs
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260805-144526.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260805-153746.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix: re-parse adapter macros from installed package after loading Fusion manifest
  core/dbt/parser/fusion.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

simplify: extract shared adapter patch helper in TestRediscoverAdapterMacros
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8

chore: add changelog entry for Fusion adapter macro rediscovery fix
  .changes/unreleased/Fixes-20260722-130412.yaml
Due: none

fix: stub rediscover_adapter_macros in parse_with_fusion orchestration tests
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8

chore: apply black formatting to test_fusion.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8

fix: use project.project_name instead of mapping key in rediscover_adapter_macros
  core/dbt/parser/fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: avoid clobbering cached dependencies and populate depends_on for rediscovered adapter macros
  core/dbt/parser/fusion.py
  core/dbt/parser/manifest.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260805-182639.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix(adbc): propagate Databricks query_id into RecordBatch metadata for Fusion (#15627)
  .changes/unreleased/Fixes-20260806-databricks-query-id.yaml
  crates/dbt-adapter/src/record_batch.rs
  crates/dbt-adbc/src/statement.rs
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260805-195412.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260805-221006.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Add module-level tracer and exception span recording
  core/dbt/clients/jinja.py
  core/dbt/task/runnable.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feat(dbt-adapter): copy partitions in parallel for BigQuery insert_overwrite
  .changes/unreleased/Under the Hood-20260221-172900.yaml
  crates/dbt-adapter/Cargo.toml
  crates/dbt-adapter/src/adapter/adapter_impl.rs
  crates/dbt-adapter/src/adapter/mod.rs
  crates/dbt-adapter/src/engine/adapter_engine.rs
  crates/dbt-adapter/src/engine/mod.rs
  crates/dbt-adapter/src/engine/retry.rs
  crates/dbt-adapter/src/time_machine/semantic.rs
  crates/dbt-loader/src/dbt_macro_assets/dbt-bigquery/macros/materializations/incremental_strategy/insert_overwrite.sql
  crates/dbt-tracing/src/async_tracing.rs
Due: none

refactor(dbt-adapter): address code health review
  crates/dbt-adapter/src/adapter/adapter_impl.rs
  crates/dbt-adapter/src/engine/retry.rs
Due: none

refactor(dbt-adapter): shrink copy_partitions below the large-method threshold
  crates/dbt-adapter/src/adapter/adapter_impl.rs
Due: none

feat(fabric): support ActiveDirectoryAccessToken authentication
  .changes/unreleased/Features-20260805-182006.yaml
  crates/dbt-auth/src/sqlserver/mod.rs
  crates/dbt-init/src/adapter_config/fabric_config.rs
Due: none

refactor(dbt-adapter): resolve remaining code health advisories
  crates/dbt-adapter/src/adapter/mod.rs
  crates/dbt-adapter/src/time_machine/semantic.rs
Due: none

Add root "dbt invocation" span for graph-runnable commands
  core/dbt/task/runnable.py
  tests/functional/dbt_runner/test_dbt_runner.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix orphaned spans for models with unit tests
  core/dbt/task/build.py
  tests/functional/dbt_runner/test_dbt_runner.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: resolve isort and mypy CI failures in manifest.py and fusion.py
  core/dbt/parser/fusion.py
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: register adapter and populate dependencies before static macro-dependency resolution in rediscover_adapter_macros
  core/dbt/parser/fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: re-parse adapter macros from installed package after loading Fusion manifest (#15529)
  .changes/unreleased/Fixes-20260722-130412.yaml
  core/dbt/parser/fusion.py
  core/dbt/parser/manifest.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
