Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

add mechanism for version deprecation warning (#15897)
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/deprecated_version.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  tests/functional/cli/test_deprecated_version.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#15313)
  .changes/unreleased/Under the Hood-20260619-230414.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Recognize Databricks adapter config keys in jsonschema validation (#15305) (#15909)
  .changes/unreleased/Fixes-20260623-120000.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

[ClickHouse] don't make the column nullable unless needed. Fix primary_key for empty values
  crates/dbt-adapter/src/adapter/adapter_impl.rs
  crates/dbt-loader/src/dbt_macro_assets/dbt-clickhouse/macros/materializations/table.sql
Due: none

test and changelog
  .changes/unreleased/Features-20260812-173249.yaml
  crates/dbt-adapter/src/adapter/adapter_impl.rs
Due: none

Bumping version to 1.11.13 and generate changelog
  .changes/1.11.13.md
  .changes/unreleased/Dependencies-20260701-120000.yaml
  .changes/unreleased/Features-20260812-015115.yaml
  .changes/unreleased/Fixes-20260703-120000.yaml
  .changes/unreleased/Fixes-20260706-143000.yaml
  .changes/unreleased/Fixes-20260721-140000.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Apply suggestions from code review
  .changes/unreleased/Features-20260812-173249.yaml
  crates/dbt-loader/src/dbt_macro_assets/dbt-clickhouse/macros/materializations/table.sql
Due: none

fix: scope compile/show/docs generate relation-cache population to selected schemas
  .changes/unreleased/Fixes-20260812-114732.yaml
  core/dbt/task/compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.10.23 and generate changelog
  .bumpversion.cfg
  .changes/1.10.23.md
  .changes/unreleased/Features-20260812-015115.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260812-160034.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion (#15916)
  .changes/unreleased/Under the Hood-20260812-160034.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Bumping version to 1.12.2 and generate changelog
  .changes/1.12.2.md
  .changes/unreleased/Features-20260812-015115.yaml
  .changes/unreleased/Fixes-20260623-120000.yaml
  .changes/unreleased/Under the Hood-20260619-230414.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feat: extend RunResult with the state_decision_id attribute
  .changes/unreleased/Features-20260812-093748.yaml
  core/dbt/#tracking.py#
  core/dbt/artifacts/schemas/run/v5/run.py
  core/dbt/clients/#jinja.py#
  core/uv.lock
  tests/unit/artifacts/test_run_execution_result.py
  uv.lock
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: remove files unintentionally added in previous commit
  core/dbt/#tracking.py#
  core/dbt/clients/#jinja.py#
  core/uv.lock
  uv.lock
Due: none

fix(adbc): propagate Databricks query_id into RecordBatch metadata for Fusion (#15627)
  .changes/unreleased/Fixes-20260806-databricks-query-id.yaml
  crates/dbt-adapter/src/record_batch.rs
  crates/dbt-adbc/src/statement.rs
Due: none

feat(snowflake): support catalog_sync config for Snowflake-managed Iceberg tables
  .changes/unreleased/Features-20260812-164105.yaml
  crates/dbt-loader/src/dbt_macro_assets/dbt-snowflake/macros/relations/table/create.sql
  crates/dbt-schemas/src/schemas/manifest/manifest_nodes.rs
  crates/dbt-schemas/src/schemas/project/configs/model_config.rs
Due: none

chore: link catalog_sync changelog entry to dbt-core issue 15919
  .changes/unreleased/Features-20260812-164105.yaml
Due: none

feat(databricks): add query tags support
  .changes/unreleased/Features-20260728-databricks-query-tags.yaml
  crates/adbc-record-replay/src/record.rs
  crates/dbt-adapter/src/engine/adapter_engine.rs
  crates/dbt-adapter/src/query_ctx.rs
  crates/dbt-adbc/src/connection.rs
  crates/dbt-adbc/src/database.rs
  crates/dbt-adbc/src/databricks.rs
  crates/dbt-auth/src/databricks/mod.rs
  crates/dbt-auth/src/databricks/query_tags.rs
  crates/dbt-auth/src/lib.rs
  crates/dbt-init/src/adapter_config/databricks_config.rs
  crates/dbt-profile/src/resolve.rs
  crates/dbt-profile/tests/resolve_test.rs
  crates/dbt-schemas/src/schemas/nodes.rs
  crates/dbt-schemas/src/schemas/profiles.rs
  crates/dbt-schemas/src/schemas/project/configs/common.rs
  crates/dbt-schemas/src/schemas/project/configs/data_test_config.rs
  crates/dbt-schemas/src/schemas/project/configs/model_config.rs
  crates/dbt-schemas/src/schemas/project/configs/seed_config.rs
  crates/dbt-schemas/src/schemas/project/configs/snapshot_config.rs
  crates/dbt-schemas/src/schemas/project/configs/source_config.rs
  crates/dbt-schemas/src/schemas/project/configs/unit_test_config.rs
Due: none

chore: link query tags changelog issue
  .changes/unreleased/Features-20260728-databricks-query-tags.yaml
Due: none

refactor: match query comment templates by adapter
  crates/dbt-adapter/src/engine/query_comment.rs
Due: none

test(databricks): preserve append macro contract
  .changes/unreleased/Fixes-20260730-databricks-incremental-append.yaml
  crates/dbt-loader/src/dbt_macro_assets/dbt-databricks/macros/materializations/incremental/strategies.sql
  crates/dbt-loader/tests/materializations/incremental/databricks/append.rs
Due: none

chore(databricks): restore append macro asset
  crates/dbt-loader/src/dbt_macro_assets/dbt-databricks/macros/materializations/incremental/strategies.sql
Due: none

refactor: separate query comment templates
  crates/dbt-adapter/src/engine/query_comment.rs
Due: none

fix: rediscover built-in generic test macros and reflect them in target/manifest.json under --use-v2-parser
  .changes/unreleased/Fixes-20260812-130820.yaml
  .changes/unreleased/Fixes-20260812-133414.yaml
  core/dbt/parser/fusion.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: remove stray tags corrupting changelog entry YAML
  .changes/unreleased/Fixes-20260812-130820.yaml
Due: none

chore: link changelog to issue #15926
  .changes/unreleased/Features-20260805-182006.yaml
Due: none

refactor: trim explanatory comments in fusion.py to state rationale only
  core/dbt/parser/fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feat: extend RunResult with the state_decision_id attribute (#15917)
  .changes/unreleased/Features-20260812-093748.yaml
  core/dbt/artifacts/schemas/run/v5/run.py
  tests/unit/artifacts/test_run_execution_result.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix(schemas): include catalog_sync in model config state comparison
  crates/dbt-schemas/src/schemas/project/configs/model_config.rs
Due: none

fix(schemas): treat catalog_sync as a set field in ProjectModelConfig
  crates/dbt-schemas/src/schemas/project/configs/model_config.rs
Due: none

docs: fix typos and clarify exception TODO comments
  core/dbt/exceptions.py
  core/dbt/graph/selector_methods.py
  core/dbt/parser/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor: remove dead error property on RemoteCompileResult
  core/dbt/contracts/sql.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test: add unit test verifying Jinja check in python models
  tests/unit/parser/test_parser.py
Due: isort, black, flake8

refactor: remove legacy microbatch event time start/end config keys
  core/dbt/task/run.py
  tests/functional/microbatch/test_microbatch.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: correct store_raw_result rows_affected type annotation to int and fallback empty message
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Seed data types not not nullable for ClickHouse
  .changes/unreleased/Features-20260812-173249.yaml
  crates/dbt-adapter/src/adapter/adapter_impl.rs
Due: none

refactor(databricks): delegate query tags to ADBC driver
  crates/adbc-record-replay/src/record.rs
  crates/dbt-adapter/src/engine/adapter_engine.rs
  crates/dbt-adapter/src/engine/databricks_query_tags.rs
  crates/dbt-adapter/src/engine/mod.rs
  crates/dbt-adapter/src/query_ctx.rs
  crates/dbt-adbc/src/connection.rs
  crates/dbt-adbc/src/database.rs
  crates/dbt-adbc/src/databricks.rs
  crates/dbt-auth/src/databricks/mod.rs
  crates/dbt-auth/src/databricks/query_tags.rs
  crates/dbt-auth/src/lib.rs
  crates/dbt-profile/tests/resolve_test.rs
  crates/dbt-schemas/src/schemas/project/configs/common.rs
  crates/dbt-schemas/src/schemas/project/configs/data_test_config.rs
  crates/dbt-schemas/src/schemas/project/configs/seed_config.rs
  crates/dbt-schemas/src/schemas/project/configs/snapshot_config.rs
  crates/dbt-schemas/src/schemas/project/configs/unit_test_config.rs
Due: none

test: trim clustered_by schema coverage
  crates/dbt-schemas/src/schemas/project/configs/model_config.rs
Due: none

refactor(databricks): scope query tag rendering
  crates/dbt-adapter/src/engine/adapter_engine.rs
  crates/dbt-profile/src/resolve.rs
  crates/dbt-profile/tests/resolve_test.rs
Due: none

fix: support Databricks delete+insert incremental strategy
  .changes/unreleased/Fixes-20260730-databricks-delete-insert.yaml
  crates/dbt-adapter/src/adapter/adapter_impl.rs
  crates/dbt-loader/src/dbt_macro_assets/dbt-databricks/macros/materializations/incremental/strategies.sql
  crates/dbt-loader/tests/macros/delete_insert.rs
  crates/dbt-loader/tests/macros/mod.rs
  crates/dbt-loader/tests/materializations/incremental.rs
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
