Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

bump PYTHON_INTEGRATION_TEST_WORKERS to 8
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

test with 15
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

fix flaky TestInitProjectWithExistingProfilesYml test
  tests/functional/init/test_init.py
Due: isort, black, flake8

test: skip on windows
  tests/functional/defer_state/test_group_updates.py
Due: isort, black, flake8

split slow tests out from others in CI
  core/hatch.toml
  tests/functional/defer_state/test_group_updates.py
Due: isort, black, flake8

single -k argument
  core/hatch.toml
Due: none

move to 10 workers
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

fix flaky test + 9 workers
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8

back to 8
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260212-002529.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

--ignore-no-tests-collected-error and bump workers to 15
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
  core/hatch.toml
Due: none

bump PYTHON_INTEGRATION_TEST_WORKERS (#12477)
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
  core/hatch.toml
  tests/functional/deprecations/test_deprecations.py
  tests/functional/init/test_init.py
Due: isort, black, flake8

added support for vars.yml in project root
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/constants.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add on error property ( temporarily add it to latest.json as well for testing )
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/jsonschemas/resources/latest.json
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added continue logic with ut and ft
  .changes/unreleased/Features-20260212-141041.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/jsonschemas/resources/latest.json
  core/dbt/task/runnable.py
  tests/functional/run_on_error/test_model_on_error.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

made on_error optional and fixed failing ft
  core/dbt/artifacts/resources/v1/model.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Added unit tests and integration tests
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/tests/fixtures/project.py
  tests/functional/configs/test
  tests/functional/configs/test_vars_file.py
  tests/unit/config/test_vars_file.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

ensuring partial parsing is skipped when changing variables in vars.yml
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/parser/manifest.py
  tests/functional/partial_parsing/test_pp_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

bump integration test timeout-minutes to 40
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

added changelog
  .changes/unreleased/Features-20260212-232728.yaml
Due: none

removed unnecessary file
  tests/functional/configs/test
Due: none

bump integration test timeout-minutes to 45
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

bump integration test timeout-minutes to 45 (#12487)
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

Backport bump test parallelism (#12481)
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
  core/hatch.toml
  tests/functional/deprecations/test_deprecations.py
  tests/functional/init/test_init.py
Due: isort, black, flake8

fix test
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

use common EventCatcher
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

use error over include for tests that don't test for include usage explicitly
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

use warn over exclude for tests that don't test for include usage explicitly
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

reset flags after using include/exclude
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

Reset flags before flaky test
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

Move fixtures for warn error options tests into base class
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

Refactor warn error options tests to have one test per test class
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

restore other changes, skip test on 1.11.latest
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

Restructure warn_error_options testing for better isolation (#12489)
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

Backport 12452 (#12476)
  .changes/unreleased/Fixes-20260204-211128.yaml
  core/dbt/parser/sources.py
  tests/functional/configs/test_warn_error_options.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixed breaking unit tests
  tests/unit/utils/project.py
Due: isort, black, flake8

removed unnecessary parameter from `validate_vars_not_in_both`
  core/dbt/config/project.py
  tests/unit/config/test_vars_file.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
