Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Update test durations for pytest-split (#12654)
  core/.test_durations
Due: none

feat: add macros to manifest flat graph to be accessed in graph API
  core/dbt/contracts/graph/manifest.py
  tests/unit/contracts/graph/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: added changelog entry for macros in context graph api
  .changes/unreleased/Features-20260316-011007.yaml
Due: none

added smooth backward compatibility for seeds hash compute in windows
  core/dbt/artifacts/resources/base.py
  core/dbt/contracts/graph/nodes.py
  core/hatch.toml
  tests/functional/defer_state/test_modified_state.py
  tests/unit/artifacts/test_file_hash.py
  tests/unit/graph/test_selector_methods.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixed buggy windows tests
  tests/functional/artifacts/expected_manifest.py
Due: isort, black, flake8

Revert "Revert "Fix duplicate CTE race condition in ephemeral model compilati…"
  .changes/unreleased/Fixes-20260305-133929.yaml
  core/dbt/compilation.py
  core/dbt/contracts/graph/nodes.py
  tests/unit/test_compilation_threading.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

restore state:modified vars changes
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/artifacts/resources/v1/exposure.py
  core/dbt/artifacts/resources/v1/source_definition.py
  core/dbt/context/configured.py
  core/dbt/context/providers.py
  core/dbt/contracts/files.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/graph/selector_methods.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  core/dbt/parser/sources.py
  tests/unit/contracts/graph/test_manifest.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add config support for macros (#12559)
  .changes/unreleased/Fixes-20260302-000739.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/macro.py
  core/dbt/parser/schemas.py
  schemas/dbt/manifest/v12.json
  tests/functional/artifacts/expected_manifest.py
  tests/functional/macros/fixtures.py
  tests/functional/macros/test_macros.py
  tests/unit/contracts/graph/test_nodes_parsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Better Logging (#12555)
  .changes/unreleased/Fixes-20260227-140009.yaml
  core/dbt/contracts/graph/semantic_manifest.py
  core/dbt/events/types.py
  tests/functional/macros/test_macro_annotations.py
  tests/unit/graph/test_selector_methods.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

small improvements
  core/dbt/cli/params.py
  core/dbt/contracts/files.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/parser/read_files.py
  core/hatch.toml
  tests/unit/graph/test_selector_methods.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Support environment variables for selector parameters
  .changes/unreleased/Features-20260317-120557.yaml
  core/dbt/cli/params.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add config key check for all keys and simplify the depr logic
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changelog
  .changes/unreleased/Fixes-20260318-011929.yaml
Due: none

remove unnecessary flag from tests
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8

Revert "Revert "Fix duplicate CTE race condition in ephemeral model compilati…" (#12659)
  .changes/unreleased/Fixes-20260305-133929.yaml
  core/dbt/compilation.py
  core/dbt/contracts/graph/nodes.py
  tests/unit/test_compilation_threading.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added change log entry
  .changes/unreleased/Fixes-20260317-133144.yaml
Due: none

Update test_simple_dependency.py
  tests/functional/dependencies/test_simple_dependency.py
Due: isort, black, flake8

support custom ref kwargs in unit tests and generic data tests
  .changes/unreleased/Fixes-20260318-091800.yaml
  core/dbt/context/providers.py
  core/dbt/contracts/project.py
  core/dbt/parser/unit_tests.py
  tests/functional/ref_override/test_custom_ref_kwargs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update pathspec version constraint in pyproject.toml
  core/pyproject.toml
Due: none

rename _extract_ref_via_jinja to _extract_ref_or_source_via_jinja
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

bring in latest jsonschema updates, add macros config test to happy path project
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
  tests/functional/fixtures/happy_path_project/models/macros.yml
Due: none

refactor: simplify config key detection per reviewer feedback
  core/dbt/parser/generic_test_builders.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Under the Hood-20260318-120715.yaml
Due: none

linting
  tests/functional/fixtures/happy_path_project/models/macros.yml
Due: none

bring in latest jsonschema updates, add macros config test to happy path project (#12670)
  .changes/unreleased/Under the Hood-20260318-120715.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
  tests/functional/fixtures/happy_path_project/models/macros.yml
Due: none

Fix IndexError in update_semantic_model when depends_on_nodes is empty
  core/dbt/parser/manifest.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_parsing.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

gracefully handle non-const inputs to doc blocks
  core/dbt/parser/manifest.py
  tests/functional/docs/test_doc_variable_arg.py
  tests/unit/parser/test_get_doc_blocks.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

style: fix pre-commit formatting issues
  core/dbt/parser/generic_test_builders.py
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add more tests, and comment on doc_args handling
  core/dbt/parser/manifest.py
  tests/functional/docs/test_doc_concat_arg.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20260318-173426.yaml
Due: none

linting
  core/dbt/parser/manifest.py
  tests/functional/docs/test_doc_concat_arg.py
  tests/unit/parser/test_get_doc_blocks.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix: Add @requires.catalogs decorator to test command (#12663)
  .changes/unreleased/Fixes-20260317-094953.yaml
  core/dbt/cli/main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

linting
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix AttributeError when generic test config is a non-dict scalar
  core/dbt/exceptions.py
  core/dbt/parser/generic_test_builders.py
  tests/functional/schema_tests/test_custom_test_config.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20260318-182358.yaml
Due: none

Fix #12353: Add @requires.catalogs decorator to compile command (#12388)
  .changes/unreleased/Fixes-20260124-212300.yaml
  core/dbt/cli/main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

handle jinja2.Undefined in msgpack_encoder
  core/dbt/parser/manifest.py
  tests/functional/partial_parsing/test_pp_undefined_serialization.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

code quality
  tests/functional/partial_parsing/test_pp_undefined_serialization.py
Due: isort, black, flake8
