Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

support for js udfs
  core/dbt/artifacts/resources/types.py
  core/dbt/parser/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

run changie
  .changes/unreleased/Fixes-20260304-140229.yaml
Due: none

Bumping version to 1.11.7 and generate changelog
  .changes/1.11.7.md
  .changes/unreleased/Dependencies-20260302-130425.yaml
  .changes/unreleased/Fixes-20260223-161820.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

update default sqlparse_options to be null for both grouping values, use DBT_ENGINE_ prefix
  core/dbt/cli/option_types.py
  core/dbt/cli/params.py
  tests/functional/compile/test_compile.py
  tests/unit/test_env_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add test durations
  .github/workflows/main.yml
  .github/workflows/update-test-durations.yml
  core/.test_durations
Due: none

add duration split for struct logging
  .github/workflows/structured-logging-schema-check.yml
Due: none

update spllit method
  core/.test_durations
  core/hatch.toml
Due: none

use target branch
  .github/workflows/test-repeater.yml
  .github/workflows/update-test-durations.yml
Due: none

fix workflow
  .github/workflows/update-test-durations.yml
Due: none

testing
  .github/workflows/test-repeater.yml
Due: none

split struct logging tests
  .github/workflows/structured-logging-schema-check.yml
Due: none

use least duration algo
  .github/workflows/main.yml
Due: none

add notification
  .github/workflows/update-test-durations.yml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260304-163132.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

modify dependency order
  docker/Dockerfile
Due: none

fix SqlParseOptions for retry
  core/dbt/cli/option_types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added behaviour flag for sql_header
  .changes/unreleased/Fixes-20260225-203131.yaml
  core/dbt/contracts/project.py
  core/dbt/parser/generic_test_builders.py
  tests/functional/schema_tests/test_sql_header_config.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

modify dependency order (#12593)
  docker/Dockerfile
Due: none

fix changelog
  .changes/unreleased/Fixes-20260225-203131.yaml
Due: none

sql_header type check validation
  core/dbt/artifacts/resources/v1/config.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix `Dockerfile` used for dockerized release image (#11937)
  .changes/unreleased/Under the Hood-20250819-123448.yaml
  docker/Dockerfile
Due: none

build git from source (#11991)
  docker/Dockerfile
Due: none

Update version for libpq-dev in Dockerfile (#12373)
  docker/Dockerfile
Due: none

add DBT_ENGINE_SQLPARSE to allowlist
  tests/functional/cli/test_requires.py
Due: isort, black, flake8

code quality fix
  .bumpversion.cfg
Due: none

bring back sqlparse<0.6.0
  core/pyproject.toml
Due: none

preserve existing sql_header behaviour by default
  core/dbt/flags.py
  core/dbt/parser/generic_test_builders.py
  tests/functional/schema_tests/test_sql_header_config.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

[Backport 1.10.latest] Dockerfile fixes (#12595)
  .bumpversion.cfg
  .changes/unreleased/Under the Hood-20250819-123448.yaml
  docker/Dockerfile
Due: none

fix yml based snapshot compile path
  core/dbt/parser/schemas.py
  tests/functional/snapshots/test_basic_snapshot.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add circular selector handling logic and tests
  core/dbt/config/selectors.py
  core/dbt/graph/cli.py
  core/dbt/graph/selector_methods.py
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

remove obsolete uts and fix failing uts
  tests/unit/config/test_selectors.py
  tests/unit/graph/test_cli.py
Due: isort, black, flake8

make selector resolution order deterministic for circular deps
  core/dbt/graph/selector_methods.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

raise DbtRecursionError instead of DbtRuntimeError on finding cyclic deps
  core/dbt/graph/selector_methods.py
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixed failing tests
  tests/functional/macros/test_macro_annotations.py
  tests/unit/graph/test_selector_methods.py
Due: isort, black, flake8

bump timeout
  .github/workflows/update-test-durations.yml
Due: none

allow beta ddtrace
  core/hatch.toml
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
