Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

chore: correct delete insert changelog project
  .changes/unreleased/Fixes-20260730-databricks-delete-insert.yaml
Due: none

fix common pin
  dev-requirements.txt
Due: none

[Backport 1.9.latest] add mechanism for version deprecation warning (#15910)
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/deprecated_version.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  dev-requirements.txt
  tests/functional/cli/test_deprecated_version.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix major.minor comparison in release.yml's hatch-detection check
  .github/workflows/release.yml
Due: none

Bumping version to 1.9.11 and generate changelog
  .bumpversion.cfg
  .changes/1.9.11.md
  .changes/unreleased/Features-20260812-015115.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix(databricks): preserve streaming table configuration on rerun
  .changes/unreleased/Fixes-20260730-databricks-streaming-table-rerun.yaml
  crates/dbt-adapter/src/column/types.rs
  crates/dbt-adapter/src/relation/config_v2.rs
  crates/dbt-adapter/src/relation/databricks/config/components/relation_comment.rs
  crates/dbt-adapter/src/relation/databricks/config/relation_types/streaming_table.rs
  crates/dbt-loader/tests/materializations/mod.rs
  crates/dbt-loader/tests/materializations/streaming_table.rs
  crates/dbt-schemas/src/schemas/manifest/manifest_nodes.rs
  crates/dbt-schemas/src/schemas/project/configs/model_config.rs
Due: none

add mechanism for version deprecation warning (#15897)
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/deprecated_version.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  tests/functional/cli/test_deprecated_version.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Pin dbt-common/dbt-adapters/dbt-tests-adapter to fix CI
  dev-requirements.txt
Due: none

Fix broken dbt.tests namespace package merge in tox
  tox.ini
Due: none

change dist to use dbt-sa-python instead of dbt-python
  .github/workflows/release-v2.yml
Due: none

fix: propagate config.group to test group when attached_node is null
  crates/dbt-parser/src/resolve/resolve_tests/resolve_data_tests.rs
Due: none

fix: preserve required tracing spans under filters
  .changes/unreleased/Fixes-20260814-021401.yaml
  crates/dbt-common/src/tracing/dbt_init.rs
  crates/dbt-common/src/tracing/tests/dbt_init_tests.rs
  crates/dbt-common/src/tracing/tests/mod.rs
  crates/dbt-tracing/src/init.rs
  crates/dbt-tracing/src/tests/init_tests.rs
Due: none

[Backport 1.8.latest] add mechanism for version deprecation warning (#15936)
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/deprecated_version.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  dev-requirements.txt
  tests/functional/cli/test_deprecated_version.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.8.10 and generate changelog
  .bumpversion.cfg
  .changes/1.8.10.md
  .changes/unreleased/Features-20260812-015115.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix major.minor comparison in release.yml's hatch-detection check (#15935)
  .github/workflows/release.yml
Due: none

add mechanism for version deprecation warning (#15897) (#15937)
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/deprecated_version.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  tests/functional/cli/test_deprecated_version.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.7.20 and generate changelog
  .bumpversion.cfg
  .changes/1.7.20.md
  .changes/unreleased/Features-20260812-015115.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
  docker/Dockerfile
  plugins/postgres/dbt/adapters/postgres/__version__.py
  plugins/postgres/setup.py
  tests/adapter/dbt/tests/adapter/__version__.py
  tests/adapter/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

[Backport 1.6.latest] add mechanism for version deprecation warning (#15938)
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/deprecated_version.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  tests/functional/cli/test_deprecated_version.py
  tox.ini
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.6.19 and generate changelog
  .bumpversion.cfg
  .changes/1.6.19.md
  .changes/unreleased/Features-20260812-015115.yaml
  .changes/unreleased/Under the Hood-20241016-144056.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
  docker/Dockerfile
  plugins/postgres/dbt/adapters/postgres/__version__.py
  plugins/postgres/setup.py
  tests/adapter/dbt/tests/adapter/__version__.py
  tests/adapter/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

[Backport 1.5.latest] add mechanism for version deprecation warning (#15939)
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/deprecated_version.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  tests/functional/cli/test_deprecated_version.py
  tox.ini
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add test
  tests/functional/compile/test_compile_cache_selected_only.py
Due: isort, black, flake8

Bumping version to 1.5.12 and generate changelog
  .bumpversion.cfg
  .changes/1.5.12.md
  .changes/unreleased/Features-20260812-015115.yaml
  .changes/unreleased/Under the Hood-20241016-144056.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
  docker/Dockerfile
  plugins/postgres/dbt/adapters/postgres/__version__.py
  plugins/postgres/setup.py
  tests/adapter/dbt/tests/adapter/__version__.py
  tests/adapter/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add backport of #15897
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/context/providers.py
  core/dbt/deprecated_version.py
  core/dbt/main.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  dev-requirements.txt
  pyproject.toml
  tests/functional/test_deprecated_version.py
  third-party-stubs/mashumaro/mixins/dict.pyi
  tox.ini
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add backport of #15897 (#15942)
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/context/providers.py
  core/dbt/deprecated_version.py
  core/dbt/main.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  dev-requirements.txt
  pyproject.toml
  tests/functional/test_deprecated_version.py
  third-party-stubs/mashumaro/mixins/dict.pyi
  tox.ini
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.4.10 and generate changelog
  .bumpversion.cfg
  .changes/1.4.10.md
  .changes/unreleased/Features-20260812-015115.yaml
  .changes/unreleased/Under the Hood-20241016-144056.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
  docker/Dockerfile
  plugins/postgres/dbt/adapters/postgres/__version__.py
  plugins/postgres/setup.py
  tests/adapter/dbt/tests/adapter/__version__.py
  tests/adapter/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

backport
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/context/providers.py
  core/dbt/deprecated_version.py
  core/dbt/events/base_types.py
  core/dbt/events/types.py
  core/dbt/main.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  dev-requirements.txt
  mypy.ini
  tests/functional/test_deprecated_version.py
  third-party-stubs/mashumaro/mixins/dict.pyi
  tox.ini
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

backport
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/context/providers.py
  core/dbt/deprecated_version.py
  core/dbt/events/base_types.py
  core/dbt/events/types.py
  core/dbt/main.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  dev-requirements.txt
  mypy.ini
  tests/functional/test_deprecated_version.py
  tox.ini
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: send x-ms-blob-type when uploading artifacts to Azure Blob Storage
  .changes/unreleased/Fixes-20260814-120000.yaml
  core/dbt/utils/artifact_upload.py
  tests/unit/test_artifact_upload.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

backport
  .changes/unreleased/Features-20260812-015115.yaml
  core/dbt/adapters/base/impl.py
  core/dbt/deprecated_version.py
  core/dbt/events/base_types.py
  core/dbt/events/types.py
  core/dbt/main.py
  core/dbt/parser/base.py
  core/dbt/task/init.py
  core/dbt/tracking.py
  dev-requirements.txt
  mypy.ini
  tests/functional/test_deprecated_version.py
  third-party-stubs/agate/__init__.pyi
  tox.ini
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix stale CI runner/toolchain pins on 1.3.latest
  .github/workflows/main.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

Fix stale CI runner/toolchain pins on 1.2.latest
  .github/workflows/main.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

Fix postgres setup on ubuntu-22.04 for 1.2.latest
  .github/actions/setup-postgres-linux/action.yml
Due: none

Fix postgres setup on ubuntu-22.04 for 1.3.latest
  .github/actions/setup-postgres-linux/action.yml
Due: none

Fix stale CI runner/toolchain pins on 1.1.latest
  .github/actions/setup-postgres-linux/action.yml
  .github/workflows/main.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

Bump actions/upload-artifact to v4 on 1.1.latest
  .github/workflows/main.yml
Due: none

Bump macos-13 to macos-15 on 1.1.latest
  .github/workflows/main.yml
Due: none
