Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

test: add functional test for debug surfacing profile error on duplicate keys
  tests/functional/cli/test_debug_error_handling.py
Due: isort, black, flake8

fix: use tuple membership check instead of substring match in selection_arg
  core/dbt/task/compile.py
  core/dbt/task/show.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for #12539 fix
  .changes/unreleased/Fixes-20260228-153039.yaml
Due: none

fix: schedule referencing nodes for reparse when access changes to private via config block
  .changes/unreleased/Fixes-20260228-203631.yaml
  core/dbt/parser/partial.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: collect all NoNodeForYamlKey errors instead of stopping at first when using --warn-error-options
  .changes/unreleased/Fixes-20260228-221544.yaml
  core/dbt/parser/schemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix failing ut
  tests/unit/contracts/graph/test_nodes_parsed.py
Due: isort, black, flake8

fix failing it
  tests/functional/artifacts/expected_manifest.py
Due: isort, black, flake8

add changie
  .changes/unreleased/Fixes-20260302-000739.yaml
Due: none

added support to enable/disable packages with jinja rendering
  core/dbt/config/project.py
  core/dbt/config/renderer.py
  core/dbt/contracts/project.py
  core/dbt/deps/resolver.py
  core/dbt/task/deps.py
  tests/functional/deps/test_deps_conditional.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Write compiled SQL for snapshots during dbt compile (#7867)
  core/dbt/compilation.py
  core/dbt/parser/snapshots.py
  tests/functional/artifacts/expected_manifest.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added changelog
  .changes/unreleased/Features-20260302-123311.yaml
Due: none

removed support for project_name
  core/dbt/config/project.py
  core/dbt/config/renderer.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added changelog
  .changes/unreleased/Features-20260302-124806.yaml
Due: none

reorder build checks
  core/hatch.toml
Due: none

fix retry task (#12549)
  core/dbt/task/retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Under the Hood-20260302-101022.yaml
Due: none

improve exception message on sqlparse limits
  core/dbt/compilation.py
  tests/functional/compile/test_compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

switch build to hatch command
  .github/workflows/main.yml
  core/hatch.toml
  scripts/build-dist.sh
Due: none

testing
  .github/workflows/release.yml
Due: none

bump minimum version of dbt-common
  .changes/unreleased/Dependencies-20260302-130425.yaml
  core/pyproject.toml
Due: none

reorder build checks (#12569)
  core/hatch.toml
Due: none

bump minimum version of dbt-common (#12576)
  .changes/unreleased/Dependencies-20260302-130425.yaml
  core/pyproject.toml
Due: none

merge top and config level meta
  core/dbt/parser/schemas.py
  tests/functional/macros/test_macros.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

pin
  .changes/unreleased/Dependencies-20260302-130425.yaml
  core/setup.py
Due: isort, black, flake8

sqlparse>=0.5.5
  core/pyproject.toml
Due: none

updating docs issue workflow
  .github/workflows/docs-issue.yml
Due: none

updating docs issue workflow (#12560)
  .github/workflows/docs-issue.yml
Due: none

fix pre-commit installs (#12366)
  core/hatch.toml
Due: none

tweak hatch setup (#12357)
  .isort.cfg
  .pre-commit-config.yaml
  core/hatch.toml
  hatch.toml
  pyproject.toml
Due: none

fix build check (#12519)
  core/hatch.toml
Due: none

Remove inline comment from fire_event call
  core/dbt/task/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove unrelated files from PR
  core/dbt/parser/schemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove unrelated changelog entry from PR
  .changes/unreleased/Fixes-20260228-221544.yaml
Due: none

Add changelog entry for TimingInfoCollected fix
  .changes/unreleased/Fixes-20260303-101430.yaml
Due: none

Add summary output for dbt source freshness command Fixes #6248Add summary output for dbt source freshness command Fixes #6248
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry
  .changes/unreleased/Features-20251127-232956.yaml
Due: none

Refactor: Extract helper function and add fallback for task_end_messages
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
