Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

formatting
  core/dbt/artifacts/resources/v1/components.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Allow catalogs in any schema yml file
  core/dbt/cli/requires.py
  core/dbt/config/catalogs.py
  core/dbt/jsonschemas/resources/latest.json
  tests/functional/catalogs/test_catalogs_parsing.py
  tests/unit/config/test_catalogs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: re-run macro arg validation after partial parse reuse
  core/dbt/parser/manifest.py
  core/dbt/parser/schemas.py
  tests/functional/macros/test_macro_annotations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added changie
  .changes/unreleased/Fixes-20260308-154406.yaml
Due: none

fix: raise PropertyMovedToConfigDeprecation for config keys at top level of generic test
  .changes/unreleased/Fixes-20260308-163014.yaml
  core/dbt/parser/generic_test_builders.py
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix excessive time for durations
  .github/workflows/update-test-durations.yml
  core/hatch.toml
Due: none

fix duration
  .github/workflows/update-test-durations.yml
  core/hatch.toml
Due: none

Update test durations for pytest-split
  core/.test_durations
Due: none

Reduce test duration run time (#12620)
  .github/workflows/update-test-durations.yml
  core/.test_durations
  core/hatch.toml
Due: none

set sqlparse.engine.grouping from CLI -sqlparse '{"MAX_GROUPING_DEPTH": "value", "MAX_GROUPING_TOKENS": "value"}' options, defaulting to None (#12558)
  .changes/unreleased/Under the Hood-20260302-101022.yaml
  core/dbt/cli/main.py
  core/dbt/cli/option_types.py
  core/dbt/cli/params.py
  core/dbt/compilation.py
  core/pyproject.toml
  tests/functional/cli/test_requires.py
  tests/functional/compile/test_compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

update v12 manifest json
  schemas/dbt/manifest/v12.json
Due: none

warn on DeprecationsSummary when testing for specific error message
  tests/functional/contracts/test_contract_precision.py
Due: isort, black, flake8

warn on DeprecationsSummary when testing for specific error message (#12622)
  tests/functional/contracts/test_contract_precision.py
Due: isort, black, flake8

Add explicit check for unset new_prepended_ctes
  core/dbt/compilation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix duplicate CTE race condition in ephemeral model compilation (#12602)
  .changes/unreleased/Fixes-20260305-133929.yaml
  core/dbt/compilation.py
  core/dbt/contracts/graph/nodes.py
  tests/unit/test_compilation_threading.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Downgrade contract breaking change to warning for pre-release model versions (#12164)
  core/dbt/contracts/graph/nodes.py
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_modified_state.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert "Fix duplicate CTE race condition in ephemeral model compilation (#12602)"
  .changes/unreleased/Fixes-20260305-133929.yaml
  core/dbt/compilation.py
  core/dbt/contracts/graph/nodes.py
  tests/unit/test_compilation_threading.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie changelog entry for #12164
  .changes/unreleased/Features-20260309-163700.yaml
Due: none

Revert "Fix duplicate CTE race condition in ephemeral model compilation (#12602)" (#12624)
  .changes/unreleased/Fixes-20260305-133929.yaml
  core/dbt/compilation.py
  core/dbt/contracts/graph/nodes.py
  tests/unit/test_compilation_threading.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260309-225248.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

feat: support config.tags and +tags for metrics
  .changes/unreleased/Features-20260306-152125.yaml
  core/dbt/artifacts/resources/v1/metric.py
  core/dbt/parser/common.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/metrics/fixtures.py
  tests/functional/metrics/test_metric_configs.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_configs.py
  tests/unit/parser/test_normalize_tags.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add config support for macros (#12559)
  .changes/unreleased/Fixes-20260302-000739.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/macro.py
  core/dbt/parser/schemas.py
  schemas/dbt/manifest/v12.json
  tests/functional/artifacts/expected_manifest.py
  tests/functional/macros/fixtures.py
  tests/functional/macros/test_macros.py
  tests/unit/contracts/graph/test_nodes_parsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

change retry result check logic to solve the issue of multiple calls of dbt retry (#8848)
  core/dbt/task/retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added test with explicit method: selector
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8

add test case of multiple retry
  tests/functional/retry/test_retry.py
Due: isort, black, flake8

add a changelog file
  .changes/unreleased/Fixes-20260310-064146.yaml
Due: none

feat: add --no-full-refresh flag to dbt compile
  .changes/unreleased/Features-20260310-165145.yaml
  core/dbt/cli/flags.py
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/compilation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add an AGENTS.md markdown file
  AGENTS.md
Due: none

Add a `Commit Discipline` section to AGENTS.md
  AGENTS.md
Due: none

Add context on functional test flakiness to AGENTS.md
  AGENTS.md
Due: none

use PR for test duration updates
  .github/workflows/update-test-durations.yml
Due: none

use PR instead of direct commits
  .github/workflows/update-test-durations.yml
Due: none

Add tests asserting the packages are specifiable for python UDFs
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8

added test case for no selector matches
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8

Fix functional test flakiness due to stale buffered_deprecation problems
  tests/functional/conftest.py
Due: isort, black, flake8

Update direct testing example to use `hatch run`
  AGENTS.md
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
