Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

added changie
  .changes/unreleased/Features-20260223-143759.yaml
Due: none

added changelog
  .changes/unreleased/Fixes-20260223-161209.yaml
Due: none

remove changelog
  .changes/unreleased/Fixes-20260223-161209.yaml
Due: none

Fix black formatting in debug.py
  core/dbt/task/debug.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

dbt init also executes dbt debug on successful project creation (#12511)
  .changes/unreleased/Features-20260219-133321.yaml
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/events/types.py
  core/dbt/task/debug.py
  core/dbt/task/init.py
  tests/functional/init/test_init.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: Skip rendering data_tests in per-version columns
  .changes/unreleased/Fixes-20260223-191000.yaml
  core/dbt/parser/schema_renderer.py
  tests/unit/parser/test_schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Make metric filter by dimension parsing test case slightly richer
  .changes/unreleased/Under the Hood-20260223-121653.yaml
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

add tests
  core/dbt/contracts/project.py
  core/dbt/deps/local.py
  core/dbt/task/deps.py
  tests/functional/dependencies/test_local_dependency.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Allow null config nested resource path
  core/dbt/jsonschemas/jsonschemas.py
  core/dbt/jsonschemas/project/0.0.110.json
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix Dimension() jinja in nested metric filters rendered during v2 YAML parsing
  .changes/unreleased/Fixes-20260223-132342.yaml
  core/dbt/parser/schema_renderer.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

corrected valid config lookup logic before raising dep errs
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_missing_plus_in_config_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Allow support for custom macros in selectors.yml
  core/dbt/config/project.py
  core/dbt/config/renderer.py
  tests/functional/selectors/test_selector_macro_rendering.py
  tests/unit/config/test_selector_renderer_with_macros.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changie
  .changes/unreleased/Features-20260223-231634.yaml
Due: none

Update profile.py
  core/dbt/config/profile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix Dimension() jinja in nested metric filters rendered during v2 YAML parsing (#12529)
  .changes/unreleased/Fixes-20260223-132342.yaml
  core/dbt/parser/schema_renderer.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Make metric filter by dimension parsing test case slightly richer (#12528)
  .changes/unreleased/Under the Hood-20260223-121653.yaml
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8

added changie
  .changes/unreleased/Fixes-20260224-231047.yaml
Due: none

moved related tests to same module and removed incorrect test
  tests/functional/deprecations/test_deprecations.py
  tests/functional/deprecations/test_missing_plus_in_config_deprecations.py
Due: isort, black, flake8

Fix v2 metric parsing to use custom semantic_model.name for generated_from
  .changes/unreleased/Fixes-20260224-115546.yaml
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  uv.lock
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add empty / none check for property_defn
  core/dbt/jsonschemas/jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

skip flaky TestWarnErrorOptionsFromProjectCanExcludeSpecificEventtest
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

Address review comments: remove uv.lock, add PR # to changelog
  .changes/unreleased/Fixes-20260224-115546.yaml
  uv.lock
Due: none

addeed changelog
  .changes/unreleased/Fixes-20260223-161820.yaml
Due: none

added functional tests
  tests/functional/microbatch/test_microbatch.py
Due: isort, black, flake8

fix dbt retry for microbatch models
  core/dbt/task/retry.py
  core/dbt/task/run.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix dbt retry for microbatch models (#12525)
  .changes/unreleased/Fixes-20260223-161820.yaml
  core/dbt/task/retry.py
  core/dbt/task/run.py
  tests/functional/microbatch/test_microbatch.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Enhance source definition with additional fields
  core/dbt/artifacts/resources/v1/source_definition.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260225-092728.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

add changelog entry for #12537
  .changes/unreleased/Features-12537-source-config-json-output.yaml
Due: none

Fix v2 metric parsing to respect custom semantic_model.name (#12532)
  .changes/unreleased/Fixes-20260224-115546.yaml
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Improve logic for missing plus sign prefix deprecations (#12482)
  .changes/unreleased/Fixes-20260224-231047.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
  tests/functional/deprecations/test_missing_plus_in_config_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

skip flaky TestWarnErrorOptionsFromProjectCanExcludeSpecificEventtest (#12533)
  tests/functional/configs/test_warn_error_options.py
Due: isort, black, flake8

Fix doc() rendering in derived_semantics descriptions
  core/dbt/parser/schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add unit and functional tests for derived_semantics description rendering fix
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  tests/unit/parser/test_schema_renderer.py
Due: isort, black, flake8

Add changie entry for derived_semantics description rendering fix
  .changes/unreleased/Fixes-20260224-180000.yaml
Due: none

Fix doc() rendering in derived_semantics descriptions (#12535)
  .changes/unreleased/Fixes-20260224-180000.yaml
  core/dbt/parser/schema_renderer.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  tests/unit/parser/test_schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore - temporarily pin virtualenv
  .github/workflows/cut-release-branch.yml
  .github/workflows/main.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
  scripts/build-dist.sh
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
