Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

addressed comments
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/oauth/runcache.py
  core/dbt/auth/oauth/utils.py
  core/dbt/auth/resolvers.py
  core/dbt/auth/secure_file.py
  core/dbt/auth/session_cache.py
  core/dbt/cli/params.py
  core/dbt/config/user_settings.py
  tests/unit/auth/test_login_flow.py
  tests/unit/auth/test_resolvers.py
  tests/unit/auth/test_secure_file.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

rename runcache to state
  core/dbt/auth/__init__.py
  core/dbt/auth/credentials.py
  core/dbt/auth/oauth/callback_server.py
  core/dbt/auth/oauth/state.py
  core/dbt/auth/resolvers.py
  core/dbt/task/login.py
  tests/unit/auth/test_credentials.py
  tests/unit/auth/test_login_flow.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix failing tests
  core/dbt/contracts/project.py
  tests/functional/list/test_commands.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

ci(copybara): use test branch as origin + add fs/sa marker
  README.md
Due: none

align login logs
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/oauth/state.py
  core/dbt/auth/resolvers.py
  core/dbt/task/login.py
  tests/unit/auth/test_login_flow.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add dbt login status sub command
  core/dbt/auth/chain.py
  core/dbt/auth/oauth/state.py
  core/dbt/auth/resolvers.py
  core/dbt/cli/main.py
  core/dbt/task/login.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix failing tests
  core/dbt/cli/flags.py
  core/dbt/cli/types.py
  tests/unit/task/test_retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix --manage-state being silently overridden by DBT_ENGINE_MANAGE_STATE=false in the plugin (#13039)
  .changes/unreleased/Fixes-20260527-233000.yaml
  core/dbt/plugins/manager.py
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix formatting
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260528-182630.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260528-191252.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

add functional tests and align with fs impl
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/resolvers.py
  core/dbt/task/login.py
  tests/functional/auth/__init__.py
  tests/functional/auth/conftest.py
  tests/functional/auth/test_login.py
  tests/functional/auth/test_login_status.py
  tests/functional/list/test_commands.py
  tests/unit/auth/test_login_flow.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Implement dbt Login Command (#13020)
  .changes/unreleased/Features-20260527-222711.yaml
  core/dbt/auth/__init__.py
  core/dbt/auth/chain.py
  core/dbt/auth/credentials.py
  core/dbt/auth/oauth/__init__.py
  core/dbt/auth/oauth/callback_server.py
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/oauth/state.py
  core/dbt/auth/resolvers.py
  core/dbt/auth/secure_file.py
  core/dbt/auth/session_cache.py
  core/dbt/cli/flags.py
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/cli/types.py
  core/dbt/config/user_settings.py
  core/dbt/exceptions.py
  core/dbt/task/login.py
  tests/functional/auth/__init__.py
  tests/functional/auth/conftest.py
  tests/functional/auth/test_login.py
  tests/functional/auth/test_login_status.py
  tests/functional/cli/test_requires.py
  tests/functional/list/test_commands.py
  tests/unit/auth/__init__.py
  tests/unit/auth/test_chain.py
  tests/unit/auth/test_credentials.py
  tests/unit/auth/test_login_flow.py
  tests/unit/auth/test_resolvers.py
  tests/unit/auth/test_secure_file.py
  tests/unit/auth/test_session_cache.py
  tests/unit/cli/test_flags.py
  tests/unit/task/test_retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Unhide --use-v2-parser
  core/dbt/cli/params.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix parser unit tests
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8

Fix changelog
  .changes/unreleased/Features-20260526-225012.yaml
Due: none

Update core/dbt/cli/params.py
  core/dbt/cli/params.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Cleanup mentions of `fs`
  core/dbt/cli/params.py
  core/dbt/parser/fusion.py
  tests/functional/fusion_parser/test_fusion_parser_branch.py
  tests/functional/v2_parser_parity/README.md
  tests/functional/v2_parser_parity/v2_self_parser.py
  tests/unit/cli/test_flags.py
  tests/unit/cli/test_setup_manifest.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update issue reference in Features YAML file
  .changes/unreleased/Features-20260526-225012.yaml
Due: none

Add --use-v2-parser to delegate parsing to the fusion parser (#13029)
  .changes/unreleased/Features-20260526-225012.yaml
  core/dbt/artifacts/resources/v1/singular_test.py
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/contracts/project.py
  core/dbt/exceptions.py
  core/dbt/parser/fusion.py
  core/dbt/parser/manifest.py
  core/dbt/tests/util.py
  core/pyproject.toml
  tests/conftest.py
  tests/functional/basic/test_basic.py
  tests/functional/basic/test_invalid_reference.py
  tests/functional/basic/test_jaffle_shop.py
  tests/functional/basic/test_mixed_case_db.py
  tests/functional/basic/test_project.py
  tests/functional/basic/test_simple_reference.py
  tests/functional/basic/test_varchar_widening.py
  tests/functional/cli/test_requires.py
  tests/functional/compile/test_compile.py
  tests/functional/fusion_parser/__init__.py
  tests/functional/fusion_parser/test_fusion_parser_branch.py
  tests/functional/v2_parser_parity/README.md
  tests/functional/v2_parser_parity/__init__.py
  tests/functional/v2_parser_parity/plugin.py
  tests/functional/v2_parser_parity/v2_self_parser.py
  tests/unit/artifacts/test_test_node_discrimination.py
  tests/unit/cli/test_flags.py
  tests/unit/cli/test_setup_manifest.py
  tests/unit/parser/test_fusion.py
  tests/unit/parser/test_fusion_plugin_enrichment.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Forward invocation_id and set DBT_INVOCATION_ENV for v2 parser
  .changes/unreleased/Under the Hood-20260527-142247.yaml
  core/dbt/parser/fusion.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add V2ParserStart/V2ParserEnd telemetry for v2 parser handoff
  .changes/unreleased/Under the Hood-20260528-175200.yaml
  core/dbt/events/types.py
  core/dbt/exceptions.py
  core/dbt/parser/fusion.py
  core/pyproject.toml
  tests/unit/parser/test_fusion.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260529-000104.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: consolidate v2-parser telemetry changelog entries into single entry
  .changes/unreleased/Under the Hood-20260527-142247.yaml
  .changes/unreleased/Under the Hood-20260528-175200.yaml
Due: none

Require dbt-core-experimental-parser >= 2.0.0.dev18
  core/pyproject.toml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260529-005544.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260529-005911.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Fix fill_nulls_with not propagated to MetricTypeParams in manifest (Fixes #13037)
  .changes/unreleased/Fixes-20260528-203500.yaml
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/metrics/test_metrics.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  tests/unit/parser/test_metric_type_params.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260529-014315.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260529-024255.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Expose event-time-start/end on Jinja flags (#12847)
  .changes/unreleased/Features-20260529-120000.yaml
  core/dbt/flags.py
  tests/unit/flags/test_event_time_flags_jinja.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#13051)
  .changes/unreleased/Under the Hood-20260529-024255.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Bundle dbt-state as an install dependency of dbt-core (opt-in via --manage-state / DBT_ENGINE_MANAGE_STATE / manage_state) (#13014)
  .changes/unreleased/Features-20260525-214500.yaml
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/contracts/project.py
  core/dbt/plugins/manager.py
  core/pyproject.toml
  tests/functional/cli/test_requires.py
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add dbt login fixes for post login flow
  .changes/unreleased/Fixes-20260529-210815.yaml
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/oauth/state.py
  core/dbt/auth/resolvers.py
  core/dbt/config/user_settings.py
  tests/functional/auth/test_login.py
  tests/unit/auth/test_login_flow.py
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

address copilot comments to add encoding tests
  tests/unit/auth/test_login_flow.py
Due: isort, black, flake8

add dbt login fixes for post login flow (#13056)
  .changes/unreleased/Fixes-20260529-210815.yaml
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/oauth/state.py
  core/dbt/auth/resolvers.py
  core/dbt/config/user_settings.py
  tests/functional/auth/test_login.py
  tests/unit/auth/test_login_flow.py
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
