Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

changelog entry
  .changes/unreleased/Fixes-20260318-191153.yaml
Due: none

Fix #12353: Add @requires.catalogs decorator to compile command (#12388) (#12675)
  .changes/unreleased/Fixes-20260124-212300.yaml
  core/dbt/cli/main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update test to expect CompilationError for disabled semantic model ref
  tests/functional/semantic_models/test_semantic_model_parsing.py
Due: isort, black, flake8

Rename test to better reflect expected behavior
  tests/functional/semantic_models/test_semantic_model_parsing.py
Due: isort, black, flake8

changelog entry for IndexError fix in semantic model parsing
  .changes/unreleased/Fixes-20260318-000000.yaml
Due: none

fix end of file in changelog entry
  .changes/unreleased/Fixes-20260318-000000.yaml
Due: none

implementation of selector selector method (#12582)
  .changes/unreleased/Features-20260303-214328.yaml
  core/dbt/cli/flags.py
  core/dbt/config/selectors.py
  core/dbt/events/types.py
  core/dbt/graph/cli.py
  core/dbt/graph/selector.py
  core/dbt/graph/selector_methods.py
  core/dbt/task/build.py
  core/dbt/task/clone.py
  core/dbt/task/compile.py
  core/dbt/task/docs/generate.py
  core/dbt/task/list.py
  core/dbt/task/run.py
  core/dbt/task/seed.py
  core/dbt/task/snapshot.py
  core/dbt/task/test.py
  tests/functional/selectors/test_selector_selector_method.py
  tests/unit/config/test_selectors.py
  tests/unit/graph/test_cli.py
  tests/unit/graph/test_selector_methods.py
  tests/unit/graph/test_selector_spec.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix: Add @requires.catalogs decorator to test command (#12663) (#12676)
  .changes/unreleased/Fixes-20260317-094953.yaml
  core/dbt/cli/main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

support custom ref kwargs in unit tests and generic data tests (#12668)
  .changes/unreleased/Fixes-20260318-091800.yaml
  core/dbt/context/providers.py
  core/dbt/contracts/project.py
  core/dbt/parser/unit_tests.py
  tests/functional/ref_override/test_custom_ref_kwargs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: inherit agg_time_dimension default from semantic model into simple metric agg params (TRIAGE-986)
  .changes/unreleased/Fixes-20260318-200626.yaml
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix lint
  core/dbt/parser/schema_yaml_readers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixup TestDocConcatArg
  tests/functional/docs/test_doc_concat_arg.py
Due: isort, black, flake8

fix: inherit agg_time_dimension from semantic model defaults into simple metrics (TRIAGE-986) (#12678)
  .changes/unreleased/Fixes-20260318-200626.yaml
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add new index.html and changelog yaml files from dbt-docs
  .changes/unreleased/Docs-20240311-140344.yaml
  .changes/unreleased/Docs-20240501-021050.yaml
  .changes/unreleased/Docs-20240516-223036.yaml
  .changes/unreleased/Docs-20240613-151048.yaml
  .changes/unreleased/Docs-20250728-162542.yaml
  .changes/unreleased/Docs-20260319-112630.yaml
  core/dbt/task/docs/index.html
Due: none

Fix trailing newline in index.html for pre-commit hook
  core/dbt/task/docs/index.html
Due: none

Add most recent dbt-docs changes (#12679)
  .changes/unreleased/Docs-20240311-140344.yaml
  .changes/unreleased/Docs-20240501-021050.yaml
  .changes/unreleased/Docs-20240516-223036.yaml
  .changes/unreleased/Docs-20240613-151048.yaml
  .changes/unreleased/Docs-20250728-162542.yaml
  .changes/unreleased/Docs-20260319-112630.yaml
  core/dbt/task/docs/index.html
Due: none

Fix AttributeError when docs block argument is non-constant (#12673)
  .changes/unreleased/Fixes-20260318-173426.yaml
  core/dbt/parser/manifest.py
  tests/functional/docs/test_doc_concat_arg.py
  tests/functional/docs/test_doc_variable_arg.py
  tests/unit/parser/test_get_doc_blocks.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

handle jinja2.Undefined in msgpack_encoder (#12677)
  .changes/unreleased/Fixes-20260318-191153.yaml
  core/dbt/parser/manifest.py
  tests/functional/partial_parsing/test_pp_undefined_serialization.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix test for windows
  tests/functional/semantic_models/test_semantic_model_parsing.py
Due: isort, black, flake8

Fix AttributeError when generic test config is a non-dict scalar (#12674)
  .changes/unreleased/Fixes-20260318-182358.yaml
  core/dbt/exceptions.py
  core/dbt/parser/generic_test_builders.py
  tests/functional/schema_tests/test_custom_test_config.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

formatting
  tests/functional/semantic_models/test_semantic_model_parsing.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8

Fix IndexError in update_semantic_model when depends_on_nodes is empty (#12671)
  .changes/unreleased/Fixes-20260318-000000.yaml
  core/dbt/parser/manifest.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_parsing.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: preserve case-insensitive env var lookup on Windows (#10422)
  core/dbt/cli/requires.py
  tests/functional/context_methods/test_env_vars.py
  tests/unit/test_env_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog for #10422
  .changes/unreleased/Fixes-20260320-102034.yaml
Due: none

Remove unit tests that just reimplement CaseInsensitiveMapping
  tests/unit/test_env_vars.py
Due: isort, black, flake8

Fix env_var() case-insensitive lookup on Windows via os.environ fallback
  core/dbt/cli/requires.py
  core/dbt/context/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Apply os.environ fallback to all env_var() implementations
  core/dbt/context/base.py
  core/dbt/context/configured.py
  core/dbt/context/providers.py
  core/dbt/context/secret.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix: propagate incremental_batch to all batch submissions in MicrobatchModelRunner
  .changes/unreleased/Fixes-20260320-120000.yaml
  core/dbt/task/run.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix cycle detection to raise CompilationError instead of RuntimeError
  core/dbt/compilation.py
  tests/functional/cycles/test_cycles.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260320-192744.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Replace built-in RuntimeError with DbtException subclasses
  core/dbt/clients/git.py
  core/dbt/contracts/files.py
  core/dbt/deprecations.py
  core/dbt/task/printer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add new flag and integrate event manager's error deferral
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test: add unit tests for missing version key validation in packages.yml
  tests/unit/contracts/test_project.py
Due: isort, black, flake8

Fix: improve error message for similar database identifiers to reference correct node type
  .changes/unreleased/Fixes-20260322-000000.yaml
  core/dbt/exceptions.py
  tests/unit/test_ambiguous_catalog_exception.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update test durations for pytest-split
  core/.test_durations
Due: none

Update test durations for pytest-split (#12690)
  core/.test_durations
Due: none

fixed failing tests
  tests/functional/defer_state/test_modified_state.py
  tests/unit/graph/test_selector_methods.py
Due: isort, black, flake8

fixed bug where state:modified doesnt detect changes to function schema
  core/dbt/contracts/graph/nodes.py
  tests/unit/contracts/graph/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix EISDIR when snapshot name matches filename in multi-block file
  core/dbt/contracts/graph/nodes.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/snapshots/test_basic_snapshot.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
