Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      # isort must match what's in dev-requirements.txt to be sure local env matches CI
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      # black must match what's in dev-requirements.txt to be sure local env matches CI
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      # black must match what's in dev-requirements.txt to be sure local env matches CI
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      # flake8 must match what's in dev-requirements.txt to be sure local env matches CI
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      # flake8 must match what's in dev-requirements.txt to be sure local env matches CI
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      # mypy must match what's in dev-requirements.txt to be sure local env matches CI
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      # mypy must match what's in dev-requirements.txt to be sure local env matches CI
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

consolidate version to pyproject.toml
  .bumpversion.cfg
  core/dbt/version.py
  pyproject.toml
  scripts/build-dist.sh
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

editable req
  editable-requirements.txt
Due: none

get rid of editable-req
  .github/workflows/schema-check.yml
  Makefile
  dev-requirements.txt
  editable-requirements.txt
  tox.ini
Due: none

docs updates
  ARCHITECTURE.md
  CONTRIBUTING.md
Due: none

tweak configs for builds
  MANIFEST.in
  core/MANIFEST.in
  pyproject.toml
Due: none

fix script
  scripts/update_dev_packages.sh
Due: none

changelog
  .changes/unreleased/Under the Hood-20251029-133450.yaml
Due: none

remove old comments
  .pre-commit-config.yaml
Due: none

Bumping version to 1.11.0b4 and generate changelog
  .bumpversion.cfg
  .changes/1.11.0-b4.md
  .changes/1.11.0/Dependencies-20251023-164507.yaml
  .changes/1.11.0/Features-20251021-135735.yaml
  .changes/1.11.0/Features-20251023-165817.yaml
  .changes/1.11.0/Fixes-20251021-143001.yaml
  .changes/1.11.0/Fixes-20251022-132507.yaml
  .changes/1.11.0/Under the Hood-20251027-174415.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Drop python 3.9 support (#12120)
  .changes/unreleased/Dependencies-20251027-162502.yaml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/regression-report.yml
  .github/workflows/main.yml
  .github/workflows/model_performance.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile.test
  core/dbt/cli/options.py
  core/dbt/config/profile.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add dbt/jsonschemas to recursive-include (#12126)
  .changes/unreleased/Under the Hood-20251028-163413.yaml
  core/MANIFEST.in
Due: none

Revert "Upgrade DSI to 0.10.x (#12110)"
  .changes/1.11.0/Dependencies-20251023-164507.yaml
  core/setup.py
Due: isort, black, flake8

remove unused dir
  core/etc/dag.png
Due: none

move under core
  .bumpversion.cfg
  CONTRIBUTING.md
  MANIFEST.in
  core/MANIFEST.in
  core/dbt/version.py
  core/pyproject.toml
  dev-requirements.txt
  requirements.txt
  scripts/build-dist.sh
  scripts/update_dev_packages.sh
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix in core
  core/MANIFEST.in
  core/pyproject.toml
  pyproject.toml
Due: none

Pin GitHub Actions to specific SHAs (53 actions in 11 files)
  .github/workflows/artifact-reviews.yml
  .github/workflows/backport.yml
  .github/workflows/bot-changelog.yml
  .github/workflows/check-artifact-changes.yml
  .github/workflows/main.yml
  .github/workflows/model_performance.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
Due: none

Add quotes to `Context`
  core/dbt/cli/options.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Propagate measure.config to metric.config when specified during create_metric:True
  core/dbt/parser/schema_yaml_readers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog
  .changes/unreleased/Under the Hood-20251103-005311.yaml
Due: none

fix falsy evaluation of build_after.count
  core/dbt/artifacts/resources/v1/model.py
  tests/functional/model_config/test_freshness_config.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20251103-134034.yaml
Due: none

Update the metric.expr to be populated correctly according to DSI rules
  core/dbt/parser/schema_yaml_readers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

pin adapters to last 3.9 python support in dev-requirements
  dev-requirements.txt
Due: none

remove dbt-adapters@main pin
  dev-requirements.txt
Due: none

dbt-tests-adapter
  dev-requirements.txt
Due: none

[1.9.latest] Pin dbt-adapters to dev-requirements to fix python 3.9 support (#12137)
  dev-requirements.txt
Due: none

pin adapters to last 3.9 python support in dev-requirements (#12138)
  dev-requirements.txt
Due: none

use single version of tools
  .pre-commit-config.yaml
  dev-requirements.txt
Due: none

isort
  .github/actions/latest-wrangler/main.py
  scripts/check_libyaml.py
  scripts/collect-artifact-schema.py
  scripts/collect-dbt-contexts.py
Due: isort, black, flake8

remove unreferenced png
  core/etc/dag.png
Due: none

Add auto-generated documentation
  docs/autogenerated_docs/1-overview.md
  docs/autogenerated_docs/1.1-architecture-overview.md
  docs/autogenerated_docs/2-core-execution-system.md
  docs/autogenerated_docs/2.1-data-freshness-management.md
  docs/autogenerated_docs/2.2-semantic-interfaces-and-metricflow.md
  docs/autogenerated_docs/3-project-parsing-system.md
  docs/autogenerated_docs/3.1-configuration-validation-and-json-schema.md
  docs/autogenerated_docs/3.2-model-configuration-processing.md
  docs/autogenerated_docs/4-cli-system.md
  docs/autogenerated_docs/4.1-command-interface-and-deprecations.md
  docs/autogenerated_docs/5-configuration-system.md
  docs/autogenerated_docs/5.1-project-configuration-and-schema.md
  docs/autogenerated_docs/5.2-hierarchical-configuration-parsing.md
  docs/autogenerated_docs/6-event-and-logging-system.md
  docs/autogenerated_docs/6.1-deprecation-management.md
Due: none

convert setup.py to pyproject.toml
  core/setup.py
  pyproject.toml
Due: isort, black, flake8

move dev requirements into pyproject.toml
  pyproject.toml
Due: none

with setup.py gone we can install from root
  requirements.txt
Due: none

lint
  core/setup.py
Due: isort, black, flake8

convert precommit to use dev deps
  pyproject.toml
Due: none
