Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

fix: use loop
  core/dbt/parser/schema_generic_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: adding changelog
  .changes/unreleased/Fixes-20260119-172359.yaml
Due: none

feedback round 1
  docs/arch/2_CLI.md
  docs/arch/3.1_Partial_Parsing.md
  docs/arch/3.2_Deferral.md
  docs/arch/3_Parsing.md
Due: none

experiment: config.get_rendered
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix pre-commit installs
  core/hatch.toml
Due: none

add test / demo
  tests/functional/compile/test_compile.py
Due: isort, black, flake8

first pass: use unrendered external.location for state:modified comparison
  core/dbt/artifacts/resources/v1/source_definition.py
  core/dbt/contracts/files.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/parser/schemas.py
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_modified_state_sources_unrendered.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Test: Add unit tests for python model verification
  .changes/unreleased/Under the Hood-20260117-194609.yaml
  core/dbt/parser/models.py
  tests/unit/parser/test_python_model_verification.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Bumping version to 1.10.19 and generate changelog
  .bumpversion.cfg
  .changes/1.10.19.md
  .changes/unreleased/Under the Hood-20251209-131857.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Parse Semantic Models inside Models
  .changes/unreleased/Features-20260119-210143.yaml
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update version for libpq-dev in Dockerfile
  docker/Dockerfile
Due: none

Add tests for verify_python_model_code and remove TODO
  core/dbt/parser/models.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry
  .changes/unreleased/Tests-20260121-123400.yaml
Due: none

Revert "Add typing for bool flag values (#12361)"
  .changes/unreleased/Fixes-20260118-182709.yaml
  core/dbt/cli/params.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add testing of click flag resolution
  tests/functional/cli/test_click_flags.py
Due: isort, black, flake8

Bump minimum `click` version to 8.3.0
  .changes/unreleased/Dependencies-20260121-171712.yaml
  core/pyproject.toml
Due: none

Update version for libpq-dev in Dockerfile (#12373)
  docker/Dockerfile
Due: none

add event_timezone to support custom time zones for microbatch event time filter
  .changes/unreleased/Features-20260122-173717.yaml
  core/dbt/artifacts/resources/v1/config.py
  core/dbt/materializations/incremental/microbatch.py
  core/dbt/parser/manifest.py
  core/dbt/task/run.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/materializations/incremental/test_microbatch.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

temp testing
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
Due: none

Revert #12361 and add testing of `click` flag resoution (#12378)
  .changes/unreleased/Dependencies-20260121-171712.yaml
  .changes/unreleased/Fixes-20260118-182709.yaml
  core/dbt/cli/params.py
  core/pyproject.toml
  tests/functional/cli/test_click_flags.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

update tags
  .github/workflows/cut-release-branch.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
Due: none

Update parse-semver tags (#12381)
  .github/workflows/cut-release-branch.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
Due: none

add guidance for hatch integration-tests -k
  CONTRIBUTING.md
Due: none

example
  CONTRIBUTING.md
Due: none

Addressed comment to typecheck return of function.
  core/dbt/parser/schema_yaml_readers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Parse Semantic Models inside Models (#12368)
  .changes/unreleased/Features-20260119-210143.yaml
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/schema_yaml_readers.py
  core/dbt/parser/schemas.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add guidance for hatch integration-tests -k (#12382)
  CONTRIBUTING.md
Due: none

Fix code of conduct link
  README.md
Due: none

Parse dimensions defined on dbt columns into a semantic model
  .changes/unreleased/Features-20260123-173805.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/common.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix #12353: Add @requires.catalogs decorator to compile command
  core/dbt/cli/main.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry for #12353
  .changes/unreleased/Fixes-20260124-212300.yaml
Due: none

Fix #12379: Fixed Column Type Validation Logic and added tests for the same
  .changes/unreleased/Fixes-20260125-113244.yaml
  core/dbt/context/providers.py
  tests/functional/seeds/test_seed_column_type_validation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix code of conduct link (#12384)
  README.md
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
