Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Bumping version to 1.10.17 and generate changelog
  .bumpversion.cfg
  .changes/1.10.17.md
  .changes/unreleased/Fixes-20251219-191846.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Address Click 8.2+ deprecation warning by using type-checking imports (#12039) (#12310)
  .changes/unreleased/Fixes-20250922-151726.yaml
  core/dbt/cli/options.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.2rc1 and generate changelog
  .changes/1.11.2-rc1.md
  .changes/1.11.2/Fixes-20250922-151726.yaml
  .changes/1.11.2/Fixes-20251219-184405.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.2 and generate changelog
  .changes/1.11.2.md
  .changes/1.11.2/Fixes-20250922-151726.yaml
  .changes/1.11.2/Fixes-20251219-184405.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Core Roadmap December 2025
  docs/roadmap/2025-12-magic-to-do.md
Due: none

Small fixes
  docs/roadmap/2024-12-play-on.md
  docs/roadmap/2025-05-new-engine-same-language.md
  docs/roadmap/2025-12-magic-to-do.md
Due: none

Small fixes in post
  docs/roadmap/2024-12-play-on.md
  docs/roadmap/2025-05-new-engine-same-language.md
  docs/roadmap/2025-12-magic-to-do.md
Due: none

Fix: dbt retry rebuilds models when their tests fail
  core/dbt/task/retry.py
  tests/functional/retry/fixtures.py
  tests/functional/retry/test_retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry for #10164
  .changes/unreleased/Fixes-20251225-094500.yaml
Due: none

Fix bad flag and link
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove extra line of comment from __init.py__ to match dbt-adapters
  core/dbt/__init__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog
  .changes/unreleased/Fixes-20260102-172316.yaml
Due: none

Add optional header support to seeds
  core/dbt/artifacts/resources/v1/seed.py
  core/dbt/context/providers.py
  tests/unit/contracts/graph/test_nodes_parsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog
  .changes/unreleased/Features-20260105-000635.yaml
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

leading date to remove leading zeros
  .github/workflows/nightly-release.yml
Due: none

Implementation of meta_get and meta_require (#12267)
  .changes/unreleased/Features-20251210-202001.yaml
  core/dbt/context/providers.py
  core/setup.py
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix test_config_with_meta_key (#12284)
  .changes/unreleased/Under the Hood-20251215-155046.yaml
  core/setup.py
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8

Add missing return statement to RuntimeConfigObject.meta_require method (#12294)
  .changes/unreleased/Fixes-20251217-002813.yaml
  core/dbt/context/providers.py
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Require dbt-common 1.34.1
  core/setup.py
Due: isort, black, flake8

Exclude dbt-common 1.35.*, 1.36.*, 1.37.0 and 1.37.1
  core/setup.py
Due: isort, black, flake8

No longer pin to a specific version of dbt-common
  dev-requirements.txt
Due: none

Backport 1.10.latest meta get and meta require (#12326)
  .changes/unreleased/Features-20251210-202001.yaml
  .changes/unreleased/Fixes-20251217-002813.yaml
  .changes/unreleased/Under the Hood-20251215-155046.yaml
  core/dbt/context/providers.py
  core/setup.py
  dev-requirements.txt
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.10.18 and generate changelog
  .bumpversion.cfg
  .changes/1.10.18.md
  .changes/unreleased/Features-20251210-202001.yaml
  .changes/unreleased/Fixes-20251217-002813.yaml
  .changes/unreleased/Under the Hood-20251215-155046.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Begin tracking which microbatch model nodes are in progress
  core/dbt/graph/queue.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add some typing to runnable.py funcitons
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

pointed release-branch-tests to feature branch for testing
  .github/workflows/release-branch-tests.yml
Due: none

added dry_run input to test without triggering CI
  .github/workflows/release-branch-tests.yml
Due: none

Begin tracking thread limit, and microbatch limit, on `DbtThreadPool`
  core/dbt/graph/thread_pool.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Begin limiting how many microbatch models can be run to have the threads, rounded down
  core/dbt/task/run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Only submit batches to be run concurrently when there are threads available
  core/dbt/task/run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Improve naming and documentation for microbatch thread limiting changes
  core/dbt/graph/thread_pool.py
  core/dbt/task/run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix microbatch test that broke due to new debug log
  tests/functional/microbatch/test_microbatch.py
Due: isort, black, flake8

Drop `# type:ignore` from instantiations of EventCatcher
  tests/functional/microbatch/test_microbatch.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8

Add changie doc
  .changes/unreleased/Fixes-20260109-141332.yaml
Due: none

Only add/remove node_ids from `in_progress_microbatch` for microbatch node_ids
  core/dbt/graph/queue.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add context comment for when batches are run in parallel or not
  core/dbt/task/run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Move `_maybe_wait_for_microbatch` to more relvant location in file
  core/dbt/task/run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Flip default for require_all_warnings_handled_by_warn_error to true
  .changes/unreleased/Under the Hood-20260112-000042.yaml
  core/dbt/contracts/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
