Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Add changelog for EISDIR fix
  .changes/unreleased/Fixes-20260323-160000.yaml
Due: none

Fix EISDIR when snapshot name matches filename in multi-block file (#12693)
  .changes/unreleased/Fixes-20260323-160000.yaml
  core/dbt/contracts/graph/nodes.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/snapshots/test_basic_snapshot.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

style: fix pre-commit formatting issues
  core/dbt/parser/partial.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: raise correct deprecation when config key is top-level in generic test (#12572) (#12618)
  .changes/unreleased/Fixes-20260308-163014.yaml
  core/dbt/parser/generic_test_builders.py
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

improve independent default settings of sqlparse.MAX_GROUPING_TOKENS and sqlparse.MAX_GROUPING_DEPTH
  core/dbt/cli/option_types.py
  tests/functional/compile/test_compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20260323-150711.yaml
Due: none

comment + linting
  core/dbt/cli/option_types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

improve independent default settings of sqlparse.MAX_GROUPING_TOKENS and MAX_GROUPING_DEPTH (#12695)
  .changes/unreleased/Fixes-20260323-150711.yaml
  core/dbt/cli/option_types.py
  tests/functional/compile/test_compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#12685)
  .changes/unreleased/Under the Hood-20260320-192744.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Move project jsonschema from `0.0.110.json` to `latest.json`
  core/dbt/jsonschemas/jsonschemas.py
  core/dbt/jsonschemas/project/latest.json
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie doc
  .changes/unreleased/Under the Hood-20260323-144955.yaml
Due: none

add config key check for all keys and simplify the depr logic (#12667)
  .changes/unreleased/Fixes-20260318-011929.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix cycle detection to raise CompilationError instead of RuntimeError (#12684)
  core/dbt/compilation.py
  tests/functional/cycles/test_cycles.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Replace ValueError with DbtException subclasses
  core/dbt/artifacts/schemas/base.py
  core/dbt/graph/graph.py
  tests/functional/retry/test_retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Under the Hood-20260323-162313.yaml
Due: none

linting
  core/dbt/task/printer.py
  tests/functional/retry/test_retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update project jsonchema file naming (#12697)
  .changes/unreleased/Under the Hood-20260323-144955.yaml
  core/dbt/jsonschemas/jsonschemas.py
  core/dbt/jsonschemas/project/latest.json
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

manually fix a few errant exception categories
  core/dbt/deprecations.py
  core/dbt/task/printer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Replace ValueError with DbtInternalError in schema_yaml_readers
  core/dbt/parser/schema_yaml_readers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: guard against KeyError for custom constraints in same_contract()
  core/dbt/contracts/graph/nodes.py
  tests/functional/constraints/fixtures.py
  tests/functional/constraints/test_custom_constraints.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

linting
  core/dbt/contracts/graph/nodes.py
  tests/functional/constraints/test_custom_constraints.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Replace bare Exception with DbtInternalError in flags and partial parser
  core/dbt/cli/flags.py
  core/dbt/parser/partial.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20260323-172455.yaml
Due: none

fix: suppress stacktrace when snapshot validation fails
  .changes/unreleased/Fixes-20260323-220600.yaml
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: remove unused pytest import (flake8 F401)
  .changes/unreleased/Fixes-20260322-000000.yaml
  tests/unit/test_ambiguous_catalog_exception.py
Due: isort, black, flake8

fix: include model name in unit test alias to prevent temp table collisions
  .changes/unreleased/Fixes-20260323-120000.yaml
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: guard against KeyError for custom constraints in same_contract() (#12699)
  .changes/unreleased/Fixes-20260323-172455.yaml
  core/dbt/contracts/graph/nodes.py
  tests/functional/constraints/fixtures.py
  tests/functional/constraints/test_custom_constraints.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update core/dbt/exceptions.py
  core/dbt/exceptions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixed bug where Function schema wasnt available in on-run-end hook
  core/dbt/contracts/graph/nodes.py
  tests/functional/functions/test_udfs.py
  tests/unit/contracts/graph/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added changelog
  .changes/unreleased/Fixes-20260324-194846.yaml
Due: none

functional test now uses database based assertion instead of log based assertion since logs based assertion was tricky due to structured and unstructured logging
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260324-150759.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Fixed bug where Function schema wasnt available in on-run-end hook (#12703)
  .changes/unreleased/Fixes-20260324-194846.yaml
  core/dbt/contracts/graph/nodes.py
  tests/functional/functions/test_udfs.py
  tests/unit/contracts/graph/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: handle null tables value in source YAML to prevent TypeError
  core/dbt/parser/schemas.py
  tests/functional/sources/fixtures.py
  tests/functional/sources/test_source_configs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20260324-142516.yaml
Due: none

changelog entry
  core/dbt/parser/schemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test sources: null case
  tests/functional/sources/fixtures.py
  tests/functional/sources/test_source_configs.py
Due: isort, black, flake8

fix null iteration pattern for remaining cases: exposure tags and null packages
  core/dbt/config/project.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/dependencies/test_add_package_edge_cases.py
  tests/functional/exposures/fixtures.py
  tests/functional/exposures/test_exposure_configs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
