Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

fix(dbt-schemas): schema.yml config wins over dbt_project.yml explicit null
  crates/dbt-schemas/src/schemas/project/configs/omissible_utils.rs
  crates/dbt-schemas/src/schemas/project/configs/omissible_utils_tests.rs
Due: none

Port over changeset behavior from dbt-bigquery
  crates/dbt-adapter/src/relation/bigquery/config/components/cluster_by.rs
Due: none

fix: fold microbatch event-time window into run-cache key
  crates/dbt-tasks-core/src/run_cache/run_cache_request.rs
  crates/dbt-tasks-core/src/run_cache/run_cache_service.rs
  crates/dbt-tasks-sa/src/runnable/model.rs
  crates/dbt-tasks-sa/src/runnable/runnable/mod.rs
Due: none

fix: support ConstraintNotEnforced/ConstraintNotSupported in warn_error_options
  crates/dbt-adapter/src/adapter/adapter_impl.rs
  crates/dbt-adapter/src/adapter/mod.rs
  crates/dbt-adapter/src/render_constraint.rs
  crates/dbt-common/src/warn_error_options/legacy.rs
  crates/dbt-common/src/warn_error_options/mod.rs
  crates/dbt-error/src/codes.rs
  crates/dbt-schemas/src/schemas/common.rs
Due: none

fix: normalize deprecation_date to a TZ-aware timestamp in manifest.json
  crates/dbt-jinja-utils/src/node_resolver.rs
  crates/dbt-parser/src/resolve/resolve_models.rs
  crates/dbt-schemas/src/schemas/common.rs
  crates/dbt-schemas/src/schemas/nodes.rs
Due: none

Fix cached dbt State data test verdicts
  crates/dbt-tasks-core/src/context.rs
  crates/dbt-tasks-core/src/run_cache/run_cache_service.rs
  crates/dbt-tasks-sa/src/runnable/runnable/mod.rs
  crates/dbt-tasks-sa/src/runnable/test.rs
Due: none

(dbt-adapter): prevent transient in horizon catalog as configuration that breaks all of snowflake horizon ctalog due to new feature.
  crates/dbt-adapter/src/catalog_relation.rs
  crates/dbt-adapter/src/catalog_relation/catalog_relation_v2.rs
Due: none

remove ddtrace from integration test workflows
  .github/workflows/main.yml
  .github/workflows/test-repeater.yml
Due: none

remove ddtrace from integration test workflows (#15651)
  .github/workflows/main.yml
  .github/workflows/test-repeater.yml
Due: none

Fall back to per-source freshness when batch metadata computation fails
  .changes/unreleased/Fixes-20260722-122500.yaml
  core/dbt/task/freshness.py
  tests/unit/task/test_freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

remove ddtrace from integration test workflows (#15653)
  .github/workflows/main.yml
  .github/workflows/test-repeater.yml
Due: none

Address review feedback: extract model matching into a helper
  core/dbt/parser/osi.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Allow database-less OSI sources to bind by schema and alias
  .changes/unreleased/Features-20260723-160000.yaml
  core/dbt/parser/osi.py
  tests/unit/parser/test_osi.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Address review feedback: split database-less fallback, dedupe databases in error
  core/dbt/parser/osi.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Address review feedback: share the error prefix, drop helper to 3 arguments
  core/dbt/parser/osi.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Address review feedback: use monkeypatch in fixture, fix blank lines
  tests/unit/test_deprecations.py
Due: isort, black, flake8

Exclude silenced deprecations from the deprecations summary
  .changes/unreleased/Fixes-20260723-150000.yaml
  core/dbt/deprecations.py
  tests/unit/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Recognize Databricks adapter config keys in jsonschema validation
  .changes/unreleased/Fixes-20260623-120000.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Apply black formatting to Databricks config key tests
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8

Bumping version to 1.14.0a1.post20260723 and generate changelog
  .changes/1.14.0-a1.md
  .changes/1.14.0/Breaking Changes-20260709-120000.yaml
  .changes/1.14.0/Dependencies-20260715-211254.yaml
  .changes/1.14.0/Features-20260711-014336.yaml
  .changes/1.14.0/Fixes-20260706-143000.yaml
  .changes/1.14.0/Fixes-20260710-121800.yaml
  .changes/1.14.0/Fixes-20260714-233307.yaml
  .changes/1.14.0/Fixes-20260715-113746.yaml
  .changes/1.14.0/Fixes-20260716-005624.yaml
  .changes/1.14.0/Fixes-20260720-120000.yaml
  .changes/1.14.0/Fixes-20260721-140000.yaml
  .changes/1.14.0/Under the Hood-20260709-225520.yaml
  .changes/1.14.0/Under the Hood-20260713-205628.yaml
  .changes/1.14.0/Under the Hood-20260713-220831.yaml
  .changes/1.14.0/Under the Hood-20260716-071956.yaml
  .changes/1.14.0/Under the Hood-20260721-203325.yaml
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Spark metadata over SHOW TABLE EXTENDED and 3-part relation support
  crates/dbt-adapter/src/adapter/adapter_impl.rs
  crates/dbt-adapter/src/metadata/databricks/mod.rs
  crates/dbt-adapter/src/metadata/get_relation.rs
  crates/dbt-adapter/src/metadata/spark/mod.rs
  crates/dbt-adapter/src/sql_types.rs
Due: none

Fabric Lakehouse behavior in the spark macro package
  .changes/unreleased/Features-20260723-210000.yaml
  crates/dbt-loader/src/dbt_macro_assets/dbt-spark/macros/adapters.sql
  crates/dbt-loader/src/dbt_macro_assets/dbt-spark/macros/materializations/incremental/incremental.sql
  crates/dbt-loader/src/dbt_macro_assets/dbt-spark/macros/materializations/snapshot.sql
Due: none

Accept Fabric Lakehouse fields in spark profiles
  crates/dbt-loader/src/load_profiles.rs
  crates/dbt-schemas/src/schemas/profiles.rs
Due: none

Add Microsoft Entra ID auth for Spark Livy connections to Fabric
  crates/dbt-adbc/src/spark.rs
  crates/dbt-auth/src/spark/fabric.rs
  crates/dbt-auth/src/spark/mod.rs
Due: none

ci(winget): switch Slack notification from bot token to incoming webhook
  .changes/unreleased/Fixes-20260723-200329.yaml
  .github/workflows/publish-winget.yml
Due: none

ci(winget): drop changelog entry for internal-only change
  .changes/unreleased/Fixes-20260723-200329.yaml
Due: none

ci(winget): don't fail workflow if Slack notify step fails
  .github/workflows/publish-winget.yml
Due: none

Add workflow to flag PRs missing an issue link
  .github/workflows/pr-issue-link-check.yml
Due: none

Address Copilot review feedback on issue-link check
  .github/workflows/pr-issue-link-check.yml
Due: none

Tag adapter issues with area:adapters and drop default area:core
  .github/workflows/label-adapter.yml
Due: none

Drop erroneous area:core removal
  .github/workflows/label-adapter.yml
Due: none

ci(winget): switch Slack notification from bot token to incoming webhook (#15660)
  .github/workflows/publish-winget.yml
Due: none
