Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

Fix dbt cross link error(EXDEV) and ENOTEMPTY: 'pack'
  core/dbt/deps/git.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260629-070718.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix chnagelog header
  .changes/header.tpl.md
Due: none

fix(manifest): strip dbt_packages/ prefix from macro original_file_path
  crates/dbt-compilation/src/core.rs
  crates/dbt-loader/src/load_packages.rs
  crates/dbt-loader/src/mod.rs
  crates/dbt-loader/tests/macro_test_harness/mod.rs
  crates/dbt-metadata/src/parse_state.rs
  crates/dbt-parser/src/resolve/resolve_macros.rs
  crates/dbt-parser/src/resolve/resolve_snapshots.rs
  crates/dbt-parser/src/resolver.rs
  crates/dbt-schemas/src/schemas/macros.rs
  crates/dbt-schemas/src/schemas/manifest/manifest_nodes.rs
  crates/dbt-schemas/src/schemas/nodes.rs
  crates/dbt-tasks-sa/src/utils.rs
Due: none

chore: backport v2.0.0-alpha.3 changelog to main
  .changes/2.0.0-alpha.3.md
  .changes/unreleased/Features-20260612-173803.yaml
Due: none

Bumping version to 1.13.0a1.post20260629 and generate changelog
  .changes/1.13.0-a1.md
  .changes/1.13.0/Dependencies-20260601-120000.yaml
  .changes/1.13.0/Features-20230307-134838.yaml
  .changes/1.13.0/Features-20260525-214500.yaml
  .changes/1.13.0/Features-20260526-225012.yaml
  .changes/1.13.0/Features-20260527-154416.yaml
  .changes/1.13.0/Features-20260527-222711.yaml
  .changes/1.13.0/Features-20260608-220328.yaml
  .changes/1.13.0/Features-20260609-000000.yaml
  .changes/1.13.0/Fixes-20260522-120000.yaml
  .changes/1.13.0/Fixes-20260525-143801.yaml
  .changes/1.13.0/Fixes-20260525-225000.yaml
  .changes/1.13.0/Fixes-20260527-233000.yaml
  .changes/1.13.0/Fixes-20260529-120000.yaml
  .changes/1.13.0/Fixes-20260529-210815.yaml
  .changes/1.13.0/Fixes-20260601-111946.yaml
  .changes/1.13.0/Fixes-20260602-120457.yaml
  .changes/1.13.0/Fixes-20260602-153607.yaml
  .changes/1.13.0/Fixes-20260604-120000.yaml
  .changes/1.13.0/Fixes-20260608-170907.yaml
  .changes/1.13.0/Under the Hood-20260521-120000.yaml
  .changes/1.13.0/Under the Hood-20260523-015747.yaml
  .changes/1.13.0/Under the Hood-20260527-142247.yaml
  .changes/1.13.0/Under the Hood-20260527-215214.yaml
  .changes/1.13.0/Under the Hood-20260529-024255.yaml
  .changes/1.13.0/Under the Hood-20260531-100800.yaml
  .changes/1.13.0/Under the Hood-20260604-000425.yaml
  .changes/1.13.0/Under the Hood-20260605-165054.yaml
  .changes/1.13.0/Under the Hood-20260609-004742.yaml
  .changes/1.13.0/Under the Hood-20260609-162000.yaml
  .changes/1.13.0/Under the Hood-20260615-065436.yaml
  .changes/1.13.0/Under the Hood-20260619-230414.yaml
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix mypy failure caused by Click 8.4.2 ClassVar annotation changes (#15363)
  core/dbt/cli/exceptions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260629-171219.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

core alpha 3 release bump and changelog fix
  .changes/header.tpl.md
  Cargo.toml
Due: none

[Sidecar]: Bump driver + use native `array_except` instead of macro
  crates/dbt-adbc/drivers.toml
  crates/dbt-adbc/src/checksums.rs
  crates/dbt-adbc/src/lib.rs
Due: none

Include the snapshot filename in the snapshot fqn to match dbt-core, fixing false-positive state:modified results when dbt-core compares against a Fusion-generated manifest
  crates/dbt-parser/src/resolve/resolve_snapshots.rs
Due: none

fix(node-resolver): prevent duplicate unique_id entries for cross-project publication models
  crates/dbt-jinja-utils/src/node_resolver.rs
Due: none

fix(node-resolver): route tests to manifest.disabled when both parent model and test are explicitly disabled
  crates/dbt-parser/src/resolve/resolve_tests/resolve_data_tests.rs
Due: none

Fix `state:modified` false positives for model and source configs
  crates/dbt-schemas/src/schemas/nodes.rs
  crates/dbt-schemas/src/schemas/prev_state/mod.rs
Due: none

chore: post-release 2.0.0-preview.195 (version bump + changelog)
  CHANGELOG-fusion.md
Due: none

Add feature area issue triage
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/regression-report.yml
  .github/workflows/community-label.yml
Due: none

fix: reconstruct unrendered config kwarg values as readable expressions
  core/dbt/clients/jinja_static.py
  tests/unit/clients/test_jinja_static.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: declare exit_code as instance variable in CliException to satisfy mypy
  core/dbt/cli/exceptions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

tests: expand statically_parse_unrendered_config coverage
  tests/unit/clients/test_jinja_static.py
Due: isort, black, flake8

feat: add manifest upgrade step to backfill unrendered_config from raw_code
  core/dbt/artifacts/schemas/upgrades/upgrade_manifest_dbt_version.py
  tests/functional/defer_state/test_modified_state_schema_evolution.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog: add entry for unrendered config kwarg reconstruction (#15336)
  .changes/unreleased/Fixes-20260514-200000.yaml
Due: none

fix: resolve mypy attr-defined errors in jinja_static reconstruct helpers
  core/dbt/clients/jinja_static.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

linting
  core/dbt/artifacts/schemas/upgrades/upgrade_manifest_dbt_version.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

'exit_code: int ' not required
  core/dbt/cli/exceptions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: bump dbt-core-experimental-parser to 2.0.0a3
  core/pyproject.toml
Due: none

chore: add changelog entry
  .changes/unreleased/Dependencies-20260630-120000.yaml
Due: none

chore: bump dbt-core-experimental-parser to 2.0.0a3 (#15391)
  .changes/unreleased/Dependencies-20260630-120000.yaml
  core/pyproject.toml
Due: none

fix(redshift): scope external table schema lookup by database
  crates/dbt-adapter/src/metadata/redshift/mod.rs
Due: none

chore: post-release 2.0.0-preview.196 (version bump + changelog)
  CHANGELOG-fusion.md
Due: none

Bumping version to 1.13.0a1.post20260630 and generate changelog
  .changes/1.13.0-a1.md
  .changes/1.13.0/Dependencies-20260601-120000.yaml
  .changes/1.13.0/Dependencies-20260630-120000.yaml
  .changes/1.13.0/Features-20230307-134838.yaml
  .changes/1.13.0/Features-20260525-214500.yaml
  .changes/1.13.0/Features-20260526-225012.yaml
  .changes/1.13.0/Features-20260527-154416.yaml
  .changes/1.13.0/Features-20260527-222711.yaml
  .changes/1.13.0/Features-20260608-220328.yaml
  .changes/1.13.0/Features-20260609-000000.yaml
  .changes/1.13.0/Fixes-20260522-120000.yaml
  .changes/1.13.0/Fixes-20260525-143801.yaml
  .changes/1.13.0/Fixes-20260525-225000.yaml
  .changes/1.13.0/Fixes-20260527-233000.yaml
  .changes/1.13.0/Fixes-20260529-120000.yaml
  .changes/1.13.0/Fixes-20260529-210815.yaml
  .changes/1.13.0/Fixes-20260601-111946.yaml
  .changes/1.13.0/Fixes-20260602-120457.yaml
  .changes/1.13.0/Fixes-20260602-153607.yaml
  .changes/1.13.0/Fixes-20260604-120000.yaml
  .changes/1.13.0/Fixes-20260608-170907.yaml
  .changes/1.13.0/Under the Hood-20260521-120000.yaml
  .changes/1.13.0/Under the Hood-20260523-015747.yaml
  .changes/1.13.0/Under the Hood-20260527-142247.yaml
  .changes/1.13.0/Under the Hood-20260527-215214.yaml
  .changes/1.13.0/Under the Hood-20260529-024255.yaml
  .changes/1.13.0/Under the Hood-20260531-100800.yaml
  .changes/1.13.0/Under the Hood-20260604-000425.yaml
  .changes/1.13.0/Under the Hood-20260605-165054.yaml
  .changes/1.13.0/Under the Hood-20260609-004742.yaml
  .changes/1.13.0/Under the Hood-20260609-162000.yaml
  .changes/1.13.0/Under the Hood-20260615-065436.yaml
  .changes/1.13.0/Under the Hood-20260619-230414.yaml
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

reduce cyclomatic complexity
  core/dbt/clients/jinja_static.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260630-223346.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix(dbt-jinja-utils): replace panic with user-facing error for invalid exposure depends_on
  crates/dbt-jinja-utils/src/utils.rs
Due: none

[META-7868] - Stop /api/v1/health from leaking absolute index_dir path
  crates/dbt-docs-server/Cargo.toml
  crates/dbt-docs-server/src/handlers/exposures_tests.rs
  crates/dbt-docs-server/src/handlers/groups_tests.rs
  crates/dbt-docs-server/src/handlers/health.rs
  crates/dbt-docs-server/src/handlers/health_tests.rs
  crates/dbt-docs-server/src/handlers/lineage_tests.rs
  crates/dbt-docs-server/src/handlers/macros_tests.rs
  crates/dbt-docs-server/src/handlers/metrics_tests.rs
  crates/dbt-docs-server/src/handlers/saved_queries_tests.rs
  crates/dbt-docs-server/src/handlers/seeds_tests.rs
  crates/dbt-docs-server/src/handlers/semantic_models_tests.rs
  crates/dbt-docs-server/src/handlers/snapshots_tests.rs
  crates/dbt-docs-server/src/handlers/sources_tests.rs
  crates/dbt-docs-server/src/handlers/tests_tests.rs
  crates/dbt-docs-server/src/state.rs
Due: none

[META-7877] - Add graceful shutdown/drain to dbt docs server
  crates/dbt-docs-server/src/server.rs
  crates/dbt-docs-server/src/server_tests.rs
Due: none

Reduce dbt State auth timeout
  crates/dbt-state/src/auth/browser_flow.rs
  crates/dbt-state/src/auth/oauth.rs
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
