Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

Add opentelemetry trace instrumentation for DBT executions (#15551)
  .changes/unreleased/Features-20260708-120000.yaml
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/clients/jinja.py
  core/dbt/contracts/project.py
  core/dbt/task/build.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
  core/hatch.toml
  core/pyproject.toml
  tests/functional/cli/test_requires.py
  tests/functional/dbt_runner/test_dbt_runner.py
  tests/unit/cli/test_flags.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#15819)
  .changes/unreleased/Under the Hood-20260805-221006.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: replace `user docs` label with `action:needs-docs` (#15791)
  .github/ISSUE_TEMPLATE/implementation-ticket.yml
  .github/pull_request_template.md
  .github/workflows/docs-issue.yml
Due: none

Fix issues in the OpenTelemetry instrumentation
  .changes/unreleased/Fixes-20260806-120000.yaml
  core/dbt/clients/jinja.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
  core/hatch.toml
  core/pyproject.toml
  tests/conftest.py
  tests/functional/dbt_runner/test_dbt_runner.py
  tests/unit/clients/test_jinja.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add test-pypi release workflow
  .github/workflows/release-v2.yml
Due: none

Address remaining review feedback on issue-link check
  .github/workflows/pr-issue-link-check.yml
Due: none

refactor(dbt-schemas): move FQN config resolution out of dbt-parser
  crates/dbt-parser/src/lib.rs
  crates/dbt-schemas/src/lib.rs
  crates/dbt-schemas/src/schemas/project/config_tree.rs
Due: none

feat(dbt-skills): install agent skills from packages during package install
  .changes/unreleased/Features-20260806-122959.yaml
  Cargo.toml
  crates/dbt-clap-core/src/lib.rs
  crates/dbt-common/src/io_args.rs
  crates/dbt-deps/Cargo.toml
  crates/dbt-deps/src/mod.rs
  crates/dbt-deps/src/steps/install_skills.rs
  crates/dbt-deps/src/steps/mod.rs
  crates/dbt-deps/tests/skill_install.rs
  crates/dbt-error/src/codes.rs
  crates/dbt-loader/Cargo.toml
  crates/dbt-loader/src/args.rs
  crates/dbt-loader/src/clean.rs
  crates/dbt-loader/src/dbt_project_yml_loader.rs
  crates/dbt-loader/src/deps.rs
  crates/dbt-loader/src/loader.rs
  crates/dbt-schemas/src/lib.rs
  crates/dbt-schemas/src/schemas/packages.rs
  crates/dbt-schemas/src/schemas/project/config_tree.rs
  crates/dbt-schemas/src/schemas/project/configs/skill_config.rs
  crates/dbt-schemas/src/schemas/project/dbt_project.rs
  crates/dbt-skills/Cargo.toml
  crates/dbt-skills/src/config.rs
  crates/dbt-skills/src/discover.rs
  crates/dbt-skills/src/install.rs
  crates/dbt-skills/src/lib.rs
  crates/dbt-skills/src/provenance.rs
  crates/dbt-skills/src/providers.rs
  crates/dbt-skills/src/validate.rs
  crates/dbt-skills/src/yaml.rs
Due: none

chore(dbt-telemetry): prototype NODE_TYPE_SKILL for first-class skills
  crates/dbt-common/src/tracing/formatters/invocation.rs
  crates/dbt-schemas/src/schemas/prev_state/mod.rs
  crates/dbt-telemetry/include/dbtlabs/proto/public/v1/events/fusion/node/node.proto
  crates/dbt-telemetry/src/gen/dbtlabs_proto_public.bin
  crates/dbt-telemetry/src/gen/v1.public.events.fusion.node.rs
  crates/dbt-telemetry/src/gen/v1.public.events.fusion.node.serde.rs
  crates/dbt-telemetry/src/impls/v1_public_events_fusion_node.rs
Due: none

fix build failures
  .github/workflows/release-v2.yml
Due: none

add test-pypi publish option
  .github/workflows/release-v2.yml
Due: none

Address review feedback on the OpenTelemetry fixes
  .changes/unreleased/Fixes-20260806-120000.yaml
  core/dbt/clients/jinja.py
  core/dbt/task/runnable.py
  tests/functional/dbt_runner/test_dbt_runner.py
  tests/unit/clients/test_jinja.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: disambiguate generated generic-test SQL paths on name collisions
  .changes/unreleased/Fixes-20260807-190000.yaml
  crates/dbt-parser/src/resolve/resolve_models.rs
  crates/dbt-parser/src/resolve/resolve_seeds.rs
  crates/dbt-parser/src/resolve/resolve_snapshots.rs
  crates/dbt-parser/src/resolve/resolve_sources.rs
  crates/dbt-parser/src/resolve/resolve_tests/persist_generic_data_tests.rs
  crates/dbt-parser/src/resolve/resolve_tests/resolve_data_tests.rs
  crates/dbt-parser/src/resolver.rs
Due: none

docs: point README install links at the correct docs pages
  README.md
Due: none

Update installation instructions for dbt CLI
  README.md
Due: none

move test-pypi approach to sdist based
  .github/workflows/release-v2.yml
  pyproject.toml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260808-015440.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion (#15851)
  .changes/unreleased/Under the Hood-20260808-015440.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Update test durations for pytest-split
  core/.test_durations
Due: none

Update test durations for pytest-split (#15853)
  core/.test_durations
Due: none

Fall back to per-source freshness when batch metadata computation fails (#15635)
  .changes/unreleased/Fixes-20260722-122500.yaml
  core/dbt/task/freshness.py
  tests/unit/task/test_freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix isort formatting in test_deprecations.py
  tests/unit/test_deprecations.py
Due: isort, black, flake8

Quote the changelog body so check-yaml can parse it
  .changes/unreleased/Fixes-20260723-150000.yaml
Due: none

ci(release-v2): stop caching CARGO_HOME/bin on the build matrix
  .github/workflows/release-v2.yml
Due: none

Improvements in the OpenTelemetry instrumentation (#15826)
  .changes/unreleased/Fixes-20260806-120000.yaml
  core/dbt/clients/jinja.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
  core/hatch.toml
  core/pyproject.toml
  tests/conftest.py
  tests/functional/dbt_runner/test_dbt_runner.py
  tests/unit/clients/test_jinja.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add opentelemetry trace instrumentation for DBT executions (#15551) (#15863)
  .changes/unreleased/Features-20260708-120000.yaml
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/clients/jinja.py
  core/dbt/contracts/project.py
  core/dbt/task/build.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
  core/hatch.toml
  core/pyproject.toml
  tests/functional/cli/test_requires.py
  tests/functional/dbt_runner/test_dbt_runner.py
  tests/unit/cli/test_flags.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add opentelemetry trace instrumentation for DBT executions (#15551) (#15864)
  .changes/unreleased/Features-20260708-120000.yaml
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/clients/jinja.py
  core/dbt/contracts/project.py
  core/dbt/task/build.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
  core/hatch.toml
  core/pyproject.toml
  tests/functional/cli/test_requires.py
  tests/functional/dbt_runner/test_dbt_runner.py
  tests/unit/cli/test_flags.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Changelog
  .changes/unreleased/Features-20260710-114819.yaml
Due: none

Adds support for ClickHouse dictionary materialization
  crates/dbt-adapter/src/metadata/databricks/mod.rs
  crates/dbt-schemas/src/dbt_types.rs
Due: none

Add missing functions and configs
  crates/dbt-adapter/src/adapter/adapter_impl.rs
  crates/dbt-adapter/src/adapter/mod.rs
  crates/dbt-loader/src/dbt_macro_assets/dbt-clickhouse/macros/materializations/table.sql
  crates/dbt-schemas/src/schemas/project/configs/common.rs
  crates/dbt-schemas/src/schemas/project/configs/config_merge.rs
  crates/dbt-schemas/src/schemas/project/configs/data_test_config.rs
  crates/dbt-schemas/src/schemas/project/configs/model_config.rs
  crates/dbt-schemas/src/schemas/project/configs/seed_config.rs
  crates/dbt-schemas/src/schemas/project/configs/snapshot_config.rs
  crates/dbt-schemas/src/schemas/project/configs/source_config.rs
  crates/dbt-schemas/src/schemas/project/configs/unit_test_config.rs
Due: none

Improve validation of primary key possible values
  crates/dbt-loader/src/dbt_macro_assets/dbt-clickhouse/macros/materializations/table.sql
Due: none

ci(copybara): only re-dispatch on the fork-approval label
  .github/workflows/auto-public-pr-copybara.yml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260810-223020.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
