Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

feat(dbt-adapter): catalog-aware runtime + relation model
  crates/dbt-adapter/src/adapter/adapter_impl.rs
  crates/dbt-adapter/src/adapter/mod.rs
  crates/dbt-adapter/src/catalog_relation.rs
  crates/dbt-adapter/src/catalog_relation/catalog_relation_v2.rs
  crates/dbt-adapter/src/engine/duckdb_attach.rs
  crates/dbt-adapter/src/engine/mod.rs
  crates/dbt-adapter/src/engine/xdbc.rs
Due: none

feat(duckdb): route DuckLake models to the attached catalog + complete ATTACH options
  crates/dbt-adapter/src/catalog_relation/catalog_relation_v2.rs
  crates/dbt-adapter/src/engine/duckdb_attach.rs
  crates/dbt-adapter/src/engine/xdbc/fixtures/ducklake_full_options/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/ducklake_full_options/output.snap
  crates/dbt-schemas/src/schemas/dbt_catalogs_v2.rs
Due: none

test(duckdb): catalog recordings + goldens
  crates/dbt-adapter/src/engine/xdbc/fixtures/alias_collision_error/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/alias_collision_error/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/empty_alias_error/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/glue_minimal/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/glue_minimal/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/glue_with_secret_and_endpoint_type/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/glue_with_secret_and_endpoint_type/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/horizon_duckdb_readonly/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/horizon_duckdb_readonly/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/iceberg_rest_full_options/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/iceberg_rest_full_options/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/iceberg_rest_minimal/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/iceberg_rest_string_bool_options/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/iceberg_rest_string_bool_options/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/multi_catalog_glue_plus_iceberg_rest/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/multi_catalog_iceberg_rest/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/multi_catalog_iceberg_rest/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/multi_catalog_with_ducklake/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/multi_catalog_with_ducklake/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/unity_duckdb_readonly/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/unity_duckdb_readonly/output.snap
  crates/dbt-loader/tests/macros/duckdb.rs
  crates/dbt-loader/tests/macros/mod.rs
Due: none

test(duckdb): Horizon/Unity read-write attach fixtures + changelog
  crates/dbt-adapter/src/engine/xdbc/fixtures/horizon_duckdb/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/horizon_duckdb/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/horizon_duckdb_user_overrides/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/horizon_duckdb_user_overrides/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/unity_duckdb/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/unity_duckdb/output.snap
Due: none

feat(dbt-adapter): Horizon/Unity read-write attach + write-compat options
  crates/dbt-adapter/src/catalog_relation.rs
  crates/dbt-adapter/src/catalog_relation/catalog_relation_v2.rs
  crates/dbt-adapter/src/engine/duckdb_attach.rs
Due: none

feat(dbt-schemas): enable Horizon/Unity duckdb writes
  crates/dbt-adapter/src/engine/xdbc/fixtures/horizon_duckdb/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/horizon_duckdb/output.snap
  crates/dbt-adapter/src/engine/xdbc/fixtures/unity_duckdb/catalogs.yml
  crates/dbt-adapter/src/engine/xdbc/fixtures/unity_duckdb/output.snap
  crates/dbt-schemas/src/schemas/dbt_catalogs_v2.rs
Due: none

feat(duckdb): CTAS opt-in (stage_create_tables) in the write-path macros
  crates/dbt-loader/src/dbt_macro_assets/dbt-duckdb/macros/adapters.sql
  crates/dbt-loader/src/dbt_macro_assets/dbt-duckdb/macros/materializations/table.sql
  crates/dbt-loader/tests/macros/duckdb.rs
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260619-154652.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Introduce fdcs driver
  crates/dbt-adapter-core/src/lib.rs
  crates/dbt-adapter-sql/src/ident.rs
  crates/dbt-adapter-sql/src/statements.rs
  crates/dbt-adapter/src/adapter/adapter_factory.rs
  crates/dbt-adapter/src/adapter/adapter_impl.rs
  crates/dbt-adapter/src/column/column_builder.rs
  crates/dbt-adapter/src/metadata/get_relation.rs
  crates/dbt-adapter/src/relation/factory.rs
  crates/dbt-adapter/src/sql_types.rs
  crates/dbt-auth/src/lib.rs
  crates/dbt-df-providers/src/seed_io.rs
  crates/dbt-init/src/profile_setup.rs
  crates/dbt-schemas/src/schemas/relations/base.rs
  crates/dbt-tasks-sa/src/sql/dialect.rs
  crates/dbt-xdbc/src/driver.rs
  crates/dbt-xdbc/src/install.rs
  crates/dbt-xdbc/src/lib.rs
  crates/dbt-xdbc/tests/driver/mod.rs
Due: none

update dbt-core changelog to point to new `CHANGELOG-fusion.md`
  CHANGELOG.md
Due: none

Bump the extended DuckDB driver
  crates/dbt-xdbc/drivers.toml
  crates/dbt-xdbc/src/checksums.rs
  crates/dbt-xdbc/src/lib.rs
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260619-200605.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix: use git tag --no-column to prevent dbt deps breakage with columnar git output
  core/dbt/clients/git.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: reduce snowplow telemetry connection timeout from 5s to 1s
  .changes/unreleased/Fixes-20260329-190000.yaml
  core/dbt/tracking.py
  tests/unit/test_tracking.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: only surface store_failures table hint when a test stored rows
  core/dbt/task/printer.py
  tests/unit/task/test_printer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for #11350
  .changes/unreleased/Fixes-20260619-120000.yaml
Due: none

test: add regression coverage for list_tags columnar git output (#10381)
  tests/unit/clients/test_git.py
Due: isort, black, flake8

chore: add changelog entry for #10381
  .changes/unreleased/Fixes-20260330-152706-git_tag_no_column.yaml
Due: none

chore: add changelog entry for #9241
  .changes/unreleased/Fixes-20260329-142228-9241.yaml
Due: none

fix: handle permission errors gracefully when writing package-lock.yml
  core/dbt/task/deps.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: normalize line endings in the file-diff parse path (#11473)
  .changes/unreleased/Fixes-20260619-212305.yaml
  core/dbt/parser/read_files.py
  tests/functional/partial_parsing/test_file_diff.py
  tests/unit/parser/test_read_files.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260619-230414.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

test: add fast unit guard for the file-diff added branch (#11473)
  tests/unit/parser/test_read_files.py
Due: isort, black, flake8

Skip disabled nodes in regression scheduling
  crates/dbt-parser/src/resolve/resolve_models.rs
  crates/dbt-parser/src/resolve/resolve_seeds.rs
  crates/dbt-parser/src/resolve/resolve_snapshots.rs
  crates/dbt-parser/src/resolve/resolve_sources.rs
  crates/dbt-parser/src/resolve/resolve_tests/persist_generic_data_tests.rs
  crates/dbt-scheduler/src/schedule.rs
Due: none

Implement pieces need to load the fdcs driver
  crates/dbt-auth/src/duckdb/mod.rs
  crates/dbt-loader/src/dbt_macro_assets/dbt-fdcs/dbt_project.yml
  crates/dbt-schemas/src/schemas/profiles.rs
  crates/dbt-xdbc/src/driver.rs
Due: none

Update test durations for pytest-split
  core/.test_durations
Due: none

Update test durations for pytest-split (#15314)
  core/.test_durations
Due: none

﻿fix: prevent duplicate CTE names in unit tests when upstream models share the same alias
  .changes/unreleased/Fixes-20260621-160710.yaml
  core/dbt/parser/unit_tests.py
  tests/functional/unit_testing/test_ut_aliases.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

﻿fix: make `this` in unit test context a proper Relation-like object
  .changes/unreleased/Fixes-20260621-153650.yaml
  core/dbt/context/providers.py
  tests/functional/unit_testing/test_ut_this_relation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

﻿fix: quote ephemeral CTE identifiers in unit-test ref/source resolvers
  .changes/unreleased/Fixes-20260621-180000.yaml
  core/dbt/context/providers.py
  tests/functional/unit_testing/test_ut_jinja_whitespace.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Refactor debug dependency status reporting
  crates/dbt-tasks-sa/src/debug.rs
Due: none

chore: sync JSON schemas from dbt-fusion (#15313)
  .changes/unreleased/Under the Hood-20260619-230414.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

ci(winget): set ReleaseDate metadata on manifests
  .github/workflows/publish-winget.yml
Due: none

ci(winget): set ReleaseDate metadata on manifests (#15321)
  .github/workflows/publish-winget.yml
Due: none

Fix typo in try_or_compiler_error type-check warning message
  .changes/unreleased/Fixes-20260622-154408.yaml
  crates/dbt-jinja/minijinja/src/types/function.rs
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260622-193406.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260622-214733.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix: don't let `dbt system uninstall` clobber a package-managed binary
  crates/dbt-main/src/install_method.rs
  crates/dbt-main/src/uninstall.rs
Due: none
