Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Fix BigQuery source alias deprecation warning (#12327) (#12337) (#12475)
  .changes/unreleased/Fixes-20260126-160659.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.5 and generate changelog
  .changes/1.11.5.md
  .changes/unreleased/Fixes-20260126-160659.yaml
  .changes/unreleased/Fixes-20260204-211128.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix changelog entry for sqlparse upper bound
  .changes/1.10.17.md
  CHANGELOG.md
Due: none

Add changie file.
  .changes/unreleased/Fixes-20260210-154042.yaml
Due: none

Enforce dimensions have 'validity_params' only if they have granularity
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add enforcement for derived dimensions, too
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

#12379: Refactor seed column type validation
  .changes/unreleased/Fixes-20260125-113244.yaml
  core/dbt/context/providers.py
  tests/functional/seeds/test_seed_column_type_validation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260214-181659.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

use resolved profile and target name
  .changes/unreleased/Fixes-20260216-230817.yaml
  core/dbt/parser/manifest.py
  tests/functional/partial_parsing/test_partial_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix mock_project for ut
  tests/unit/utils/project.py
Due: isort, black, flake8

chore: sync JSON schemas from dbt-fusion (#12494)
  .changes/unreleased/Under the Hood-20260214-181659.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Fix changelog entry for sqlparse upper bound (#12493)
  .changes/1.10.17.md
  CHANGELOG.md
Due: none

fix: neutralize ref() in SQL comments (fixes #12499)
  core/dbt/clients/jinja.py
  tests/unit/clients/test_jinja.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry for ref() in SQL comments fix (#12499)
  .changes/unreleased/Fixes-20260217-125507.yaml
Due: none

Add structured rationale analyzer for dbt meta.rationale blocks (PRD-263.1 Phase 0)
  .github/workflows/rationale-check.yml
  .rationale.example.yml
  dbt_rationale/__init__.py
  dbt_rationale/__main__.py
  dbt_rationale/analyzer.py
  dbt_rationale/cli.py
  dbt_rationale/config.py
  dbt_rationale/parser.py
  dbt_rationale/schema.py
  dbt_rationale/validator.py
  tests/unit/test_rationale/__init__.py
  tests/unit/test_rationale/fixtures/change_rationale_invalid.yml
  tests/unit/test_rationale/fixtures/expiring_exceptions.yml
  tests/unit/test_rationale/fixtures/invalid_bad_enums.yml
  tests/unit/test_rationale/fixtures/invalid_missing_required.yml
  tests/unit/test_rationale/fixtures/mixed.yml
  tests/unit/test_rationale/fixtures/no_rationale.yml
  tests/unit/test_rationale/fixtures/sources_nested.yml
  tests/unit/test_rationale/fixtures/valid_full.yml
  tests/unit/test_rationale/fixtures/valid_minimal.yml
  tests/unit/test_rationale/fixtures/with_change_rationale.yml
  tests/unit/test_rationale/test_analyzer.py
  tests/unit/test_rationale/test_cli.py
  tests/unit/test_rationale/test_parser.py
  tests/unit/test_rationale/test_schema.py
  tests/unit/test_rationale/test_validator.py
Due: isort, black, flake8

added implementation's first iteration
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/exceptions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

adding parser support for dbt.config.meta_get() resigned commits (#12453)
  .changes/unreleased/Features-20260205-105228.yaml
  core/dbt/parser/models.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Enforce dimensions have 'validity_params' only if they have granularity (#12473)
  .changes/unreleased/Fixes-20260210-154042.yaml
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.6 and generate changelog
  .changes/1.11.6.md
  .changes/unreleased/Features-20260205-105228.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Increase test coverage to 99% (121 tests)
  tests/unit/test_rationale/test_analyzer.py
  tests/unit/test_rationale/test_cli.py
  tests/unit/test_rationale/test_parser.py
  tests/unit/test_rationale/test_validator.py
Due: isort, black, flake8

Address PR review feedback: CodeQL permissions fix and changelog entry
  .changes/unreleased/Features-20260218-120000.yaml
  .github/workflows/rationale-check.yml
Due: none

Fix CI failures: move rationale tests out of main test suite
  .github/workflows/rationale-check.yml
  .pre-commit-config.yaml
  dbt_rationale/tests/__init__.py
  dbt_rationale/tests/fixtures/change_rationale_invalid.yml
  dbt_rationale/tests/fixtures/expiring_exceptions.yml
  dbt_rationale/tests/fixtures/invalid_bad_enums.yml
  dbt_rationale/tests/fixtures/invalid_missing_required.yml
  dbt_rationale/tests/fixtures/mixed.yml
  dbt_rationale/tests/fixtures/no_rationale.yml
  dbt_rationale/tests/fixtures/sources_nested.yml
  dbt_rationale/tests/fixtures/valid_full.yml
  dbt_rationale/tests/fixtures/valid_minimal.yml
  dbt_rationale/tests/fixtures/with_change_rationale.yml
  dbt_rationale/tests/test_analyzer.py
  dbt_rationale/tests/test_cli.py
  dbt_rationale/tests/test_parser.py
  dbt_rationale/tests/test_schema.py
  dbt_rationale/tests/test_validator.py
Due: isort, black, flake8

Fix test_json_output failure in CI: emit GitHub annotations to stderr
  dbt_rationale/cli.py
  dbt_rationale/tests/test_cli.py
Due: isort, black, flake8

Fix duplicate macro test assertions to match dbt-adapters error message
  tests/functional/duplicates/test_duplicate_macro.py
Due: isort, black, flake8

fix failing tests after macro msg change
  tests/functional/duplicates/test_duplicate_macro.py
Due: isort, black, flake8

Add example YAML files for meta.rationale usage
  dbt_rationale/examples/exceptions.yml
  dbt_rationale/examples/metrics_and_exposures.yml
  dbt_rationale/examples/models_basic.yml
  dbt_rationale/examples/models_full.yml
  dbt_rationale/examples/models_with_change_rationale.yml
  dbt_rationale/examples/sources.yml
Due: none

fix failing tests after macro msg change (#12506)
  tests/functional/duplicates/test_duplicate_macro.py
Due: isort, black, flake8

fix: use loop
  core/dbt/parser/schema_generic_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: attached node of relashionships considering override
  core/dbt/parser/schema_generic_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: adding changelog
  .changes/unreleased/Fixes-20260119-172359.yaml
Due: none

feat: fix attached_node and add test
  core/dbt/parser/schema_generic_tests.py
  tests/functional/duplicates/test_duplicate_model.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add uninstalled package test case
  core/dbt/config/project.py
  tests/functional/dependencies/nested_dependency/dbt_project.yml
  tests/functional/dependencies/nested_dependency/models/model.sql
  tests/functional/dependencies/nested_dependency/packages.yml
  tests/functional/dependencies/test_uninstalled_package_edge_cases.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added changelog
  .changes/unreleased/Fixes-20260219-012414.yaml
Due: none

added missing test cases and handling of missing lock yaml
  .changes/unreleased/Fixes-20260219-012414.yaml
  core/dbt/config/runtime.py
  core/dbt/exceptions.py
  tests/functional/dependencies/test_uninstalled_package_found_error.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

better exception msg
  core/dbt/exceptions.py
  tests/functional/dependencies/test_uninstalled_package_found_error.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Check installed packages exist based on locked deps (#12508)
  .changes/unreleased/Fixes-20260219-012414.yaml
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/exceptions.py
  tests/functional/dependencies/nested_dependency/dbt_project.yml
  tests/functional/dependencies/nested_dependency/models/model.sql
  tests/functional/dependencies/nested_dependency/packages.yml
  tests/functional/dependencies/test_uninstalled_package_found_error.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Allow partial parsing when default target and profile names are used (#12498)
  .changes/unreleased/Fixes-20260216-230817.yaml
  core/dbt/parser/manifest.py
  tests/functional/partial_parsing/test_partial_parsing.py
  tests/unit/utils/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
