Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Add missing return statement to RuntimeConfigObject.meta_require method
  .changes/unreleased/Fixes-20251217-002813.yaml
  core/dbt/context/providers.py
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Support aliased configs jsonschemas (#12291)
  .changes/unreleased/Fixes-20251217-105918.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add add_catalog_integration call even if we have a pre-existing manifest (#12262)
  .changes/unreleased/Under the Hood-20251209-131857.yaml
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add warning
  core/dbt/events/types.py
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add behavior flag
  core/dbt/contracts/graph/manifest.py
  core/dbt/contracts/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test fix
  core/dbt/contracts/graph/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add unit tests
  tests/unit/contracts/graph/test_manifest.py
Due: isort, black, flake8

fix tests
  core/dbt/parser/manifest.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix unit test
  tests/unit/contracts/graph/test_manifest.py
Due: isort, black, flake8

changelog entry
  .changes/unreleased/Fixes-20251204-094753.yaml
Due: none

restrict warning to implicit ref resolutions
  core/dbt/parser/manifest.py
  tests/functional/dependencies/inverted_ref_dependency/models/b_root_package_in_ref.sql
  tests/functional/dependencies/test_dependency_inverted_ref.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

additional assertion
  tests/functional/dependencies/test_dependency_inverted_ref.py
Due: isort, black, flake8

add functional testing
  tests/functional/dependencies/inverted_ref_dependency/dbt_project.yml
  tests/functional/dependencies/inverted_ref_dependency/models/a.sql
  tests/functional/dependencies/inverted_ref_dependency/models/b.sql
  tests/functional/dependencies/test_dependency_inverted_ref.py
Due: isort, black, flake8

Update Fixes-20251204-094753.yaml
  .changes/unreleased/Fixes-20251204-094753.yaml
Due: none

Bump DSI to 0.10.x
  core/pyproject.toml
Due: none

Changelog
  .changes/unreleased/Dependencies-20251217-151349.yaml
Due: none

Resolve ref to prefer package node over root node when parsing package, behind require_ref_searches_node_package_before_root flag (#11366)
  .changes/unreleased/Fixes-20251204-094753.yaml
  core/dbt/contracts/graph/manifest.py
  core/dbt/contracts/project.py
  core/dbt/events/types.py
  core/dbt/parser/manifest.py
  tests/functional/dependencies/inverted_ref_dependency/dbt_project.yml
  tests/functional/dependencies/inverted_ref_dependency/models/a.sql
  tests/functional/dependencies/inverted_ref_dependency/models/b.sql
  tests/functional/dependencies/inverted_ref_dependency/models/b_root_package_in_ref.sql
  tests/functional/dependencies/test_dependency_inverted_ref.py
  tests/unit/contracts/graph/test_manifest.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Implementation of meta_get and meta_require (#12267)
  .changes/unreleased/Features-20251210-202001.yaml
  core/dbt/context/providers.py
  core/pyproject.toml
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix test_config_with_meta_key (#12284)
  .changes/unreleased/Under the Hood-20251215-155046.yaml
  core/pyproject.toml
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8

Add missing return statement to RuntimeConfigObject.meta_require method (#12294)
  .changes/unreleased/Fixes-20251217-002813.yaml
  core/dbt/context/providers.py
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Backport 1.11.latest meta_get and meta_require (#12298)
  .changes/unreleased/Features-20251210-202001.yaml
  .changes/unreleased/Fixes-20251217-002813.yaml
  .changes/unreleased/Under the Hood-20251215-155046.yaml
  core/dbt/context/providers.py
  core/pyproject.toml
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.0rc4 and generate changelog
  .changes/1.11.0-rc4.md
  .changes/1.11.0/Features-20251210-202001.yaml
  .changes/1.11.0/Fixes-20251204-094753.yaml
  .changes/1.11.0/Fixes-20251210-143935.yaml
  .changes/1.11.0/Fixes-20251216-120727.yaml
  .changes/1.11.0/Fixes-20251217-002813.yaml
  .changes/1.11.0/Fixes-20251217-105918.yaml
  .changes/1.11.0/Under the Hood-20251215-155046.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

use post instead of dev
  .github/workflows/nightly-release.yml
Due: none

move setup_db.sh to scripts, remove test dir (#12273)
  .flake8
  .github/actions/setup-postgres-windows/setup_db.sh
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
  CONTRIBUTING.md
  core/hatch.toml
  scripts/setup_db.sh
  test/__init__.py
  test/interop/log_parsing/Cargo.lock
  test/interop/log_parsing/Cargo.toml
  test/interop/log_parsing/src/main.rs
Due: isort, black, flake8

move setup_db.sh to scripts, remove test dir (#12273) (#12301)
  .flake8
  .github/actions/setup-postgres-windows/setup_db.sh
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
  CONTRIBUTING.md
  core/hatch.toml
  scripts/setup_db.sh
  test/__init__.py
  test/interop/log_parsing/Cargo.lock
  test/interop/log_parsing/Cargo.toml
  test/interop/log_parsing/src/main.rs
Due: isort, black, flake8

Fix sqlparse version to deal with newly added flag
  core/pyproject.toml
Due: none

Update pyproject.toml
  core/pyproject.toml
Due: none

Bump minimum click to 8.2.0
  .changes/unreleased/Dependencies-20251219-153804.yaml
  core/pyproject.toml
Due: none

Bump minimum click to 8.2.0 (#12306)
  .changes/unreleased/Dependencies-20251219-153804.yaml
  core/pyproject.toml
Due: none

Bumping version to 1.11.1 and generate changelog
  .changes/1.11.1.md
  .changes/unreleased/Dependencies-20251219-153804.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

pin sqlparse <0.5.5
  core/pyproject.toml
Due: none

upper bound sqlparse dependency
  .changes/unreleased/Fixes-20251219-184405.yaml
Due: none

add changelog entry
  .changes/unreleased/Fixes-20251220-004455.yaml
Due: none

Pin sqlparse <0.5.5 (#12308)
  .changes/unreleased/Fixes-20251219-184405.yaml
  core/pyproject.toml
Due: none

Address Click 8.2+ deprecation warning by using type-checking imports (#12039)
  .changes/unreleased/Fixes-20250922-151726.yaml
  core/dbt/cli/options.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

upper bound sqlparse dependency
  core/setup.py
Due: isort, black, flake8

changelog entry
  .changes/unreleased/Fixes-20251219-191846.yaml
Due: none

Pin sqlparse <0.5.5 (#12311)
  .changes/unreleased/Fixes-20251219-191846.yaml
  core/setup.py
Due: isort, black, flake8
