Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

use action
  .github/workflows/cut-release-branch.yml
  .github/workflows/main.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
Due: none

chore - fix hatch installs in CI (#12544)
  .github/workflows/cut-release-branch.yml
  .github/workflows/main.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
  scripts/build-dist.sh
Due: none

Support for declaraing variables in a vars.yml file (#12488)
  .changes/unreleased/Features-20260212-232728.yaml
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/constants.py
  core/dbt/parser/manifest.py
  core/dbt/tests/fixtures/project.py
  tests/functional/configs/test_vars_file.py
  tests/functional/partial_parsing/test_pp_vars.py
  tests/unit/config/test_vars_file.py
  tests/unit/utils/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

support sql_header config for data tests
  .changes/unreleased/Fixes-20260225-203131.yaml
  core/dbt/artifacts/resources/v1/config.py
  core/dbt/parser/generic_test_builders.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/schema_tests/test_sql_header_config.py
  tests/functional/unit_testing/test_ut_sql_header.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added [ERROR] infront of error messages to make errors more clearer
  core/dbt/contracts/graph/semantic_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

removed test
  tests/functional/unit_testing/test_ut_sql_header.py
Due: isort, black, flake8

added changelog
  .changes/unreleased/Fixes-20260226-163836.yaml
Due: none

Address review feedback: show absolute project path in dbt init output
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry
  .changes/unreleased/Features-9041.yaml
Due: none

Add directory change instruction after dbt init
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix black formatting in types.py
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add directory change instruction after dbt init (#12232)
  .changes/unreleased/Features-9041.yaml
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix #12379: Fixed Column Type Validation Logic and added tests for the same
  .changes/unreleased/Fixes-20260125-113244.yaml
  core/dbt/context/providers.py
  tests/functional/seeds/test_seed_column_type_validation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

#12379: Refactor seed column type validation
  .changes/unreleased/Fixes-20260125-113244.yaml
  core/dbt/context/providers.py
  tests/functional/seeds/test_seed_column_type_validation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix #12379: Fixed Column Type Validation Logic and added tests for th… (#12390)
  .changes/unreleased/Fixes-20260125-113244.yaml
  core/dbt/context/providers.py
  tests/functional/seeds/test_seed_column_type_validation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Better Error Formatting for Semantic Manifest Validations (#12546)
  .changes/unreleased/Fixes-20260226-163836.yaml
  core/dbt/contracts/graph/semantic_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix state modified function yml properties
  core/dbt/contracts/graph/nodes.py
  tests/unit/contracts/graph/test_nodes.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix retry task
  core/dbt/task/retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix retry task (#12549)
  core/dbt/task/retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

update artifact schemas
  schemas/dbt/catalog/v1.json
  schemas/dbt/manifest/v12.json
  schemas/dbt/run-results/v6.json
  schemas/dbt/sources/v3.json
Due: none

chore - fix hatch installs in CI (#12544) (#12550)
  .github/workflows/cut-release-branch.yml
  .github/workflows/main.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
  scripts/build-dist.sh
Due: none

add test durations
  .github/workflows/main.yml
  .github/workflows/update-test-durations.yml
  core/.test_durations
Due: none

add duration split for struct logging
  .github/workflows/structured-logging-schema-check.yml
Due: none

update artifact schemas (#12551)
  schemas/dbt/catalog/v1.json
  schemas/dbt/manifest/v12.json
  schemas/dbt/run-results/v6.json
  schemas/dbt/sources/v3.json
Due: none

fix macros invoked via run-operation to ref() private and protected models
  .changes/unreleased/Fixes-20260227-133424.yaml
  core/dbt/contracts/graph/manifest.py
  tests/functional/run_operations/fixtures.py
  tests/functional/run_operations/test_run_operations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Warnings will now have [WARNING] in yellow preprended to the warning message to make it clearer
  core/dbt/contracts/graph/semantic_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

added changelog
  .changes/unreleased/Fixes-20260227-140009.yaml
Due: none

added [WARNING] prefix when raising warnings from jinja
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

better warning and error logging
  core/dbt/contracts/graph/semantic_manifest.py
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

modified changelog
  .changes/unreleased/Fixes-20260227-140009.yaml
Due: none

update spllit method
  core/.test_durations
  core/hatch.toml
Due: none

first pass - set sqlparse.engine.grouping from CLI options, defaulting to None (no limits)
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/pyproject.toml
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

DBT_ENGINE_ prefix, TestSqlParseGroupingTokenLimit
  core/dbt/cli/params.py
  core/dbt/compilation.py
  tests/functional/compile/test_compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

TestSqlParseGroupingDepthLimit
  tests/functional/compile/test_compile.py
Due: isort, black, flake8

add config support for macros
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/macro.py
  core/dbt/parser/schemas.py
  tests/functional/macros/fixtures.py
  tests/functional/macros/test_macros.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

updating docs issue workflow
  .github/workflows/docs-issue.yml
Due: none

fix macros invoked via run-operation to ref() private and protected models (#12553)
  .changes/unreleased/Fixes-20260227-133424.yaml
  core/dbt/contracts/graph/manifest.py
  tests/functional/run_operations/fixtures.py
  tests/functional/run_operations/test_run_operations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: add changelog entry for #12502 fix
  .changes/unreleased/Fixes-20260228-102039.yaml
Due: none
