Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

docs updates
  ARCHITECTURE.md
  CONTRIBUTING.md
Due: none

fix script
  scripts/update_dev_packages.sh
Due: none

editable req
  .github/workflows/schema-check.yml
  Makefile
  editable-requirements.txt
  tox.ini
Due: none

fixes to build
  .bumpversion.cfg
  CONTRIBUTING.md
  MANIFEST.in
  Makefile
  core/MANIFEST.in
  core/dbt/version.py
  core/pyproject.toml
  dev-requirements.txt
  editable-requirements.txt
  pyproject.toml
  requirements.txt
  scripts/build-dist.sh
  scripts/update_dev_packages.sh
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

revert unnecesary changes
  .github/workflows/schema-check.yml
  CONTRIBUTING.md
  Makefile
  core/MANIFEST.in
  core/pyproject.toml
  dev-requirements.txt
  editable-requirements.txt
  pyproject.toml
  requirements.txt
  scripts/build-dist.sh
  scripts/update_dev_packages.sh
  tox.ini
Due: none

support DBT_ENGINE prefix for DBT_RECORDER env vars
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Under the Hood-20251105-165014.yaml
Due: none

Only do special python model compilation for python models (not other python nodes)
  core/dbt/compilation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Test jinja compilation of python udfs
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8

Add changie doc
  .changes/unreleased/Fixes-20251106-163514.yaml
Due: none

Fix typos in some files
  core/dbt/artifacts/schemas/upgrades/upgrade_manifest.py
  core/dbt/clients/jinja_static.py
  core/dbt/config/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.10.14 and generate changelog
  .bumpversion.cfg
  .changes/1.10.14.md
  .changes/unreleased/Fixes-20250925-212728.yaml
  .changes/unreleased/Under the Hood-20251027-174415.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Stop allowing hyphens in metric names and add name validation tests
  .changes/unreleased/Fixes-20251107-160515.yaml
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add new-syle YAML unparsed metric
  .changes/unreleased/Features-20251111-103504.yaml
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add dbt/jsonschemas to recursive-include (#12126)
  .changes/unreleased/Under the Hood-20251028-163413.yaml
  core/MANIFEST.in
Due: none

Bumping version to 1.10.15 and generate changelog
  .bumpversion.cfg
  .changes/1.10.15.md
  .changes/unreleased/Under the Hood-20251028-163413.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

first pass
  core/dbt/cli/fusion_runner.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add new-syle YAML (Parsed) Metric
  core/dbt/artifacts/resources/v1/metric.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schema_yaml_readers.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_parsing.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

parse
  core/dbt/cli/fusion_runner.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

use model context builder when parsing unit tests
  core/dbt/cli/fusion_runner.py
  core/dbt/parser/unit_tests.py
  tests/functional/unit_testing/test_ut_macros.py
  tests/functional/unit_testing/test_ut_variables.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add test coverage for SL metric parsing
  core/dbt/parser/manifest.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix typos in some files
  core/dbt/config/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.0b4.dev11162025 and generate changelog
  .bumpversion.cfg
  core/pyproject.toml
Due: none

Allow dbt deps to run when vars lack defaults in dbt_project.yml
  core/dbt/config/renderer.py
  core/dbt/context/base.py
  core/dbt/context/configured.py
  core/dbt/context/target.py
  tests/functional/deps/test_deps_with_vars.py
  tests/unit/config/test_renderer_with_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Added Changelog entry
  .changes/unreleased/Fixes-20251117-185025.yaml
Due: none

Prevent applying the "community" label to bot PRs (#11912)
  .github/workflows/community-label.yml
Due: none

fixed integration tests
  core/dbt/config/renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixed mypy error
  core/dbt/config/renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor to generate_parser_unit_test_context
  core/dbt/context/providers.py
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Adding tests for issue 10539
  tests/functional/unit_testing/test_ut_variables.py
Due: isort, black, flake8

changelog entry
  .changes/unreleased/Fixes-20251117-140649.yaml
Due: none

Add tests to check parsing of function argument default values
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8

Begin allowing the specification of `default_value` on function arguments
  core/dbt/artifacts/resources/v1/function.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Validate that non-default function arguments don't come _after_ default function arguments
  core/dbt/parser/manifest.py
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie doc
  .changes/unreleased/Features-20251117-141053.yaml
Due: none

move full workflow into core since no one else uses it
  .github/workflows/cut-release-branch.yml
Due: none

Bumping version to 1.12.0a1
  .bumpversion.cfg
  core/pyproject.toml
Due: none

Code quality cleanup
  .bumpversion.cfg
  CHANGELOG.md
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
