Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

refactor: extract shared helper to reduce test duplication
  tests/unit/task/test_test.py
Due: isort, black, flake8

refactor: reduce _run_build_test to 3 parameters
  tests/unit/task/test_test.py
Due: isort, black, flake8

fix(#12947): handle float NodeVersion in version_to_str (#12948)
  .changes/unreleased/Fixes-20260513-120000.yaml
  core/dbt/parser/manifest.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Validate catalogs is a list and each entry is a mapping
  core/dbt/config/catalogs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

📝 Fix snapshot unique_key error messaging (Issue #10864)
  core/dbt/task/snapshot.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Replace warnings.warn with Note event for v2 experimental notice
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

docs: add changelog entry for unique_key error messaging
  .changes/unreleased/Fixes-20260513-194500.yaml
Due: none

Add latest_version_view for versioned models (#12779)
  .changes/unreleased/Features-20260330-121843.yaml
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/contracts/project.py
  core/dbt/task/run.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/versions/test_latest_version_pointer.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Refactor snapshot duplicate-row error handling
  core/dbt/task/snapshot.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Use view materialization via synthetic node for latest_version_view
  core/dbt/task/run.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert "Add latest_version_view for versioned models (#12779)"
  .changes/unreleased/Features-20260330-121843.yaml
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/contracts/project.py
  core/dbt/task/run.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/versions/test_latest_version_pointer.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Simplify snapshot exception handling flow
  core/dbt/task/snapshot.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert "Add latest_version_view for versioned models (#12779)" (#12953)
  .changes/unreleased/Features-20260330-121843.yaml
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/contracts/project.py
  core/dbt/task/run.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/versions/test_latest_version_pointer.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix CodeScene issues: extract validation helper and reduce test duplication
  core/dbt/task/run.py
  tests/functional/versions/test_latest_version_pointer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix Bumpy Road: move pointer relation caching out of nested for loop
  core/dbt/task/run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260514-011811.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

deps: cap dbt-adapters to <1.24 for 1.11.x line
  .changes/unreleased/Dependencies-20260514-093000.yaml
  core/pyproject.toml
Due: none

deps: cap dbt-adapters to <1.24 for 1.10.x line
  .changes/unreleased/Dependencies-20260514-093001.yaml
  core/setup.py
Due: isort, black, flake8

deps: floor dbt-adapters to >=1.24.1 on main
  .changes/unreleased/Dependencies-20260514-093002.yaml
  core/pyproject.toml
Due: none

updated changelog
  .changes/unreleased/Dependencies-20260514-093000.yaml
Due: none

updated changelog
  .changes/unreleased/Dependencies-20260514-093001.yaml
Due: none

pinned dbt-adapters to < 1.24 as there are breaking changes in 1.24 wrt dbt-core 1.11.x
  core/hatch.toml
Due: none

added changelog
  .changes/unreleased/Dependencies-20260514-135848.yaml
Due: none

pinned dbt-adapters to < 1.24 as there are breaking changes in 1.24 w… (#12959)
  .changes/unreleased/Dependencies-20260514-135848.yaml
  core/hatch.toml
Due: none

deps: cap dbt-adapters to <1.24 for 1.10.x line (#12958)
  .changes/unreleased/Dependencies-20260514-093001.yaml
  core/setup.py
Due: isort, black, flake8

deps: cap dbt-adapters to <1.24 for 1.11.x line (#12957)
  .changes/unreleased/Dependencies-20260514-093000.yaml
  core/pyproject.toml
Due: none

Bumping version to 1.10.21 and generate changelog
  .bumpversion.cfg
  .changes/1.10.21.md
  .changes/unreleased/Dependencies-20260514-093001.yaml
  .changes/unreleased/Under the Hood-20250819-123448.yaml
  CHANGELOG.md
  core/dbt/version.py
  core/setup.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.10 and generate changelog
  .changes/1.11.10.md
  .changes/unreleased/Dependencies-20260514-093000.yaml
  .changes/unreleased/Dependencies-20260514-135848.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add AI summary to docs issue workflow (#12882)
  .github/workflows/docs-issue.yml
Due: none

regen json_schema
  schemas/dbt/catalog/v1.json
  schemas/dbt/manifest/v12.json
  schemas/dbt/run-results/v6.json
  schemas/dbt/sources/v3.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260514-185556.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

regen json_schema (#12961)
  schemas/dbt/catalog/v1.json
  schemas/dbt/manifest/v12.json
  schemas/dbt/run-results/v6.json
  schemas/dbt/sources/v3.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260514-195334.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Preserve provider in lock file for private packages
  core/dbt/deps/private_package.py
  tests/unit/deps/test_private_package.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor(runnable): extract _no_explicit_selection predicate from get_selection_spec
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor(runnable): extract _resolve_node from _runtime_initialize
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor(runnable): extract _check_fail_fast_or_raise from call_runner
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor(runnable): extract _cancel_open_connections from _cancel_connections
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor(runnable): extract exception handlers from execute_nodes
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor(runnable): extract _cachable_manifest_nodes and _fill_adapter_cache from populate_adapter_cache
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
