Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Fix FK constraint ref() resolving to deferred relation when target is selected
  .changes/unreleased/Fixes-20260205-120000.yaml
  core/dbt/compilation.py
  core/dbt/task/runnable.py
  tests/functional/constraints/test_foreign_key_constraints.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix: Stop raising deprecation warnings for python model internal configs (#12454)
  .changes/unreleased/Fixes-20260204-184553.yaml
  core/dbt/jsonschemas/jsonschemas.py
  core/dbt/parser/base.py
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

normalize whitespace when loading model files (#12345)
  .changes/unreleased/Fixes-20260202-153835.yaml
  core/dbt/parser/read_files.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/partial_parsing/fixtures.py
  tests/functional/partial_parsing/test_partial_parsing.py
  tests/unit/parser/test_read_files.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add test asserting python model under the hood configs don't raise deprecations
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8

Stop raising deprecation warnings for internal python model configs
  .changes/unreleased/Fixes-20260204-184553.yaml
  core/dbt/jsonschemas/jsonschemas.py
  core/dbt/parser/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Handle `meta_keys_defaults` and `meta_keys_used` in prep for #12453
  core/dbt/jsonschemas/jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

[BACKPORT 1.11.latest] Fix: Stop raising deprecation warnings for python model internal configs #12454 (#12457)
  .changes/unreleased/Fixes-20260204-184553.yaml
  core/dbt/jsonschemas/jsonschemas.py
  core/dbt/parser/base.py
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.3 and generate changelog
  .changes/1.11.3.md
  .changes/unreleased/Dependencies-20260121-171712.yaml
  .changes/unreleased/Fixes-20260109-141332.yaml
  .changes/unreleased/Fixes-20260204-184553.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Return resolved nearest project dir before chainging current dir (#12428)
  .changes/unreleased/Fixes-20260202-123453.yaml
  core/dbt/task/base.py
  tests/functional/clean/test_clean.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260205-200835.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

added support to discover editable adapter installs
  core/dbt/version.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feat: add --max-column-width and --max-columns options to dbt show
  .changes/unreleased/Features-20260205-145300.yaml
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/task/show.py
  tests/functional/show/test_show.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Dont fire config problem if `loaded_at_query` is defined (#12452)
  .changes/unreleased/Fixes-20260204-211128.yaml
  core/dbt/parser/sources.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: Skip deprecation error for config key alias
  .changes/unreleased/Fixes-20260206-204257.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: Skip deprecation error for config key alias (#12462)
  .changes/unreleased/Fixes-20260206-204257.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

adding parser support for dbt.config.meta_get() resigned commits
  .changes/unreleased/Features-20260205-105228.yaml
  core/dbt/parser/models.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#12459)
  .changes/unreleased/Under the Hood-20260205-200835.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix: correct typo 'seperator' to 'separator'
  core/dbt/version.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix FK constraint ref() resolving to deferred relation when target is selected (#12456)
  .changes/unreleased/Fixes-20260205-120000.yaml
  core/dbt/compilation.py
  core/dbt/task/runnable.py
  tests/functional/constraints/test_foreign_key_constraints.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add unit tests to the Jinja `graph` object (#12033) (#12406)
  .changes/unreleased/Features-20260129-110711.yaml
  core/dbt/contracts/graph/manifest.py
  tests/unit/contracts/graph/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Use resolved profile/target names in partial parsing state check
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry for partial parsing profile/target fix
  .changes/fix-partial-parsing-profile-target.md
Due: none

Add changelog entry for profile/target state check fix
  .changes/12465.profile-target-state-check.md
Due: none

Allow null config nested resource path
  core/dbt/jsonschemas/jsonschemas.py
  core/dbt/jsonschemas/project/0.0.110.json
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove duplicate changelog entry
  .changes/fix-partial-parsing-profile-target.md
Due: none

sync jsonschema updates
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

changelog entry
  .changes/unreleased/Under the Hood-20260205-200835.yaml
Due: none

Sync jsonschemas to 1.11 (#12468)
  .changes/unreleased/Under the Hood-20260205-200835.yaml
  core/dbt/jsonschemas/project/0.0.110.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Added first pass solution for doc extension
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/contracts/project.py
  core/dbt/parser/read_files.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.4 and generate changelog
  .changes/1.11.4.md
  .changes/unreleased/Fixes-20260206-204257.yaml
  .changes/unreleased/Under the Hood-20260205-200835.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260210-161557.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

Fix existing uts and add functional test for custom exts
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/contracts/project.py
  core/dbt/parser/read_files.py
  core/dbt/tests/fixtures/project.py
  tests/functional/compile/test_custom_extensions.py
  tests/unit/config/test_project.py
  tests/unit/utils/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

adding parser support for dbt.config.meta_get() resigned commits (#12453)
  .changes/unreleased/Features-20260205-105228.yaml
  core/dbt/parser/models.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

move ext behind behavior flag and only allow jinja exts
  .changes/unreleased/Features-20260211-034310.yaml
  core/dbt/config/project.py
  core/dbt/config/runtime.py
  core/dbt/contracts/project.py
  core/dbt/parser/read_files.py
  core/dbt/tests/fixtures/project.py
  tests/functional/compile/test_jinja_extensions.py
  tests/unit/config/test_project.py
  tests/unit/utils/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

handle double dot extensions for fileblock search
  core/dbt/parser/search.py
  tests/functional/compile/test_jinja_extensions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Validate that SL YAML V2 column with time dim has granularity
  .changes/unreleased/Under the Hood-20260210-151244.yaml
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Validate that SL YAML V2 column with time dim has granularity (#12472)
  .changes/unreleased/Under the Hood-20260210-151244.yaml
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix BigQuery source alias deprecation warning (#12327) (#12337)
  .changes/unreleased/Fixes-20260126-160659.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
