Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Fix: Data type size/precision/scale changes incorrectly flagged as breaking for versioned models (#12219) (#12226)
  .changes/unreleased/Fixes-20251127-145929.yaml
  core/dbt/contracts/graph/nodes.py
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_modified_state.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix stack traces shown for incompatible package version errors (#12218)
  .changes/unreleased/Fixes-20251127-141308.yaml
  core/dbt/exceptions.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

avoid retrying a successful run-operation command
  core/dbt/task/retry.py
  tests/functional/retry/fixtures.py
  tests/functional/retry/test_retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20251128-122838.yaml
Due: none

Update Fixes-20251128-122838.yaml
  .changes/unreleased/Fixes-20251128-122838.yaml
Due: none

fix local test failure
  tests/functional/snapshots/test_hard_delete_snapshot.py
Due: isort, black, flake8

Support unit testing models that depend on source with the same name (#12220)
  .changes/unreleased/Fixes-20251127-170124.yaml
  core/dbt/compilation.py
  core/dbt/context/providers.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/parser/unit_tests.py
  tests/functional/unit_testing/test_ut_sources.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Avoid retrying successful run operation (#12227)
  .changes/unreleased/Fixes-20251128-122838.yaml
  core/dbt/task/retry.py
  tests/functional/retry/fixtures.py
  tests/functional/retry/test_retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add summary output for dbt source freshness command Fixes #6248Add summary output for dbt source freshness command Fixes #6248
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry
  .changes/unreleased/Features-20251127-232956.yaml
Due: none

Add directory change instruction after dbt init
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry
  .changes/unreleased/Features-9041.yaml
Due: none

fix bug
  core/dbt/task/deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

deal with bool
  core/dbt/task/deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add tests
  tests/functional/dependencies/test_add_package_edge_cases.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8

changelog
  .changes/unreleased/Fixes-20251128-161937.yaml
Due: none

optimize name matches
  core/dbt/task/deps.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog
  .changes/unreleased/Fixes-20251128-163144.yaml
Due: none

Bumping version to 1.12.0a1.dev11302025 and generate changelog
  .bumpversion.cfg
  .changes/1.12.0-a1.md
  .changes/1.12.0/Dependencies-20251118-155354.yaml
  .changes/1.12.0/Features-20251006-140352.yaml
  .changes/1.12.0/Features-20251117-141053.yaml
  .changes/1.12.0/Fixes-20251117-140649.yaml
  .changes/1.12.0/Fixes-20251117-185025.yaml
  .changes/1.12.0/Fixes-20251118-171106.yaml
  .changes/1.12.0/Fixes-20251119-195034.yaml
  .changes/1.12.0/Fixes-20251124-155629.yaml
  .changes/1.12.0/Fixes-20251124-155756.yaml
  .changes/1.12.0/Fixes-20251124-170855.yaml
  .changes/1.12.0/Fixes-20251125-120246.yaml
  .changes/1.12.0/Fixes-20251125-122020.yaml
  .changes/1.12.0/Fixes-20251127-141308.yaml
  .changes/1.12.0/Fixes-20251127-145929.yaml
  .changes/1.12.0/Fixes-20251127-170124.yaml
  .changes/1.12.0/Fixes-20251128-122838.yaml
  .changes/1.12.0/Under the Hood-20251119-110110.yaml
  core/pyproject.toml
Due: none

stop codecov CI checks
  .github/workflows/main.yml
  codecov.yml
Due: none

Update fixtures.py
  tests/functional/defer_state/fixtures.py
Due: isort, black, flake8

Fix --add-package when warn-unpinned: false present (#12233)
  .changes/unreleased/Fixes-20251128-161937.yaml
  core/dbt/task/deps.py
  tests/functional/dependencies/test_add_package_edge_cases.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

stop codecov CI checks (#12235)
  .github/workflows/main.yml
  codecov.yml
Due: none

Apply suggestion from @emmyoop
  .changes/unreleased/Fixes-20251128-163144.yaml
Due: none

stop excluding the core team from changelogs
  .changie.yaml
Due: none

first pass: turn on jsonschema deprecations by default
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
  tests/functional/source_overrides/test_simple_source_override.py
  tests/functional/test_project.py
  tests/unit/config/test_project.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.0rc2 and generate changelog
  .bumpversion.cfg
  .changes/1.11.0-rc2.md
  .changes/1.11.0/Features-20251006-140352.yaml
  .changes/1.11.0/Fixes-20251117-185025.yaml
  .changes/1.11.0/Fixes-20251118-171106.yaml
  .changes/1.11.0/Fixes-20251119-195034.yaml
  .changes/1.11.0/Fixes-20251124-155629.yaml
  .changes/1.11.0/Fixes-20251124-155756.yaml
  .changes/1.11.0/Fixes-20251124-170855.yaml
  .changes/1.11.0/Fixes-20251125-120246.yaml
  .changes/1.11.0/Fixes-20251125-122020.yaml
  .changes/1.11.0/Fixes-20251127-141308.yaml
  .changes/1.11.0/Fixes-20251127-145929.yaml
  .changes/1.11.0/Fixes-20251127-170124.yaml
  .changes/1.11.0/Fixes-20251128-122838.yaml
  .changes/1.11.0/Fixes-20251128-161937.yaml
  .changes/1.11.0/Under the Hood-20251119-110110.yaml
  CHANGELOG.md
  core/pyproject.toml
Due: none

remove jsonschema private env var
  core/dbt/jsonschemas/jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Features-20251201-165209.yaml
Due: none

split tests so their state doesn't interact with each other
  tests/functional/partial_parsing/test_partial_parsing.py
Due: isort, black, flake8

stop excluding the core team from changelogs (#12241)
  .changie.yaml
Due: none

avoid raising custon-key-in-config-deprecation for pre/post-hook model configs
  core/dbt/jsonschemas/jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Fixes-20251202-133705.yaml
Due: none

tests
  .changes/unreleased/Fixes-20251202-133705.yaml
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8

Turn on jsonschema-based deprecations by default, based on adapter support (#12240)
  .changes/unreleased/Features-20251201-165209.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
  tests/functional/source_overrides/test_simple_source_override.py
  tests/functional/test_project.py
  tests/unit/config/test_project.py
  tests/unit/test_jsonschemas.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

avoid raising custom-key-in-config-deprecation for pre/post-hook model SQL config validation (#12244)
  .changes/unreleased/Fixes-20251202-133705.yaml
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix partial parsing bug with singular tests (#12224)
  .changes/unreleased/Fixes-20251128-102129.yaml
  core/dbt/parser/partial.py
  tests/functional/partial_parsing/fixtures.py
  tests/functional/partial_parsing/test_partial_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add behavior flag
  core/dbt/contracts/graph/manifest.py
  core/dbt/contracts/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
