Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

fix(dbt-jinja-utils): render {{ this }} as physical relation for ephemeral models
  crates/dbt-jinja-utils/src/phases/compile/compile_node_context.rs
Due: none

chore: post-release 2.0.0-preview.202 (version bump + changelog)
  CHANGELOG-fusion.md
Due: none

Expand OpenTelemetry node and hook span attributes
  .changes/unreleased/Features-20250514-120000.yaml
  .changes/unreleased/Features-20260708-120000.yaml
  core/dbt/clients/jinja.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
  tests/functional/dbt_runner/test_dbt_runner.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add OpenTelemetry trace instrumentation for dbt executions
  .changes/unreleased/Features-20250514-120000.yaml
  core/dbt/clients/jinja.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
  core/hatch.toml
  core/pyproject.toml
  tests/functional/dbt_runner/test_dbt_runner.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260721-184111.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260721-193107.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260721-203325.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix: always emit per-node keys in run_results.json
  crates/dbt-schemas/src/schemas/run_results.rs
Due: none

Show commands need to show.
  crates/dbt-adbc/src/alt.rs
  crates/dbt-auth/src/alt/mod.rs
  crates/dbt-loader/src/dbt_macro_assets/dbt-alt/dbt_project.yml
  crates/dbt-schemas/src/schemas/profiles.rs
Due: none

Fixed cancelled models sometimes being reported as Passed or Succeeded
  crates/dbt-tasks-sa/src/visitor.rs
Due: none

fix(clone): clone logs "No relation found" for ephemeral models
  crates/dbt-loader/src/dbt_macro_assets/dbt-adapters/macros/materializations/models/clone/clone.sql
  crates/dbt-loader/src/dbt_macro_assets/dbt-databricks/macros/materializations/clone/clone.sql
  crates/dbt-loader/src/dbt_macro_assets/dbt-fabric/macros/materializations/models/table/clone.sql
  crates/dbt-loader/src/dbt_macro_assets/dbt-fabricspark/macros/materializations/models/table/clone.sql
  crates/dbt-loader/src/dbt_macro_assets/dbt-spark/macros/materializations/clone.sql
Due: none

Handle dbt State schema prefetch freshness failures
  crates/dbt-tasks-core/src/run_cache/run_cache_service.rs
Due: none

fix: field-level merge for DocsConfig across all config layers
  crates/dbt-parser/src/resolve/resolve_models.rs
  crates/dbt-schemas/src/lib.rs
  crates/dbt-schemas/src/schemas/common.rs
  crates/dbt-schemas/src/schemas/project/configs/analysis_config.rs
  crates/dbt-schemas/src/schemas/project/configs/common.rs
  crates/dbt-schemas/src/schemas/project/configs/function_config.rs
  crates/dbt-schemas/src/schemas/project/configs/model_config.rs
  crates/dbt-schemas/src/schemas/project/configs/seed_config.rs
  crates/dbt-schemas/src/schemas/project/configs/snapshot_config.rs
Due: none

Replace file-system reserved characters in FQNs with underscores when used in paths
  crates/dbt-common/src/path.rs
  crates/dbt-schema-store/src/store.rs
Due: none

fix: backfill config.alias for auto-truncated generic test names
  crates/dbt-parser/src/resolve/resolve_tests/resolve_data_tests.rs
Due: none

Fix: test-time DB errors always error, independent of severity (dbt-core #15514)
  crates/dbt-tasks-sa/src/materialize.rs
  crates/dbt-tasks-sa/src/runnable/test.rs
Due: none

fix: prefer DBT_ENGINE env vars over DBT aliases
  crates/dbt-main/src/vars.rs
Due: none

Add Test section to README
  README.md
Due: none

chore: sync JSON schemas from dbt-fusion (#15632)
  .changes/unreleased/Under the Hood-20260721-203325.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

Resolve unit-test model deterministically, not eagerly at parse time (#15628)
  .changes/unreleased/Fixes-20260721-140000.yaml
  core/dbt/parser/manifest.py
  core/dbt/parser/unit_tests.py
  tests/functional/partial_parsing/test_pp_unit_tests.py
  tests/unit/parser/test_unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.14.0a1.post20260722 and generate changelog
  .changes/1.14.0-a1.md
  .changes/1.14.0/Breaking Changes-20260709-120000.yaml
  .changes/1.14.0/Dependencies-20260715-211254.yaml
  .changes/1.14.0/Features-20260711-014336.yaml
  .changes/1.14.0/Fixes-20260706-143000.yaml
  .changes/1.14.0/Fixes-20260710-121800.yaml
  .changes/1.14.0/Fixes-20260714-233307.yaml
  .changes/1.14.0/Fixes-20260715-113746.yaml
  .changes/1.14.0/Fixes-20260716-005624.yaml
  .changes/1.14.0/Fixes-20260720-120000.yaml
  .changes/1.14.0/Fixes-20260721-140000.yaml
  .changes/1.14.0/Under the Hood-20260709-225520.yaml
  .changes/1.14.0/Under the Hood-20260713-205628.yaml
  .changes/1.14.0/Under the Hood-20260713-220831.yaml
  .changes/1.14.0/Under the Hood-20260716-071956.yaml
  .changes/1.14.0/Under the Hood-20260721-203325.yaml
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Configurable application name for snowflake auth
  .changes/unreleased/Features-20260722-172953.yaml
  crates/dbt-auth/src/snowflake/mod.rs
Due: none

fix: preserve --empty flag when microbatch applies its batch-window filter
  crates/dbt-adapter/src/relation/relation_impl.rs
  crates/dbt-adapter/src/relation/relation_object.rs
Due: none

feat: add unit_tests to the Jinja graph context
  crates/dbt-jinja-utils/src/functions/base.rs
Due: none

fix: honor project segment for 3-part ADO private packages
  crates/dbt-deps/src/private_package.rs
Due: none

Implement selector selector method
  crates/dbt-common/src/node_selector.rs
  crates/dbt-deps/src/private_package.rs
  crates/dbt-main/src/partial_parse.rs
  crates/dbt-parser/src/resolve/resolve_selectors.rs
  crates/dbt-scheduler/src/node_selector.rs
  crates/dbt-scheduler/src/schedule.rs
  crates/dbt-schemas/src/schemas/selectors.rs
  crates/dbt-selector-parser/src/parser.rs
  crates/dbt-tasks-sa/src/compilation_pipeline.rs
Due: none

(dbt-auth): port redshift to IR based auth framework
  crates/dbt-auth/Cargo.toml
  crates/dbt-auth/src/redshift/mod.rs
  crates/dbt-auth/src/redshift/token_service.rs
Due: none

fix(redshift): honor is_serverless on the IR auth framework (dbt-core#14621)
  crates/dbt-auth/src/redshift/mod.rs
  crates/dbt-init/src/adapter_config/redshift_config.rs
  crates/dbt-schemas/src/schemas/profiles.rs
Due: none

Fix BigQuery integer partitions
  crates/dbt-adbc/drivers.toml
  crates/dbt-adbc/src/checksums.rs
  crates/dbt-adbc/src/lib.rs
  crates/dbt-schemas/src/schemas/manifest/bigquery_partition.rs
Due: none

feat(dbt-docs-server): add Docker self-host support
  crates/dbt-docs-server/Dockerfile
  crates/dbt-docs-server/README.md
  crates/dbt-docs-server/docker-compose.yml
Due: none

chore(state): Sync protobuf definitions with upstream `fivetran/query-cache@9a35e116`
  crates/dbt-state/build.rs
  crates/dbt-state/proto/query_cache_protobuf/query_cache/services/clone_service.proto
  crates/dbt-state/proto/query_cache_protobuf/query_cache/services/execution_service.proto
  crates/dbt-state/proto/query_cache_protobuf/query_cache/services/explain_service.proto
  crates/dbt-state/proto/query_cache_protobuf/query_cache/services/sql_service.proto
  crates/dbt-state/proto/query_cache_protobuf/query_cache/shared.proto
  crates/dbt-state/src/request_builder.rs
  crates/dbt-tasks-core/src/run_cache/run_cache_dev_clone.rs
  crates/dbt-tasks-core/src/run_cache/run_cache_service.rs
Due: none

chore: post-release 2.0.0-preview.203 (version bump + changelog)
  CHANGELOG-fusion.md
Due: none

fix: stub rediscover_adapter_macros in parse_with_fusion orchestration tests
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8

simplify: extract shared adapter patch helper in TestRediscoverAdapterMacros
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8

chore: add changelog entry for Fusion adapter macro rediscovery fix
  .changes/unreleased/Fixes-20260722-130412.yaml
Due: none

chore: apply black formatting to test_fusion.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8

fix: use project.project_name instead of mapping key in rediscover_adapter_macros
  core/dbt/parser/fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports
