Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

refactor(runnable): extract _skip_remaining_nodes from execute_with_hooks
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor(runnable): extract _maybe_fire_end_run_event and _write_run_results from run()
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor(runnable): replace inline lambdas in create_schemas with named helpers
  core/dbt/task/runnable.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test(runnable): add unit tests for extracted GraphRunnableTask helpers
  tests/unit/task/test_runnable.py
Due: isort, black, flake8

fix: bridge compile→materialization boundary for config.get_rendered
  core/dbt/compilation.py
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

refactor: split _process_derived_or_ratio_metric into two focused functions
  core/dbt/parser/metric_processor.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test: add missing negative cases for ratio metric and metric-not-found errors
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_parsing.py
Due: isort, black, flake8

test: add coverage for measure-not-found error in metric_processor
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_parsing.py
Due: isort, black, flake8

emit osi_document.json alongside semantic_manifest.json at parse time
  core/dbt/constants.py
  core/dbt/contracts/graph/semantic_manifest.py
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie doc
  .changes/unreleased/Features-20260513-171849.yaml
Due: none

guard write_osi_document_to_file against RuntimeError from MSIToOSIConverter
  core/dbt/contracts/graph/semantic_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

warn on OSI conversion issues during osi_document.json generation
  core/dbt/contracts/graph/semantic_manifest.py
  core/dbt/events/types.py
  core/pyproject.toml
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test: add snapshot unique_key error handling coverage
  tests/unit/task/test_snapshot.py
Due: isort, black, flake8

chore: sync JSON schemas from dbt-fusion (#12963)
  .changes/unreleased/Under the Hood-20260514-195334.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Add latest_version_view for versioned models (#12954)
  .changes/unreleased/Features-20260330-121843.yaml
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/contracts/project.py
  core/dbt/task/run.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/versions/test_latest_version_pointer.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260515-112741.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion (#12967)
  .changes/unreleased/Under the Hood-20260515-112741.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

update json schema
  schemas/dbt/manifest/v12.json
Due: none

fix: split intersection selectors in compile/show task_end_messages
  .changes/unreleased/Fixes-20260515-201500.yaml
  core/dbt/task/compile.py
  tests/unit/task/test_compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix TestVerifyArtifacts event count for osi_document writes
  tests/functional/artifacts/test_artifacts.py
Due: isort, black, flake8

Rename latest_version_view to latest_version_pointer
  .changes/unreleased/Fixes-20260515-233521.yaml
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/contracts/project.py
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
  core/dbt/task/run.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/versions/test_latest_version_pointer.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update changelog: use latest_version_pointer naming
  .changes/unreleased/Features-20260330-121843.yaml
  .changes/unreleased/Fixes-20260515-233521.yaml
Due: none

update manifest schema
  schemas/dbt/manifest/v12.json
Due: none

emit osi_document.json at parse time alongside semantic_manifest.json (#12955)
  .changes/unreleased/Features-20260513-171849.yaml
  core/dbt/constants.py
  core/dbt/contracts/graph/semantic_manifest.py
  core/dbt/events/types.py
  core/dbt/parser/manifest.py
  core/pyproject.toml
  tests/functional/artifacts/test_artifacts.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert jsonschemas changes — synced from dbt-fusion
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

add OSI directory parser (core/dbt/parser/osi.py)
  core/dbt/constants.py
  core/dbt/parser/osi.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

wire OSI directory parsing into ManifestLoader.load()
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add unit tests for dbt/parser/osi.py
  tests/unit/parser/test_osi.py
Due: isort, black, flake8

fix fmt
  tests/unit/task/test_compile.py
Due: isort, black, flake8

Add changie doc for OSI directory parsing feature
  .changes/unreleased/Features-20260515-145508.yaml
Due: none

add functional tests for OSI directory parsing
  tests/functional/semantic_models/test_osi_parsing.py
Due: isort, black, flake8

refactor load_osi_into_manifest to reduce cyclomatic complexity
  core/dbt/parser/manifest.py
  core/dbt/parser/osi.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Handle Reused node status in on-run-end summary
  .changes/unreleased/Fixes-20260515-120000.yaml
  .flake8
  core/dbt/events/types.py
  core/dbt/task/printer.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert .flake8 inline-comment cleanup
  .flake8
Due: none

Update issue number in Fixes YAML file
  .changes/unreleased/Fixes-20260515-120000.yaml
Due: none

support recursive OSI directory scanning
  core/dbt/parser/osi.py
  tests/unit/parser/test_osi.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix #12966: normalize source.database when profile has no database
  core/dbt/parser/sources.py
  tests/unit/parser/test_parser.py
  tests/unit/task/test_docs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie entry for #12966
  .changes/unreleased/Fixes-20260515-185149.yaml
Due: none

add OSI partial parsing support
  core/dbt/contracts/files.py
  core/dbt/parser/osi.py
  core/dbt/parser/partial.py
  core/dbt/parser/read_files.py
  tests/unit/parser/test_osi.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update test durations for pytest-split
  core/.test_durations
Due: none
