Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Fix unique_id prefix for --sql operations
  core/dbt/task/run_operation.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Allow continuing downstream models on model error (#12483)
  .changes/unreleased/Features-20260212-141041.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/task/runnable.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/run_on_error/fixtures.py
  tests/functional/run_on_error/test_model_on_error.py
  tests/functional/run_on_error/test_model_on_error_cross_project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feature: add support for git package version ranges
  core/dbt/clients/git.py
  core/dbt/contracts/project.py
  core/dbt/deps/git.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

feature: add support for git package version ranges
  tests/unit/config/test_project.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8

feature: add support for git package version ranges
  .changes/unreleased/Features-20260430-154005.yaml
Due: none

feature: add support for git package version ranges
  hatch.toml
Due: none

feature: add support for git package version ranges
  .changes/unreleased/Features-20260430-162240.yaml
  core/dbt/clients/git.py
  core/dbt/contracts/project.py
  core/dbt/deps/git.py
  tests/unit/config/test_project.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Allow sql and md extensions (#12470)
  .changes/unreleased/Features-20260211-034310.yaml
  core/dbt/contracts/project.py
  core/dbt/parser/read_files.py
  core/dbt/parser/search.py
  core/dbt/tests/fixtures/project.py
  tests/functional/compile/test_jinja_extensions.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

switch metricflow dependency from git to PyPI
  core/pyproject.toml
Due: none

Add changie doc
  .changes/unreleased/Dependencies-20260430-162835.yaml
Due: none

fixup! drop dbt-semantic-interfaces, migrate to metricflow-semantic-interfaces
  core/dbt/artifacts/resources/v1/semantic_model.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260430-225131.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260501-122055.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260501-134426.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

Drop dbt-semantic-interfaces, migrate to metricflow-semantic-interfaces (#12893)
  .changes/unreleased/Dependencies-20260430-162835.yaml
  core/dbt/artifacts/resources/v1/components.py
  core/dbt/artifacts/resources/v1/metric.py
  core/dbt/artifacts/resources/v1/saved_query.py
  core/dbt/artifacts/resources/v1/semantic_layer_components.py
  core/dbt/artifacts/resources/v1/semantic_model.py
  core/dbt/constants.py
  core/dbt/contracts/graph/metrics.py
  core/dbt/contracts/graph/semantic_manifest.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/common.py
  core/dbt/parser/manifest.py
  core/dbt/parser/schema_yaml_readers.py
  core/pyproject.toml
  tests/functional/metrics/test_metrics.py
  tests/functional/saved_queries/test_configs.py
  tests/functional/saved_queries/test_saved_query_parsing.py
  tests/functional/semantic_models/test_semantic_model_parsing.py
  tests/functional/semantic_models/test_semantic_model_v2_parsing.py
  tests/functional/time_spines/test_time_spines.py
  tests/unit/contracts/graph/test_manifest.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/contracts/graph/test_semantic_manifest.py
  tests/unit/contracts/graph/test_unparsed.py
  tests/unit/graph/test_nodes.py
  tests/unit/parser/test_v2_column_semantic_parsing.py
  tests/unit/test_semantic_layer_nodes_satisfy_protocols.py
  tests/unit/utils/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260501-195336.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

Update pathspec version constraint in pyproject.toml
  .changes/unreleased/Dependencies-20260502-045523.yaml
  core/pyproject.toml
Due: none

Update test durations for pytest-split
  core/.test_durations
Due: none

Update test durations for pytest-split (#12899)
  core/.test_durations
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260504-075740.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion (#12901)
  .changes/unreleased/Under the Hood-20260504-075740.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

Remove duplicate FunctionOverload from latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Remove leftover overloads property from FunctionProperties
  core/dbt/jsonschemas/resources/latest.json
Due: none

Support overloaded UDFs via overloads block (#12250) (#12871)
  .changes/unreleased/Features-20260423-160000.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/function.py
  core/dbt/artifacts/schemas/overload_results.py
  core/dbt/artifacts/schemas/run/v5/run.py
  core/dbt/compilation.py
  core/dbt/contracts/graph/manifest.py
  core/dbt/contracts/graph/nodes.py
  core/dbt/contracts/graph/unparsed.py
  core/dbt/parser/partial.py
  core/dbt/parser/schemas.py
  core/dbt/task/function.py
  core/dbt/task/retry.py
  core/dbt/task/run.py
  schemas/dbt/manifest/v12.json
  schemas/dbt/run-results/v6.json
  tests/functional/artifacts/expected_run_results.py
  tests/functional/functions/test_overloaded_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add `--sql` flag to `dbt run-operation` (#12823)
  .changes/unreleased/Features-20260413-120000.yaml
  core/dbt/cli/flags.py
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/clients/jinja_static.py
  core/dbt/task/run_operation.py
  tests/functional/run_operations/test_run_operations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260505-091342.yaml
  core/dbt/jsonschemas/project/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion (#12903)
  .changes/unreleased/Under the Hood-20260505-091342.yaml
  core/dbt/jsonschemas/project/latest.json
Due: none

Add SSH fallback for private packages
  core/dbt/deps/private_package.py
  tests/unit/deps/test_deps.py
  tests/unit/deps/test_private_package.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add tests for private package support
  tests/functional/dependencies/test_private_package.py
  tests/unit/deps/test_private_package.py
Due: isort, black, flake8

Add private package support to dbt-core
  core/dbt/cli/requires.py
  core/dbt/contracts/project.py
  core/dbt/deps/private_package.py
  core/dbt/deps/resolver.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add tests for SSH fallback
  tests/unit/deps/test_private_package.py
Due: isort, black, flake8

Add changelog entry for private package support
  .changes/unreleased/Features-20260504-150114.yaml
Due: none

Apply pre-commit formatting (isort, black, end-of-file)
  core/dbt/deps/private_package.py
  tests/unit/deps/test_private_package.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix case-sensitive ENGINE_ENV_PREFIX check on Windows
  core/dbt/env_vars.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Simplify: read DBT_ENV_PRIVATE_GIT_PROVIDER_INFO from os.environ directly
  core/dbt/cli/requires.py
  core/dbt/deps/private_package.py
  core/dbt/env_vars.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert "Flip old behaviour flags (#12848)"
  .changes/unreleased/Breaking Changes-20260428-085419.yaml
  core/dbt/contracts/project.py
  core/dbt/parser/macros.py
  core/dbt/parser/schemas.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/configs/test_configs_in_schema_files.py
  tests/functional/defer_state/test_modified_state.py
  tests/functional/macros/test_macro_annotations.py
  tests/functional/metrics/fixtures.py
  tests/functional/metrics/test_metric_configs.py
  tests/functional/metrics/test_metrics.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bump libpq-dev to 13.23-0+deb11u3
  .changes/unreleased/Dependencies-20260506-120000.yaml
  docker/Dockerfile
Due: none

Bump libpq-dev to 13.23-0+deb11u3 (#12906)
  .changes/unreleased/Dependencies-20260506-120000.yaml
  docker/Dockerfile
Due: none
