Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

Add link to our contributing guide `CONTRIBUTING.md`
  AGENTS.md
Due: none

Add context about signing commits
  AGENTS.md
Due: none

chore: add changie entry for #12649
  .changes/unreleased/Fixes-20260321-215500.yaml
Due: none

fix: improve error message when version key is missing from packages.yml
  core/dbt/contracts/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add tests asserting the packages are specifiable for python UDFs (#12633)
  tests/functional/conftest.py
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8

fix wording
  .github/workflows/update-test-durations.yml
Due: none

Update test durations for pytest-split
  core/.test_durations
Due: none

tweaks
  .github/workflows/update-test-durations.yml
Due: none

Add an AGENTS.md file to the project (#12630)
  AGENTS.md
Due: none

Write compiled SQL for snapshots during dbt compile (#12568)
  .changes/unreleased/Features-20260302-123311.yaml
  core/dbt/compilation.py
  core/dbt/parser/schemas.py
  core/dbt/parser/snapshots.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/snapshots/test_basic_snapshot.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: avoid false positive AmbiguousCatalogMatchError for case-only differences
  core/dbt/task/docs/generate.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update workflow actions versions
  .github/workflows/update-test-durations.yml
Due: none

Update test duration workflow actions
  .github/workflows/update-test-durations.yml
Due: none

Configure build bot signed test duration PRs
  .github/workflows/update-test-durations.yml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260311-175433.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

Use dbtlabs build bot email for signed PRs
  .github/workflows/update-test-durations.yml
Due: none

Fix list-type metric filters under models key rendered at parse time
  .changes/unreleased/Fixes-20260310-120000.yaml
  core/dbt/parser/schema_renderer.py
  tests/unit/parser/test_schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Tighten metric filter check to use positional keypath matching
  core/dbt/parser/schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog: add entry for #11776 case-sensitivity fix
  .changes/unreleased/Fixes-20260311-163500.yaml
Due: none

feat: add docs config for sources
  core/dbt/artifacts/resources/v1/source_definition.py
  core/dbt/task/docs/generate.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog: add entry for #12023 source docs feature
  .changes/unreleased/Features-20260311-214200.yaml
Due: none

feat: add docs config for sources
  .changes/unreleased/Features-20260311-215100.yaml
  core/dbt/artifacts/resources/v1/source_definition.py
  core/dbt/task/docs/generate.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix list-type metric filters under models key rendered at parse time (#12634)
  .changes/unreleased/Fixes-20260310-120000.yaml
  core/dbt/parser/schema_renderer.py
  tests/unit/parser/test_schema_renderer.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

raise and catch DbtSelectorsError instead of DbtRuntimeError
  core/dbt/graph/selector_methods.py
  tests/functional/selectors/test_selector_selector_method.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update test duration workflow automation
  .github/workflows/update-test-durations.yml
Due: none

Fix create pull request action pin
  .github/workflows/update-test-durations.yml
Due: none

use pr channel
  .github/workflows/update-test-durations.yml
Due: none

Update test durations for pytest-split (#12642)
  core/.test_durations
Due: none

Use PR when updating test durations (#12631)
  .github/workflows/update-test-durations.yml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260312-184339.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

Fix validation check for package version
  core/dbt/contracts/project.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Support .jinja, .jinja2, .j2 file extensions for docs
  core/dbt/parser/read_files.py
  tests/unit/parser/test_docs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add cli flag warnings
  core/dbt/cli/flags.py
  core/dbt/events/types.py
  tests/functional/selectors/test_selector_selector_method.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update hatch.toml
  core/hatch.toml
Due: none

first pass: dbtRunnerFs
  core/dbt/artifacts/resources/v1/config.py
  core/dbt/cli/dbt_runner_fs.py
  core/dbt/tests/fixtures/project.py
  tests/functional/dbt_runner/test_dbt_runner_fs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changelog entry for jinja docs extensions feature
  .changes/unreleased/Features-20260314-000353.yaml
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
