Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

.pre-commit-config.yaml:

# Configuration for pre-commit hooks (see https://pre-commit.com/).
# Eventually the hooks described here will be run as tests before merging each PR.

exclude: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)

# Force all unspecified python hooks to run python 3.10
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: schemas/dbt/manifest/
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: check-case-conflict
  # local hooks are used to run the hooks in the local environment instead of a pre-commit isolated one.
  # This ensures that the hooks are run with the same version of the dependencies as the local environment
  # without having to manually keeo them in sync.
  - repo: local
    hooks:
      # Formatter/linter/type-checker pins live in the pyproject.dev optional dependency.
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: black-check
        name: black-check
        entry: python -m black
        args:
          - "--check"
          - "--diff"
        language: system
        stages: [manual]
        types: [python]
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
      - id: flake8-check
        name: flake8-check
        entry: python -m flake8
        language: system
        stages: [manual]
        types: [python]
      # N.B.: Mypy is... a bit fragile.
      #
      # By using `language: system` we run this hook in the local
      # environment instead of a pre-commit isolated one.  This is needed
      # to ensure mypy correctly parses the project.
      #
      # It may cause trouble
      # in that it adds environmental variables out of our control to the
      # mix.  Unfortunately, there's nothing we can do about per pre-commit's
      # author.
      # See https://github.com/pre-commit/pre-commit/issues/730 for details.
      - id: mypy
        name: mypy
        entry: python -m mypy
        args: [--show-error-codes]
        files: ^core/dbt/
        language: system
        types: [python]
      - id: mypy-check
        name: mypy-check
        entry: python -m mypy
        args: [--show-error-codes, --pretty]
        files: ^core/dbt/
        language: system
        stages: [manual]
        types: [python]
      - id: no_versioned_artifact_resource_imports
        name: no_versioned_artifact_resource_imports
        entry: python custom-hooks/no_versioned_artifact_resource_imports.py
        language: system
        files: ^core/dbt/
        types: [python]
        pass_filenames: true

Bumping version to 1.11.9 and generate changelog
  .changes/1.11.9.md
  .changes/unreleased/Dependencies-20260409-120000.yaml
  .changes/unreleased/Dependencies-20260506-120000.yaml
  .changes/unreleased/Fixes-20260219-120000.yaml
  .changes/unreleased/Fixes-20260304-140229.yaml
  .changes/unreleased/Under the Hood-20260318-120715.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert "Flip old behaviour flags (#12848)" (#12905)
  .changes/unreleased/Breaking Changes-20260428-085419.yaml
  core/dbt/contracts/project.py
  core/dbt/parser/macros.py
  core/dbt/parser/schemas.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/configs/test_configs_in_schema_files.py
  tests/functional/defer_state/test_modified_state.py
  tests/functional/macros/test_macro_annotations.py
  tests/functional/metrics/fixtures.py
  tests/functional/metrics/test_metric_configs.py
  tests/functional/metrics/test_metrics.py
  tests/unit/parser/test_parser.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260506-182341.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

Remove unused get_invocation_context import
  core/dbt/deps/private_package.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260506-231937.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

Remove V2CatalogType and V2TableFormat enums; use plain strings
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/catalog.py
  core/dbt/config/catalogs.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Restore V2TableFormat enum; only V2CatalogType was removed
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/catalog.py
  core/dbt/config/catalogs.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#12910)
  .changes/unreleased/Under the Hood-20260506-231937.yaml
  core/dbt/jsonschemas/resources/latest.json
Due: none

Allow unknown catalog types without core PRs
  core/dbt/config/catalogs.py
  tests/functional/catalogs/test_catalogs_v2_parsing.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove validate_v2_catalog_for_platform and type-specific validation dicts
  core/dbt/cli/requires.py
  core/dbt/config/catalogs.py
  tests/functional/catalogs/test_catalogs_v2_parsing.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

pin metricflow to main
  core/pyproject.toml
Due: none

fix: use tuple membership check instead of substring match in selection_arg (#12562)
  .changes/unreleased/Fixes-20260228-153039.yaml
  core/dbt/task/compile.py
  core/dbt/task/show.py
  tests/functional/show/fixtures.py
  tests/functional/show/test_show.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore(v2): reserve dbt-kernel PyPI name with placeholder package
  LICENSE
  README.md
  pyproject.toml
  src/dbt_kernel/__init__.py
  src/dbt_kernel/__main__.py
Due: isort, black, flake8

ci(v2): add tag-triggered PyPI publish workflow for dbt-kernel
  .github/workflows/pypi-publish-dbt-kernel.yml
Due: none

pin remaining deps temporarily
  core/hatch.toml
  core/pyproject.toml
Due: none

test(context): cover load_result parse-phase warning with EventCatcher
  tests/functional/load_result/test_parse_phase_warning.py
Due: isort, black, flake8

temporarily pin dbt-adapters to branch for dbt-postgres testing
  core/pyproject.toml
Due: none

Add v2 catalog type/table_format/platform support validation
  core/dbt/config/catalogs.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

undo code quality tool bumps and add long path fix for windows ci
  .github/workflows/main.yml
  core/hatch.toml
Due: none

fixed changelog
  .changes/unreleased/Features-20260507-190705.yaml
  .changes/unreleased/Under the Hood-20260413-205436.yaml
Due: none

Remove `version` from starter project's dbt_project.yml
  .changes/unreleased/Under the Hood-20260507-120000.yaml
  core/dbt/include/starter_project/dbt_project.yml
Due: none

Update test_init.py expected strings to match new starter template
  tests/functional/init/test_init.py
Due: isort, black, flake8

address reviewer comments: prompt injection warning and model ID variable
  .github/workflows/docs-issue.yml
Due: none

unpin adapters
  core/hatch.toml
  core/pyproject.toml
Due: none

Add Reused status to NodeStatus and RunStatus
  .changes/unreleased/Features-20260507-115522.yaml
  core/dbt/artifacts/schemas/results.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Clarify feature entry for `Reused` in statuses
  .changes/unreleased/Features-20260507-115522.yaml
Due: none

Add latest_version_view_enabled_by_default flag and remove safety guard
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/contracts/project.py
  core/dbt/task/run.py
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/versions/test_latest_version_pointer.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update changelog entry
  .changes/unreleased/Features-20260330-121843.yaml
Due: none

Remove .claude/scheduled_tasks.lock from tracking
  .claude/scheduled_tasks.lock
Due: none

Fix functional tests: add enabled flag and correct project-level disable test
  tests/functional/versions/test_latest_version_pointer.py
Due: isort, black, flake8

Fix test_ls: latest_version_view serializes with null fields when omit_none=False
  tests/functional/list/test_list.py
Due: isort, black, flake8

Fix expected_manifest: latest_version_view serializes with null fields (omit_none=False)
  core/dbt/task/run.py
  tests/functional/artifacts/expected_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Pass custom_alias_name through generate_latest_version_view_alias macro
  core/dbt/task/run.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add per-overload start/result log events for overloaded UDFs
  .changes/unreleased/Features-20260508-161204.yaml
  core/dbt/events/types.py
  core/dbt/task/function.py
  core/pyproject.toml
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add sample_values for LogStartOverload + LogOverloadResult in test_events
  tests/unit/test_events.py
Due: isort, black, flake8

Update Features-20260507-115522.yaml
  .changes/unreleased/Features-20260507-115522.yaml
Due: none

Add Reused status to NodeStatus and RunStatus (#12912)
  .changes/unreleased/Features-20260507-115522.yaml
  core/dbt/artifacts/schemas/results.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260508-212832.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260508-224552.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

changelog: add changie entry for #11013
  .changes/unreleased/Under-the-Hood-20260509-150001.yaml
Due: none
