Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

Set explicit level on V2ParserEnd fire (INFO on success, ERROR on failure)
  core/dbt/parser/fusion.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Remove FusionParserMissingError, raise FusionParserError instead
  core/dbt/exceptions.py
  core/dbt/parser/fusion.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix --manage-state being silently overridden by DBT_ENGINE_MANAGE_STATE=false in the plugin (#13039)
  .changes/unreleased/Fixes-20260527-233000.yaml
  core/dbt/plugins/manager.py
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#13051)
  .changes/unreleased/Under the Hood-20260529-024255.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Implement dbt Login Command (#13020)
  .changes/unreleased/Features-20260527-222711.yaml
  core/dbt/auth/__init__.py
  core/dbt/auth/chain.py
  core/dbt/auth/credentials.py
  core/dbt/auth/oauth/__init__.py
  core/dbt/auth/oauth/callback_server.py
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/oauth/state.py
  core/dbt/auth/resolvers.py
  core/dbt/auth/secure_file.py
  core/dbt/auth/session_cache.py
  core/dbt/cli/flags.py
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/cli/types.py
  core/dbt/config/user_settings.py
  core/dbt/exceptions.py
  core/dbt/task/login.py
  tests/functional/auth/__init__.py
  tests/functional/auth/conftest.py
  tests/functional/auth/test_login.py
  tests/functional/auth/test_login_status.py
  tests/functional/cli/test_requires.py
  tests/functional/list/test_commands.py
  tests/unit/auth/__init__.py
  tests/unit/auth/test_chain.py
  tests/unit/auth/test_credentials.py
  tests/unit/auth/test_login_flow.py
  tests/unit/auth/test_resolvers.py
  tests/unit/auth/test_secure_file.py
  tests/unit/auth/test_session_cache.py
  tests/unit/cli/test_flags.py
  tests/unit/task/test_retry.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add --use-v2-parser to delegate parsing to the fusion parser (#13029)
  .changes/unreleased/Features-20260526-225012.yaml
  core/dbt/artifacts/resources/v1/singular_test.py
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/cli/requires.py
  core/dbt/contracts/project.py
  core/dbt/exceptions.py
  core/dbt/parser/fusion.py
  core/dbt/parser/manifest.py
  core/dbt/tests/util.py
  core/pyproject.toml
  tests/conftest.py
  tests/functional/basic/test_basic.py
  tests/functional/basic/test_invalid_reference.py
  tests/functional/basic/test_jaffle_shop.py
  tests/functional/basic/test_mixed_case_db.py
  tests/functional/basic/test_project.py
  tests/functional/basic/test_simple_reference.py
  tests/functional/basic/test_varchar_widening.py
  tests/functional/cli/test_requires.py
  tests/functional/compile/test_compile.py
  tests/functional/fusion_parser/__init__.py
  tests/functional/fusion_parser/test_fusion_parser_branch.py
  tests/functional/v2_parser_parity/README.md
  tests/functional/v2_parser_parity/__init__.py
  tests/functional/v2_parser_parity/plugin.py
  tests/functional/v2_parser_parity/v2_self_parser.py
  tests/unit/artifacts/test_test_node_discrimination.py
  tests/unit/cli/test_flags.py
  tests/unit/cli/test_setup_manifest.py
  tests/unit/parser/test_fusion.py
  tests/unit/parser/test_fusion_plugin_enrichment.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Defensively cap recursion limit while resolving `selector:` references (#13024)
  .changes/unreleased/Fixes-20260525-225000.yaml
  core/dbt/graph/selector_methods.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#13016)
  .changes/unreleased/Under the Hood-20260523-015747.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Update test durations for pytest-split (#12974)
  core/.test_durations
Due: none

Allow-list DBT_ENGINE_STATE_EMIT_REUSED_STATUS and DBT_ENGINE_STATE_OAUTH_CLIENT_ID (#13002)
  .changes/unreleased/Under the Hood-20260521-120000.yaml
  core/dbt/env_vars.py
  tests/functional/cli/test_requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion (#13038)
  .changes/unreleased/Under the Hood-20260527-215214.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Bundle dbt-state as an install dependency of dbt-core (opt-in via --manage-state / DBT_ENGINE_MANAGE_STATE / manage_state) (#13014)
  .changes/unreleased/Features-20260525-214500.yaml
  core/dbt/cli/main.py
  core/dbt/cli/params.py
  core/dbt/contracts/project.py
  core/dbt/plugins/manager.py
  core/pyproject.toml
  tests/functional/cli/test_requires.py
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

ci: add workflow to fast-forward 1.latest from main (#13021)
  .github/workflows/sync-1-latest.yml
Due: none

add dbt login fixes for post login flow (#13056)
  .changes/unreleased/Fixes-20260529-210815.yaml
  core/dbt/auth/oauth/platform.py
  core/dbt/auth/oauth/state.py
  core/dbt/auth/resolvers.py
  core/dbt/config/user_settings.py
  tests/functional/auth/test_login.py
  tests/unit/auth/test_login_flow.py
  tests/unit/plugins/test_manager.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

allow skipping ddtrace in pytest if dd api key secret is missing ( eg. forked prs )
  .github/workflows/main.yml
Due: none

allow skipping ddtrace in pytest if dd api key secret is missing ( eg. forked prs ) (#13060)
  .github/workflows/main.yml
Due: none

noop change for fork pr integration test
  pytest.ini
Due: none

Add v2-parser telemetry (invocation correlation + start/end events) (#13044)
  .changes/unreleased/Under the Hood-20260527-142247.yaml
  core/dbt/events/types.py
  core/dbt/exceptions.py
  core/dbt/parser/fusion.py
  core/pyproject.toml
  tests/unit/parser/test_fusion.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Strip core-only DBT_ENGINE_* env vars from v2 parser subprocess; expand ~ in --v2-parser
  .changes/unreleased/Fixes-20260529-120000.yaml
  core/dbt/parser/fusion.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Strip core-only DBT_ENGINE_* env vars from v2 parser subprocess; expand ~ in --v2-parser (#13058)
  .changes/unreleased/Fixes-20260529-120000.yaml
  core/dbt/parser/fusion.py
  tests/unit/parser/test_fusion.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update test durations for pytest-split
  core/.test_durations
Due: none

Update test durations for pytest-split (#13064)
  core/.test_durations
Due: none

ci: point workflows at 1.latest ahead of main cutover
  .changes/unreleased/Under the Hood-20260531-100800.yaml
  .github/workflows/check-artifact-changes.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release-branch-tests.yml
  .github/workflows/schema-check.yml
  .github/workflows/test-repeater.yml
  .github/workflows/update-test-durations.yml
Due: none

Update Under the Hood-20260531-100800.yaml
  .changes/unreleased/Under the Hood-20260531-100800.yaml
Due: none

ci: point workflows at 1.latest ahead of main cutover (#13065)
  .changes/unreleased/Under the Hood-20260531-100800.yaml
  .github/workflows/check-artifact-changes.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release-branch-tests.yml
  .github/workflows/schema-check.yml
  .github/workflows/test-repeater.yml
  .github/workflows/update-test-durations.yml
Due: none

Test deferral to UDF with config alias
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_defer_state.py
Due: isort, black, flake8

Test deferral to UDF affected by generate_alias_name
  tests/functional/defer_state/fixtures.py
  tests/functional/defer_state/test_defer_state.py
Due: isort, black, flake8

Bugfix: use alias when deferring to aliased udfs
  core/dbt/artifacts/resources/v1/function.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Changelog
  .changes/unreleased/Fixes-20260525-143801.yaml
Due: none

Apply suggested fix for consistency of fixture code style
  tests/functional/defer_state/fixtures.py
Due: isort, black, flake8

Reduce repetition of function deferral test code
  tests/functional/defer_state/test_defer_state.py
Due: isort, black, flake8

Consistency in function deferral test assertion style
  tests/functional/defer_state/test_defer_state.py
Due: isort, black, flake8

Core v2 release workflow
  .github/actions/macos-sign/action.yml
  .github/actions/macos-sign/disable-library-validation.entitlements
  .github/actions/windows-sign/action.yml
  .github/workflows/release-v2.yml
Due: none

enable dbt-core block, fix ci
  .github/actions/windows-sign/action.yml
  .github/workflows/release-v2.yml
Due: none

ci: retire Python-only workflows from main and retarget release automation at 1.latest
  .github/workflows/backport.yml
  .github/workflows/bot-changelog.yml
  .github/workflows/changelog-existence.yml
  .github/workflows/check-artifact-changes.yml
  .github/workflows/cut-release-branch.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/sync-1-latest.yml
  .github/workflows/update-test-durations.yml
Due: none

ci: harden release-from-main guard and fix changelog comment typo
  .github/workflows/cut-release-branch.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
