Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

Fix concurrent batches deadlock (#12335)
  .changes/unreleased/Fixes-20260109-141332.yaml
  core/dbt/graph/queue.py
  core/dbt/graph/thread_pool.py
  core/dbt/task/run.py
  core/dbt/task/runnable.py
  tests/functional/microbatch/test_microbatch.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update manifest.py
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

first pas - normalize whitespace when loading model and seed files
  core/dbt/parser/read_files.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Update test_manifest.py
  tests/unit/parser/test_manifest.py
Due: isort, black, flake8

add partial parsing test
  tests/functional/partial_parsing/fixtures.py
  tests/functional/partial_parsing/test_partial_parsing.py
Due: isort, black, flake8

take two: compact whitespace instead of remove
  core/dbt/parser/read_files.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bump minimum DSI version to 0.10.2
  .changes/unreleased/Dependencies-20260113-135442.yaml
  core/pyproject.toml
Due: none

Add `TimeDimensionsRequireGranularityDeprecation` event and deprecation classes
  core/dbt/deprecations.py
  core/dbt/events/types.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bump dbt-protos minimum to 1.0.418
  .changes/unreleased/Dependencies-20260113-143057.yaml
  core/pyproject.toml
Due: none

Add `GenericSemanticLayerDeprecation` event and deprecation classes
  core/dbt/deprecations.py
  core/dbt/events/types.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Begin handling semantic validation `FutureError`s as deprecations
  core/dbt/contracts/graph/semantic_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add test that checks for handing of `TimeDimensionsRequireGranularityDeprecation`
  tests/unit/contracts/graph/test_semantic_manifest.py
Due: isort, black, flake8

Add changie doc
  .changes/unreleased/Fixes-20260113-161742.yaml
Due: none

avoid raising debug log when generate_schema_name returns null for export
  core/dbt/parser/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

bump dbt-protos
  core/pyproject.toml
Due: none

add deprecations
  core/dbt/deprecations.py
  core/dbt/events/types.py
  core/dbt/parser/base.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add behavior flag
  core/dbt/contracts/project.py
  core/dbt/parser/base.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix TestEnvironmentVariableNamespaceDeprecation
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8

changelog entry
  .changes/unreleased/Features-20260115-131115.yaml
Due: none

add deprecation test
  core/dbt/events/types.py
  core/dbt/parser/base.py
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add functional testing on parse error
  tests/functional/custom_schemas/test_custom_schemas.py
Due: isort, black, flake8

initial outline
  docs/arch/1_Overview.md
  docs/arch/2_CLI.md
  docs/arch/3.1_Partial_Parsing.md
  docs/arch/3_Parsing.md
  docs/arch/4.1_Task_Framework.md
  docs/arch/4.2_Graph_Compilation.md
  docs/arch/4.3_Node_Selection.md
  docs/arch/4.4_Node_Compilation.md
  docs/arch/4.5_Node_Materialization.md
  docs/arch/4_Execution.md
  docs/arch/5.10_dbt_show.md
  docs/arch/5.1_dbt_run.md
  docs/arch/5.2_dbt_build.md
  docs/arch/5.3_dbt_seed.md
  docs/arch/5.4_dbt_snapshot.md
  docs/arch/5.5_dbt_test.md
  docs/arch/5.6_dbt_show.md
  docs/arch/5.7_dbt_deps.md
  docs/arch/5.8_dbt_docs.md
  docs/arch/5.9_dbt_clean.md
  docs/arch/5_Commands.md
  docs/arch/6_Artifacts.md
Due: none

rename versioning
  docs/arch/7_Versioning_Branching_Strategy.md
Due: none

populate CLI documentation
  core/dbt/cli/README.md
  docs/arch/2_CLI.md
Due: none

add parsing documentation
  docs/arch/3.1_Partial_Parsing.md
  docs/arch/3_Parsing.md
Due: none

add execution docs
  docs/arch/4.1_Task_Framework.md
  docs/arch/4.2_Graph_Compilation.md
  docs/arch/4.3_Node_Selection.md
  docs/arch/4.4_Node_Compilation.md
  docs/arch/4.5_Node_Materialization.md
  docs/arch/4_Execution.md
Due: none

add adapter doc
  docs/arch/5.10_dbt_show.md
  docs/arch/5.1_dbt_run.md
  docs/arch/5.2_dbt_build.md
  docs/arch/5.3_dbt_seed.md
  docs/arch/5.4_dbt_snapshot.md
  docs/arch/5.5_dbt_test.md
  docs/arch/5.6_dbt_show.md
  docs/arch/5.7_dbt_deps.md
  docs/arch/5.8_dbt_docs.md
  docs/arch/5.9_dbt_clean.md
  docs/arch/5_Adapter.md
  docs/arch/5_Commands.md
  docs/arch/6.10_dbt_compile.md
  docs/arch/6.11_dbt_debug.md
  docs/arch/6.12_dbt_init.md
  docs/arch/6.13_dbt_list.md
  docs/arch/6.14_dbt_parse.md
  docs/arch/6.15_dbt_retry.md
  docs/arch/6.16_dbt_clone.md
  docs/arch/6.17_dbt_run-operation.md
  docs/arch/6.18_dbt_source.md
  docs/arch/6.1_dbt_run.md
  docs/arch/6.2_dbt_build.md
  docs/arch/6.3_dbt_seed.md
  docs/arch/6.4_dbt_snapshot.md
  docs/arch/6.5_dbt_test.md
  docs/arch/6.6_dbt_show.md
  docs/arch/6.7_dbt_deps.md
  docs/arch/6.8_dbt_docs.md
  docs/arch/6.9_dbt_clean.md
  docs/arch/6_Artifacts.md
  docs/arch/6_Commands.md
  docs/arch/7_Artifacts.md
  docs/arch/8_Versioning_Branching_Strategy.md
Due: none

add deferral documentation
  docs/arch/3.2_Deferral.md
  docs/arch/4.4_Node_Compilation.md
Due: none

add command docs, move artifact docs
  core/dbt/artifacts/README.md
  docs/arch/6.10_dbt_compile.md
  docs/arch/6.10_dbt_source.md
  docs/arch/6.11_dbt_debug.md
  docs/arch/6.11_dbt_run-operation.md
  docs/arch/6.12_dbt_init.md
  docs/arch/6.13_dbt_list.md
  docs/arch/6.14_dbt_parse.md
  docs/arch/6.15_dbt_retry.md
  docs/arch/6.16_dbt_clone.md
  docs/arch/6.17_dbt_debug.md
  docs/arch/6.17_dbt_run-operation.md
  docs/arch/6.18_dbt_clean.md
  docs/arch/6.18_dbt_source.md
  docs/arch/6.1_dbt_run.md
  docs/arch/6.2_dbt_build.md
  docs/arch/6.3_dbt_seed.md
  docs/arch/6.4_dbt_snapshot.md
  docs/arch/6.5_dbt_test.md
  docs/arch/6.6_dbt_show.md
  docs/arch/6.7_dbt_deps.md
  docs/arch/6.8_dbt_docs.md
  docs/arch/6.9_dbt_clean.md
  docs/arch/6.9_dbt_compile.md
  docs/arch/6_Commands.md
  docs/arch/7_Artifacts.md
Due: none

reorder command docs
  docs/arch/6.10_dbt_compile.md
  docs/arch/6.11_dbt_source.md
  docs/arch/6.12_dbt_run-operation.md
  docs/arch/6.13_dbt_init.md
  docs/arch/6.14_dbt_list.md
  docs/arch/6.1_dbt_parse.md
  docs/arch/6.2_dbt_run.md
  docs/arch/6.3_dbt_build.md
  docs/arch/6.4_dbt_seed.md
  docs/arch/6.5_dbt_snapshot.md
  docs/arch/6.6_dbt_test.md
  docs/arch/6.7_dbt_show.md
  docs/arch/6.8_dbt_deps.md
  docs/arch/6.9_dbt_docs.md
  docs/arch/6_Commands.md
Due: none

feat: fix attached_node and add test
  core/dbt/parser/schema_generic_tests.py
  tests/functional/duplicates/test_duplicate_model.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test pr"
  README.md
Due: none

test
  README.md
Due: none

Add type=click.BOOL for all flag options
  core/dbt/cli/params.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog
  .changes/unreleased/Fixes-20260118-182709.yaml
Due: none

modified workflow branch to test new changes and ensure backward compatibility
  .github/workflows/release-branch-tests.yml
Due: none

fix pr
  README.md
Due: none

add silly comment
  README.md
Due: none

QOL improvement for running hatch in wrong dir
  hatch.toml
Due: none

clean up hatch configs
  .isort.cfg
  .pre-commit-config.yaml
  core/hatch.toml
  pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
