Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

Bumping version to 1.12.0b1.post20260517 and generate changelog
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix #12975: fail parse when generic tests reference missing nodes
  .changes/unreleased/Fixes-20260517-115903.yaml
  core/dbt/parser/manifest.py
  tests/functional/schema_tests/test_invalid_generic_test_ref.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: strip unknown keys from DependsOn during deserialization
  .changes/unreleased/Fixes-20260517-depends-on-fusion-extra-keys.yaml
  core/dbt/artifacts/resources/v1/components.py
  tests/unit/artifacts/test_depends_on.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

test: add functional test for intersection state selector in compile
  tests/functional/compile/test_compile.py
Due: isort, black, flake8

Revert "fix: resolve --select via selector API in show/compile task_end_messa…"
  core/dbt/task/compile.py
  core/dbt/task/show.py
  tests/functional/compile/test_compile.py
  tests/functional/show/test_show.py
  tests/unit/task/test_compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert "fix: resolve --select via selector API in show/compile task_end_messa…" (#12978)
  core/dbt/task/compile.py
  core/dbt/task/show.py
  tests/functional/compile/test_compile.py
  tests/functional/show/test_show.py
  tests/unit/task/test_compile.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert "fix: use tuple membership check instead of substring match in selecti…"
  core/dbt/task/compile.py
  core/dbt/task/show.py
  tests/functional/show/fixtures.py
  tests/functional/show/test_show.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert "fix: use tuple membership check instead of substring match in selecti…" (#12979)
  core/dbt/task/compile.py
  core/dbt/task/show.py
  tests/functional/show/fixtures.py
  tests/functional/show/test_show.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Rename latest_version_view to latest_version_pointer (#12970)
  .changes/unreleased/Features-20260330-121843.yaml
  core/dbt/artifacts/resources/v1/model.py
  core/dbt/contracts/project.py
  core/dbt/task/run.py
  schemas/dbt/manifest/v12.json
  tests/functional/artifacts/expected_manifest.py
  tests/functional/list/test_list.py
  tests/functional/versions/test_latest_version_pointer.py
  tests/unit/contracts/graph/test_nodes.py
  tests/unit/contracts/graph/test_nodes_parsed.py
  tests/unit/task/test_run.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260518-112144.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion (#12980)
  .changes/unreleased/Under the Hood-20260518-112144.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

Fix double adapter registration in v2 path; defer bridge call after parse_manifest
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

change warn msg to warn level
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Validate catalogs.yml root is a mapping before accessing keys
  core/dbt/config/catalogs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Raise clean error when Capability.CatalogsV2 absent on old dbt-adapters
  core/dbt/cli/requires.py
  tests/functional/catalogs/test_catalogs_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bridge v2 catalogs before parse_manifest so integrations are available during manifest loading
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Reduce cyclomatic complexity flagged by CodeScene
  core/dbt/cli/requires.py
  core/dbt/config/catalogs.py
  tests/functional/catalogs/test_catalogs_v2_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Native private packages in `packages.yml` and `dependencies.yml` (#12902)
  .changes/unreleased/Features-20260504-150114.yaml
  core/dbt/contracts/project.py
  core/dbt/deps/private_package.py
  core/dbt/deps/resolver.py
  tests/functional/dependencies/test_private_package.py
  tests/unit/deps/test_deps.py
  tests/unit/deps/test_private_package.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Handle Reused node status in on-run-end summary (#12972)
  .changes/unreleased/Fixes-20260515-120000.yaml
  core/dbt/events/types.py
  core/dbt/task/printer.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix typo in write_osi_document_to_file method call
  .changes/unreleased/Fixes-20260518-120000.yaml
  core/dbt/contracts/graph/semantic_manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: annotate PARAM_TYPE_MAP to satisfy mypy with click 8.4.0
  .changes/unreleased/Under the Hood-20260518-160000.yaml
  core/dbt/docs/source/_ext/dbt_click.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix: annotate PARAM_TYPE_MAP to satisfy mypy with click 8.4.0 (#12982)
  .changes/unreleased/Under the Hood-20260518-160000.yaml
  core/dbt/docs/source/_ext/dbt_click.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fic review comments
  core/dbt/cli/requires.py
  core/dbt/config/catalogs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fix test regex patterns to match actual validation error messages
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8

Fix functional test regex pattern to match actual validation error message
  tests/functional/catalogs/test_catalogs_v2_parsing.py
Due: isort, black, flake8

added a todo
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add snapshot unique_key hint for duplicate row errors
  .changes/unreleased/Fixes-20260518-075256.yaml
  core/dbt/task/snapshot.py
  tests/unit/task/test_snapshot.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260519-062254.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

feat: catalogs.yml v2 with adapter-owned bridge architecture (#12930)
  .changes/unreleased/Features-20260511-102556.yaml
  core/dbt/artifacts/resources/__init__.py
  core/dbt/artifacts/resources/v1/catalog.py
  core/dbt/cli/requires.py
  core/dbt/config/catalogs.py
  core/dbt/contracts/project.py
  tests/functional/catalogs/test_catalogs_v2_parsing.py
  tests/unit/config/test_catalogs_v2.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

deps: bump dbt-adapters lower bound to 1.24.1
  core/pyproject.toml
Due: none

add changelog
  .changes/unreleased/Dependencies-20260519-125430.yaml
Due: none

deps: bump dbt-adapters lower bound to 1.24.1 (#12985)
  .changes/unreleased/Dependencies-20260519-125430.yaml
  core/pyproject.toml
Due: none

deps: restore dbt-adapters upper bound to <2.0 for 1.10.x line
  .changes/unreleased/Dependencies-20260519-214655.yaml
  core/setup.py
Due: isort, black, flake8

deps: restore dbt-adapters upper bound to <2.0 for 1.11.x line
  .changes/unreleased/Dependencies-20260519-214743.yaml
  core/pyproject.toml
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260519-173327.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

chore: sync JSON schemas from dbt-fusion
  .changes/unreleased/Under the Hood-20260519-220628.yaml
  core/dbt/jsonschemas/project/latest.json
  core/dbt/jsonschemas/resources/latest.json
Due: none

fix: narrow AnySourceFile union so mypy excludes OsiSourceFile from .nodes access
  core/dbt/contracts/graph/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Parse OSI semantic layer documents from OSI/ directory into the manifest (#12971)
  .changes/unreleased/Features-20260515-145508.yaml
  core/dbt/constants.py
  core/dbt/contracts/files.py
  core/dbt/contracts/graph/manifest.py
  core/dbt/parser/manifest.py
  core/dbt/parser/osi.py
  core/dbt/parser/partial.py
  core/dbt/parser/read_files.py
  tests/functional/semantic_models/test_osi_parsing.py
  tests/unit/parser/test_osi.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

ensure that jsonschema validation is skipped when adapter_type is not available
  core/dbt/jsonschemas/jsonschemas.py
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
