Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

fix unit test
  tests/unit/contracts/graph/test_manifest.py
Due: isort, black, flake8

add unit tests
  tests/unit/contracts/graph/test_manifest.py
Due: isort, black, flake8

changelog entry
  .changes/unreleased/Fixes-20251204-094753.yaml
Due: none

parity with existing wheel builds
  .gitignore
  LICENSE
  core/LICENSE
  core/hatch.toml
  core/hatch_build.py
  core/pyproject.toml
Due: isort, black, flake8

Revert "temp script to compare wheels"
  scripts/compare_wheels.py
Due: isort, black, flake8

fix flaky invocation context + warn error settings in parser unit tests
  tests/unit/parser/test_parser.py
Due: isort, black, flake8

fix docker test file
  Dockerfile.test
  docker-compose.yml
Due: none

add functional testing
  tests/functional/dependencies/inverted_ref_dependency/dbt_project.yml
  tests/functional/dependencies/inverted_ref_dependency/models/a.sql
  tests/functional/dependencies/inverted_ref_dependency/models/b.sql
  tests/functional/dependencies/test_dependency_inverted_ref.py
Due: isort, black, flake8

Update Fixes-20251204-094753.yaml
  .changes/unreleased/Fixes-20251204-094753.yaml
Due: none

add unit test based on final config
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

only link dependency if unit test depends on enabled node
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

check test node enabled status during final parsing phase
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add Unit tests for task_end_messages covering all scenarios
  tests/unit/task/test_freshness.py
Due: isort, black, flake8

Refactor: Extract helper function and add fallback for task_end_messages
  core/dbt/task/freshness.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Move to hatch for build tooling (#12192)
  .bumpversion.cfg
  .changes/unreleased/Under the Hood-20251121-140515.yaml
  .github/workflows/cut-release-branch.yml
  .github/workflows/main.yml
  .github/workflows/nightly-release.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
  .gitignore
  CONTRIBUTING.md
  Dockerfile.test
  LICENSE
  Makefile
  core/LICENSE
  core/MANIFEST.in
  core/dbt/__version__.py
  core/dbt/version.py
  core/hatch.toml
  core/pyproject.toml
  core/setup.py
  dev-requirements.txt
  docker-compose.yml
  editable-requirements.txt
  scripts/build-dist.sh
  scripts/env-setup.sh
  tox.ini
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Move to hatch for build tooling (#12192) (#12257)
  .bumpversion.cfg
  .changes/unreleased/Under the Hood-20251121-140515.yaml
  .github/workflows/cut-release-branch.yml
  .github/workflows/main.yml
  .github/workflows/nightly-release.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
  .gitignore
  CONTRIBUTING.md
  Dockerfile.test
  LICENSE
  Makefile
  core/LICENSE
  core/MANIFEST.in
  core/dbt/__version__.py
  core/dbt/version.py
  core/hatch.toml
  core/pyproject.toml
  core/setup.py
  dev-requirements.txt
  docker-compose.yml
  editable-requirements.txt
  scripts/build-dist.sh
  scripts/env-setup.sh
  tox.ini
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix target file for dbt-common CI
  scripts/update_dev_packages.sh
Due: none

consolidate enabled unit test handling
  core/dbt/parser/unit_tests.py
  tests/functional/unit_testing/test_ut_list.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixup comments
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

emojis
  .changes/unreleased/Features-20251203-122926.yaml
  tests/functional/unit_testing/test_ut_list.py
Due: isort, black, flake8

set unit test config.enabled to False if it is testing a disabled model (#12251)
  .changes/unreleased/Features-20251203-122926.yaml
  core/dbt/parser/unit_tests.py
  tests/functional/unit_testing/fixtures.py
  tests/functional/unit_testing/test_ut_list.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

set version to 1.11.0rc2 on 1.11.latest
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

set version to 1.11.0rc2 on 1.11.latest (#12260)
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Bumping version to 1.11.0rc3 and generate changelog
  .changes/1.11.0-rc3.md
  .changes/1.11.0/Features-20251201-165209.yaml
  .changes/1.11.0/Features-20251203-122926.yaml
  .changes/1.11.0/Fixes-20251128-102129.yaml
  .changes/1.11.0/Fixes-20251128-163144.yaml
  .changes/1.11.0/Fixes-20251202-133705.yaml
  .changes/1.11.0/Under the Hood-20251121-140515.yaml
  CHANGELOG.md
  core/dbt/__version__.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add compile test for batch context vars
  tests/functional/microbatch/test_microbatch.py
Due: isort, black, flake8

add add_catalog_integration call even if we have a pre-existing manifest
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add changelog
  .changes/unreleased/Under the Hood-20251209-131857.yaml
Due: none

Add event name to `message` of recently added deprecations
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Make it harder to not supply the event name to deprecation messages
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add changie doc
  .changes/unreleased/Fixes-20251209-175031.yaml
Due: none

Support --empty flag for seeds
  core/dbt/cli/main.py
  core/dbt/context/providers.py
  tests/functional/test_empty.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add meta_require, meta_get and _lookup_meta functions
  core/dbt/context/providers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Fixup import naming
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add -v
  .github/workflows/main.yml
  .github/workflows/structured-logging-schema-check.yml
Due: none

clean up etc/images
  ARCHITECTURE.md
  core/README.md
  docs/images/dbt-arch.png
  docs/images/dbt-core.svg
  docs/images/dbt-dag.png
  docs/images/dbt-transform.png
Due: none

Update dbt-common version
  core/pyproject.toml
Due: none

clean up docs/arch
  docs/arch/README.md
  docs/arch/adr-001-perf-testing.md
  docs/arch/adr-002-structured-logging-arch.md
  docs/arch/adr-004-python-model-arch.md
  docs/arch/adr-005-betterproto.md
  docs/arch/versioning-branching-strategy.md
Due: none

improve error message clarity when detecting nodes with spaces in name
  .changes/unreleased/Fixes-20251210-143935.yaml
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fixup test
  tests/functional/manifest_validations/test_check_for_spaces_in_model_names.py
Due: isort, black, flake8

Changie
  .changes/unreleased/Features-20251210-202001.yaml
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
