Repository dbt-labs/dbt-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

Fix partial parsing bug with singular tests (#12224) (#12247)
  .changes/unreleased/Fixes-20251128-102129.yaml
  core/dbt/parser/partial.py
  tests/functional/partial_parsing/fixtures.py
  tests/functional/partial_parsing/test_partial_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

add warning
  core/dbt/events/types.py
  core/dbt/parser/manifest.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

set unit test config.enabled to False if it is testing a disabled model
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

changelog entry
  .changes/unreleased/Features-20251203-122926.yaml
Due: none

Improve --add-package duplicate detection (#12239)
  .changes/unreleased/Fixes-20251128-163144.yaml
  core/dbt/task/deps.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

TestUnitTestListDisabled
  tests/functional/unit_testing/fixtures.py
  tests/functional/unit_testing/test_ut_list.py
Due: isort, black, flake8

tweak
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Test for retrieving meta key using config.get
  dev-requirements.txt
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8

find disabled model for unit test
  core/dbt/parser/unit_tests.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Add test for config.require
  tests/functional/configs/test_get_default.py
Due: isort, black, flake8

put main back
  .github/workflows/release.yml
Due: none

initial hatch implmentation
  .gitignore
  core/hatch.toml
  core/pyproject.toml
  scripts/compare-wheels.sh
Due: none

cleanup hatch commands to match adapters
  .github/workflows/cut-release-branch.yml
  .github/workflows/main.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
  CONTRIBUTING.md
  Makefile
  core/hatch.toml
  core/pyproject.toml
  scripts/env-setup.sh
Due: none

replacing makefile
  .github/workflows/main.yml
  .github/workflows/test-repeater.yml
  CONTRIBUTING.md
  Makefile
  core/hatch.toml
  core/pyproject.toml
  scripts/build-dist.sh
Due: none

cleanup docs
  CONTRIBUTING.md
  core/MANIFEST.in
  core/setup.py
Due: isort, black, flake8

CI fix
  core/hatch.toml
Due: none

changelog
  .changes/unreleased/Under the Hood-20251121-140515.yaml
Due: none

more cleanup
  .github/workflows/release.yml
Due: none

fix for env
  .github/workflows/main.yml
Due: none

fix bumpversion
  .bumpversion.cfg
Due: none

remove odd license logic
  LICENSE
  core/hatch.toml
  core/pyproject.toml
  scripts/build-dist.sh
Due: none

use a standard version file
  core/dbt/__version__.py
  core/dbt/version.py
  core/hatch.toml
  core/pyproject.toml
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

define version for pyproject.toml
  core/pyproject.toml
Due: none

fix legacy build path
  .github/workflows/release.yml
Due: none

remove tox
  .github/workflows/main.yml
  CONTRIBUTING.md
  Dockerfile.test
  core/hatch.toml
  dev-requirements.txt
  tox.ini
Due: none

use hatch hook for license
  .gitignore
  core/hatch.toml
  core/hatch_build.py
  core/pyproject.toml
Due: isort, black, flake8

remove temp file for testing
  scripts/compare-wheels.sh
Due: none

ensure tests are split
  .github/workflows/main.yml
Due: none

fix up testing
  .github/workflows/main.yml
  CONTRIBUTING.md
  core/hatch.toml
  new logs
  old logs.csv
Due: none

explicitly match old verion in pyproject.toml
  core/hatch.toml
Due: none

get rid of bumpversion
  .bumpversion.cfg
  .github/workflows/cut-release-branch.yml
  .github/workflows/nightly-release.yml
  dev-requirements.txt
Due: none

put dev_dependencies.txtin hatch
  CONTRIBUTING.md
  core/hatch.toml
  dev-requirements.txt
  editable-requirements.txt
  new logs
  old logs.csv
Due: none

setup.py is now dead
  core/setup.py
Due: isort, black, flake8

set python version for local dev
  core/hatch.toml
Due: none

local dev fixes
  CONTRIBUTING.md
  core/hatch.toml
Due: none

bump dbt-protos
  core/pyproject.toml
Due: none

temp script to compare wheels
  scripts/compare_wheels.py
Due: isort, black, flake8

testing
  .github/workflows/release.yml
Due: none

fix tests
  core/dbt/parser/manifest.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
